includeConfig 'nextflow.config'

//
// Disable SALMON processes within FASTQ_SUBSAMPLE_FQ_SALMON to simulate
// a scenario where Salmon fails to produce lib_format_counts output
//

process {
    withName: '.*:FASTQ_SUBSAMPLE_FQ_SALMON:SALMON_INDEX' {
        ext.when = false
    }
    withName: '.*:FASTQ_SUBSAMPLE_FQ_SALMON:SALMON_QUANT' {
        ext.when = false
    }
}
