//
// Read subsampling and strand inferring options
//

process {

    withName: 'FQ_LINT_AFTER_TRIMMING' {
        ext.prefix = { "${meta.id}.trimmed" }
    }

    withName: 'FQ_LINT_AFTER_BBMAP' {
        ext.prefix = { "${meta.id}.bbmap" }
    }

    withName: 'FQ_LINT_AFTER_SORTMERNA' {
        ext.prefix = { "${meta.id}.sortmerna" }
    }

    withName: 'FQ_SUBSAMPLE' {
        ext.args   = '--record-count 1000000 --seed 1'
        ext.prefix = { "${meta.id}.subsampled" }
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:FASTQ_SUBSAMPLE_FQ_SALMON:SALMON_QUANT' {
        ext.args   = '--skipQuant --minAssignedFrags 1'
        publishDir = [
            enabled: false
        ]
    }
    withName: 'SORTMERNA' {
        ext.args  = '--index 0'
    }
    withName: 'SORTMERNA_INDEX' {
        ext.args  = '--index 1'
    }
}

