
process {
    withName: 'SALMON_QUANT' {
        ext.args   = { params.extra_salmon_quant_args ?: '' }
        publishDir = [
            path: { "${params.outdir}/${params.pseudo_aligner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || filename.endsWith('_meta_info.json') ? null : filename }
        ]
    }

    withName: 'SALMON_TX2GENE' {
        publishDir = [
            path: { "${params.outdir}/${params.pseudo_aligner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SALMON_TXIMPORT' {
        publishDir = [
            path: { "${params.outdir}/${params.pseudo_aligner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SALMON_SE_.*' {
        publishDir = [
            path: { "${params.outdir}/${params.pseudo_aligner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
