process {
    withName: 'MULTIQC' {
        ext.args = { [
            ((params.multiqc_title == null) ? '' : "--title \"${params.multiqc_title}\"")
        ].join(' ').trim() }
        ext.prefix = { meta.id == 'multiqc_report' ? "multiqc_report" : "${meta.id}_multiqc_report" }
        publishDir = [
            path: {
                if (meta.id == 'multiqc_report') {
                    "${params.outdir}/multiqc" + (params.skip_alignment ? '' : "/${params.aligner}")
                } else {
                    "${params.outdir}/${meta.id}/multiqc" + (params.skip_alignment ? '' : "/${params.aligner}")
                }
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
