if (!params.skip_multiqc) {
    process {
        withName: 'MULTIQC' {
            ext.args = { [
                ((params.multiqc_title == null) ? '' : "--title \"${params.multiqc_title}\"")
            ].join(' ').trim() }
            ext.prefix = "multiqc_report"
            publishDir = [
                path: { [
                    "${params.outdir}/multiqc",
                    params.skip_alignment? '' : "/${params.aligner}"
                    ].join('') },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
}
