//
// General alignment options
//

process {
    withName: 'NFCORE_RNASEQ:RNASEQ:.*:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = { "${meta.id}.sorted.bam" }
        publishDir = [
            path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}/samtools_stats" },
            mode: params.publish_dir_mode,
            pattern: "*.{stats,flagstat,idxstats}"
        ]
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:.*:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.sorted" }
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:.*:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_INDEX' {
        ext.args   = { params.bam_csi_index ? '-c' : '' }
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:.*:BAM_SORT_STATS_SAMTOOLS:(SAMTOOLS_SORT|SAMTOOLS_INDEX)' {
        publishDir = [
            path: { params.save_align_intermeds || params.skip_markduplicates ? "${params.outdir}/${task.ext.publish_prefix}${params.aligner}" : params.outdir },
            mode: params.publish_dir_mode,
            pattern: "*.{bam,bai,csi}",
            saveAs: { filename -> params.save_align_intermeds || params.skip_markduplicates ? filename : null }
        ]
    }
}
