//
// bigWig coverage options
//

process {
    withName: 'BEDTOOLS_GENOMECOV_FW' {
        ext.prefix = { meta.strandedness == 'reverse' ? meta.id + '.reverse' :  meta.id + '.forward' }
        ext.args   = { meta.strandedness == 'reverse' ? '-split -du -strand - -bg' : '-split -du -strand + -bg' }
    }

    withName: 'BEDTOOLS_GENOMECOV_REV' {
        ext.prefix = { meta.strandedness == 'reverse' ? meta.id + '.forward' :  meta.id + '.reverse' }
        ext.args   = { meta.strandedness == 'reverse' ? '-split -du -strand + -bg' : '-split -du -strand - -bg' }
    }

    withName: 'BEDTOOLS_GENOMECOV_COMBINED' {
        ext.prefix = { meta.id }
        ext.args   = '-split -bg'
    }

    withName: '(BEDTOOLS_GENOMECOV_(FW|REV|COMBINED)|.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_(FORWARD|REVERSE|COMBINED):UCSC_BEDCLIP)' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_FORWARD:UCSC_BEDCLIP' {
        ext.prefix = { "${meta.id}.clip.forward" }
    }

    withName: '.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_FORWARD:UCSC_BEDGRAPHTOBIGWIG' {
        ext.prefix = { "${meta.id}.forward" }
    }

    withName: '.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_REVERSE:UCSC_BEDCLIP' {
        ext.prefix = { "${meta.id}.clip.reverse" }
    }

    withName: '.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_REVERSE:UCSC_BEDGRAPHTOBIGWIG' {
        ext.prefix = { "${meta.id}.reverse" }
    }

    withName: '.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_COMBINED:UCSC_BEDCLIP' {
        ext.prefix = { "${meta.id}.clip" }
    }

    withName: '.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_COMBINED:UCSC_BEDGRAPHTOBIGWIG' {
        ext.prefix = { "${meta.id}" }
    }

    withName: '.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_(FORWARD|REVERSE|COMBINED):UCSC_BEDGRAPHTOBIGWIG' {
        publishDir = [
            path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}/bigwig" },
            mode: params.publish_dir_mode
        ]
    }
}
