//
// bigWig coverage options
//

process {
    withName: 'BEDTOOLS_GENOMECOV_FW' {
        ext.prefix = { sample.meta.strandedness == 'reverse' ? sample.meta.id + '.reverse' :  sample.meta.id + '.forward' }
        ext.args   = { sample.meta.strandedness == 'reverse' ? '-split -du -strand - -bg' : '-split -du -strand + -bg' }
    }

    withName: 'BEDTOOLS_GENOMECOV_REV' {
        ext.prefix = { sample.meta.strandedness == 'reverse' ? sample.meta.id + '.forward' :  sample.meta.id + '.reverse' }
        ext.args   = { sample.meta.strandedness == 'reverse' ? '-split -du -strand + -bg' : '-split -du -strand - -bg' }
    }

    withName: 'BEDTOOLS_GENOMECOV_COMBINED' {
        ext.prefix = { sample.meta.id }
        ext.args   = '-split -bg'
    }

    withName: '.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_FORWARD:UCSC_BEDCLIP' {
        ext.prefix = { "${sample.meta.id}.clip.forward" }
    }

    withName: '.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_FORWARD:UCSC_BEDGRAPHTOBIGWIG' {
        ext.prefix = { "${sample.meta.id}.forward" }
    }

    withName: '.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_REVERSE:UCSC_BEDCLIP' {
        ext.prefix = { "${sample.meta.id}.clip.reverse" }
    }

    withName: '.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_REVERSE:UCSC_BEDGRAPHTOBIGWIG' {
        ext.prefix = { "${sample.meta.id}.reverse" }
    }

    withName: '.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_COMBINED:UCSC_BEDCLIP' {
        ext.prefix = { "${sample.meta.id}.clip" }
    }

    withName: '.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_COMBINED:UCSC_BEDGRAPHTOBIGWIG' {
        ext.prefix = { "${sample.meta.id}" }
    }

}
