//
// DESeq2 QC options
//

process {
    withName: 'DESEQ2_QC_(BAM_SALMON|RSEM)' {
        ext.args   = { [
            "--id_col 1",
            "--sample_suffix ''",
            "--count_col 3",
            params.deseq2_vst ? '--vst TRUE' : ''
        ].join(' ').trim() }
        ext.args2  = { params.aligner }
        publishDir = [
            path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}/deseq2_qc" },
            mode: params.publish_dir_mode,
            pattern: "*{RData,pca.vals.txt,plots.pdf,sample.dists.txt,size_factors,log}"
        ]
    }
}
