process {
    withName: 'MULTIQC' {
        ext.args = { [
            ((params.multiqc_title == null) ? '' : "--title \"${params.multiqc_title}\"")
        ].join(' ').trim() }
        ext.prefix = { sample.meta.id == 'multiqc_report' ? "multiqc_report" : "${sample.meta.id}_multiqc_report" }
    }
}
