process {
    withName: 'MULTIQC' {
        ext.args = { [
            ((params.multiqc_title == null) ? '' : "--title \"${params.multiqc_title}\"")
        ].join(' ').trim() }
        ext.prefix = { meta.id == 'multiqc_report' ? "multiqc_report" : "${meta.id}_multiqc_report" }
        publishDir = [ enabled: false ]
    }
}
