//
// BAM-based Salmon quantification options (for star_salmon and bowtie2_salmon aligners)
//

process {
    // ext.args set by the SALMON_QUANT selector in quantify_pseudo_alignment.config.
    withName: '.*:QUANTIFY_BAM_SALMON:SALMON_QUANT' {
        publishDir = [ enabled: false ]
    }

    withName: '.*:QUANTIFY_BAM_SALMON:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:(CUSTOM_TX2GENE|TXIMETA_TXIMPORT)' {
        publishDir = [ enabled: false ]
    }

    withName: '.*:QUANTIFY_BAM_SALMON:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:SE_.*' {
        publishDir = [ enabled: false ]
    }

    withName: '.*:QUANTIFY_BAM_SALMON:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:SE_GENE_UNIFIED' {
        ext.prefix = { "salmon.merged.gene" }
    }

    withName: '.*:QUANTIFY_BAM_SALMON:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:SE_TRANSCRIPT_UNIFIED' {
        ext.prefix = { "salmon.merged.transcript" }
    }

    // UMI options for star_salmon aligner

    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_DEDUP_UMI:SAMTOOLS_SORT' {
        ext.args   = '-n'
        ext.prefix = { "${meta.id}.umi_dedup.transcriptome" }
        publishDir = [ enabled: false ]
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_DEDUP_UMI:UMITOOLS_PREPAREFORRSEM' {
        ext.prefix = { "${meta.id}.umi_dedup.transcriptome.filtered" }
        publishDir = [ enabled: false ]
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_DEDUP_UMI:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.transcriptome.sorted" }
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_DEDUP_UMI:BAM_SORT_STATS_SAMTOOLS:(SAMTOOLS_SORT|SAMTOOLS_INDEX)' {
        publishDir = [ enabled: false ]
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_DEDUP_UMI:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = { "${meta.id}.transcriptome.sorted.bam" }
        publishDir = [ enabled: false ]
    }

    // Use the same umi_dedup prefix for umitools and umicollapse

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMI(COLLAPSE|TOOLS)_TRANSCRIPTOME:UMI(COLLAPSE|TOOLS_DEDUP)' {
        ext.prefix = { "${meta.id}.umi_dedup.transcriptome.sorted" }
    }

    // Publishing logic for umitools:

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMITOOLS_TRANSCRIPTOME:UMITOOLS_DEDUP' {
        publishDir = [ enabled: false ]
    }

    // Publishing logic for umicollapse

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMICOLLAPSE_TRANSCRIPTOME:UMICOLLAPSE' {
        publishDir = [ enabled: false ]
    }

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMI(COLLAPSE|TOOLS)_TRANSCRIPTOME:SAMTOOLS_INDEX' {
        publishDir = [ enabled: false ]
    }

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMI(COLLAPSE|TOOLS)_TRANSCRIPTOME:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = { "${meta.id}.umi_dedup.transcriptome.sorted.bam" }
        publishDir = [ enabled: false ]
    }
}
