process {
    withName: '.*:BAM_RSEQC:RSEQC_BAMSTAT' {
        publishDir = [ enabled: false ]
    }

    withName: '.*:BAM_RSEQC:RSEQC_INFEREXPERIMENT' {
        publishDir = [ enabled: false ]
    }

    withName: '.*:BAM_RSEQC:RSEQC_JUNCTIONANNOTATION' {
        publishDir = [ enabled: false ]
    }

    withName: '.*:BAM_RSEQC:RSEQC_JUNCTIONSATURATION' {
        publishDir = [ enabled: false ]
    }

    withName: '.*:BAM_RSEQC:RSEQC_READDUPLICATION' {
        publishDir = [ enabled: false ]
    }

    withName: '.*:BAM_RSEQC:RSEQC_READDISTRIBUTION' {
        publishDir = [ enabled: false ]
    }

    withName: '.*:BAM_RSEQC:RSEQC_INNERDISTANCE' {
        publishDir = [ enabled: false ]
    }

    withName: '.*:BAM_RSEQC:RSEQC_TIN' {
        publishDir = [ enabled: false ]
    }
}
