process {
    withName: 'STRINGTIE_STRINGTIE' {
        ext.args = {
            def strandedness = meta.strandedness == 'forward' ? '--fr' :
                meta.strandedness == 'reverse' ? '--rf' : ''
            [ strandedness, '-v' ].join(' ').trim()
        }
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_STRINGTIE_MERGE:STRINGTIE_STRINGTIE' {
        ext.prefix = { "${meta.id}.denovo" }
    }

}
