//
// UMI deduplication options for star_salmon and hisat2
//

process {
    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMITOOLS_(GEN|TRANSCRIPT)OME:SAMTOOLS_VIEW_PRIMARY' {
        ext.args   = '-F 0x900 -b'
        ext.prefix = { "${sample.meta.id}.primary" }
    }

    // Use the same umi_dedup prefix for umitools and umicollapse

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMI(COLLAPSE|TOOLS)_GENOME:UMI(COLLAPSE|TOOLS_DEDUP)' {
        ext.prefix = { "${sample.meta.id}.umi_dedup.sorted" }
    }

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMI(COLLAPSE|TOOLS)_GENOME:SAMTOOLS_INDEX' {
        ext.prefix = { "${sample.meta.id}.umi_dedup.sorted" }
    }

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMI(COLLAPSE|TOOLS)_GENOME:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = { "${sample.meta.id}.umi_dedup.sorted.bam" }
    }
}
