//
// UMI deduplication options for star_salmon and hisat2
//

process {
    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMITOOLS_(GEN|TRANSCRIPT)OME:UMITOOLS_DEDUP' {
        ext.args = { [
            meta.single_end                 ? '' : '--unpaired-reads=discard --chimeric-pairs=discard',
            params.umitools_grouping_method ? "--method='${params.umitools_grouping_method}'" : '',
            params.umitools_umi_separator   ? "--umi-separator='${params.umitools_umi_separator}'" : ''
        ].join(' ').trim() }
    }

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMICOLLAPSE_(GEN|TRANSCRIPT)OME:UMICOLLAPSE' {
        ext.args = { [
            '--two-pass',
            meta.single_end                 ? '' : '--paired --remove-unpaired --remove-chimeric',
            params.umitools_grouping_method ? "--algo '" + ['directional':'dir','adjacency':'adj','cluster':'cc'].get(params.umitools_grouping_method, '') + "'" : '',
            params.umitools_umi_separator   ? "--umi-sep '${params.umitools_umi_separator}'" : '',
        ].join(' ').trim()}
    }

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMITOOLS_(GEN|TRANSCRIPT)OME:SAMTOOLS_VIEW_PRIMARY' {
        ext.args   = '-F 0x900 -b'
        ext.prefix = { "${meta.id}.primary" }
        publishDir = [ enabled: false ]
    }

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMITOOLS_(GEN|TRANSCRIPT)OME:SAMTOOLS_INDEX_PRIMARY' {
        ext.args   = { params.bam_csi_index ? '-c' : '' }
        publishDir = [ enabled: false ]
    }

    // Use the same umi_dedup prefix for umitools and umicollapse

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMI(COLLAPSE|TOOLS)_GENOME:UMI(COLLAPSE|TOOLS_DEDUP)' {
        ext.prefix = { "${meta.id}.umi_dedup.sorted" }
    }

    // Publishing logic for umitools:

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMITOOLS_GENOME:UMITOOLS_DEDUP' {
        publishDir = [
            [
                path: { params.save_align_intermeds || params.save_umi_intermeds ? "${params.outdir}/${task.ext.publish_prefix}${params.aligner}" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: '*.bam',
                saveAs: { filename -> params.save_align_intermeds || params.save_umi_intermeds ? filename : null }
            ],
            [
                path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}/umitools/genomic_dedup_log" },
                mode: params.publish_dir_mode,
                pattern: '*.log'
            ],
            [
                path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}/umitools" },
                mode: params.publish_dir_mode,
                pattern: '*.tsv'
            ]
        ]
    }

    // Publishing logic for umicollapse

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMICOLLAPSE_GENOME:UMICOLLAPSE' {
        publishDir = [
            [
                path: { params.save_align_intermeds || params.save_umi_intermeds ? "${params.outdir}/${task.ext.publish_prefix}${params.aligner}" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: '*.bam',
                saveAs: { filename -> params.save_align_intermeds || params.save_umi_intermeds ? filename : null }
            ],
            [
                path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}/umicollapse/genomic_dedup_log" },
                mode: params.publish_dir_mode,
                pattern: '*.log'
            ]
        ]
    }

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMI(COLLAPSE|TOOLS)_GENOME:SAMTOOLS_INDEX' {
        ext.args   = { params.bam_csi_index ? '-c' : '' }
        ext.prefix = { "${meta.id}.umi_dedup.sorted" }
        publishDir = [
            path: { params.save_align_intermeds || params.save_umi_intermeds ? "${params.outdir}/${task.ext.publish_prefix}${params.aligner}" : params.outdir },
            mode: params.publish_dir_mode,
            pattern: '*.{bai,csi}',
            saveAs: { filename -> params.save_align_intermeds || params.save_umi_intermeds ? filename : null }
        ]
    }

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMI(COLLAPSE|TOOLS)_GENOME:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = { "${meta.id}.umi_dedup.sorted.bam" }
        publishDir = [
            path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}/samtools_stats" },
            mode: params.publish_dir_mode,
            pattern: '*.{stats,flagstat,idxstats}'
        ]
    }
}
