publishDir = [
    [
        path: { "${params.outdir}/${params.aligner}/rseqc/read_duplication/pdf" },
        mode: params.publish_dir_mode,
        pattern: '*.pdf'
    ],
    [
        path: { "${params.outdir}/${params.aligner}/rseqc/read_duplication/xls" },
        mode: params.publish_dir_mode,
        pattern: '*.xls'
    ],
    [
        path: { "${params.outdir}/${params.aligner}/rseqc/read_duplication/rscript" },
        mode: params.publish_dir_mode,
        pattern: '*.r'
    ]
]