if (!params.skip_qc) {
    if (params.contaminant_screening in ['sylph']) {
        process {
            withName: 'SYLPH_PROFILE' {
                // -c 100 is recommended compression for reads
                // -u option provides information on unknown reads, but this does not appear in the sylph-tax MultiQC output
                // See https://sylph-docs.github.io/sylph-cookbook/ for full details
                ext.args = "-c 100 -u"
                publishDir = [
                    path: { "${params.outdir}/${params.aligner}/contaminants/sylph" },
                    mode: params.publish_dir_mode
                ]
            }
        }
    }
}
