sudo: required

language: java

jdk: openjdk8

services:
  - docker
env:
  - NXF_VER=0.22.3
install:
  - mkdir /tmp/nextflow
  - cd /tmp/nextflow
  - wget -qO- get.nextflow.io | bash
  - sudo ln -s /tmp/nextflow/nextflow /usr/local/bin/nextflow
  - cd ${TRAVIS_BUILD_DIR}/tests/

script: "./docker_test_hisat.sh"
