/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  NGI-RNAseq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

profiles {
  
  standard {
    includeConfig 'conf/uppmax.config'
  }
  
  // UNDER DEVELOPMENT
  docker {
    includeConfig 'conf/docker.config'
  }
  docker_test {
    includeConfig 'conf/docker_test.config'
  }
  amazon_simple {
    includeConfig 'conf/amazon_simple.config'
  }

}
