config {
    // Location of nf-tests
    testsDir "."

    // nf-test directory used to create temporary files for each test
    workDir System.getenv("NFT_WORKDIR") ?: ".nf-test"

    // Location of an optional nextflow.config file specific for executing pipeline tests
    configFile "tests/nextflow.config"

    profile "test"

    // load the necessary plugins
    plugins {
        load "nft-bam@0.3.0"
        load "nft-utils@0.0.2"
    }
}
