process.ext.args   = '--ASSUME_SORTED true --REMOVE_DUPLICATES false --VALIDATION_STRINGENCY LENIENT --TMP_DIR tmp'
ext.prefix = { "${meta.id}.markdup.sorted" }
process.publishDir = [
    [
        path: { "${params.outdir}/${params.aligner}/picard_metrics" },
        mode: params.publish_dir_mode,
        pattern: '*metrics.txt'
    ],
    [
        path: { "${params.outdir}/${params.aligner}" },
        mode: params.publish_dir_mode,
        pattern: '*.bam'
    ]
]