process {
    withName:QUALIMAP_RNASEQ {
        ext.args = {
            ( sample.meta.strandedness == "forward" || sample.meta.single_end ) ?
            "-p strand-specific-forward" :
            sample.meta.strandedness == "reverse" ?
            "-p strand-specific-reverse" :
            "-p non-strand-specific"
        }
    }
}
