process {
    withName:QUALIMAP_RNASEQ {
        ext.args = {
            ( meta.strandedness == "forward" || meta.single_end ) ?
            "-p strand-specific-forward" :
            meta.strandedness == "reverse" ?
            "-p strand-specific-reverse" :
            "-p non-strand-specific"
        }
    }
}
