ext.args   = '--met-stderr --new-summary --dta'
publishDir = [
    [
        path: { "${params.outdir}/${params.aligner}/log" },
        mode: params.publish_dir_mode,
        pattern: '*.log'
    ],
    [
        path: { "${params.outdir}/${params.aligner}" },
        mode: params.publish_dir_mode,
        pattern: '*.bam',
        saveAs: { params.save_align_intermeds ? it : null }
    ],
    [
        path: { "${params.outdir}/${params.aligner}/unmapped" },
        mode: params.publish_dir_mode,
        pattern: '*.fastq.gz',
        saveAs: { params.save_unaligned ? it : null }
    ]
]