
withName: 'PICARD_MARKDUPLICATES' {
    ext.args   = '--ASSUME_SORTED true --REMOVE_DUPLICATES false --VALIDATION_STRINGENCY LENIENT --TMP_DIR tmp'
    ext.prefix = { "${meta.id}.markdup.sorted" }
    publishDir = [
        [
            path: { "${params.outdir}/${params.aligner}/picard_metrics" },
            mode: params.publish_dir_mode,
            pattern: '*metrics.txt'
        ],
        [
            path: { "${params.outdir}/${params.aligner}" },
            mode: params.publish_dir_mode,
            pattern: '*.bam'
        ]
    ]
}

withName: 'SAMTOOLS_INDEX' {
    ext.args   = { params.bam_csi_index ? '-c' : '' }
    ext.prefix = { "${meta.id}.markdup.sorted" }
    publishDir = [
        path: { "${params.outdir}/${params.aligner}" },
        mode: params.publish_dir_mode,
        pattern: '*.{bai,csi}'
    ]
}

withName: 'BAM_STATS_SAMTOOLS:.*' {
    ext.prefix = { "${meta.id}.markdup.sorted.bam" }
    publishDir = [
        path: { "${params.outdir}/${params.aligner}/samtools_stats" },
        mode: params.publish_dir_mode,
        pattern: '*.{stats,flagstat,idxstats}'
    ]
}
