if (!params.skip_markduplicates && !params.with_umi) {
    process {
        withName: '.*:BAM_MARKDUPLICATES_PICARD:PICARD_MARKDUPLICATES' {
            ext.args   = '--ASSUME_SORTED true --REMOVE_DUPLICATES false --VALIDATION_STRINGENCY LENIENT --TMP_DIR tmp'
            ext.prefix = { "${meta.id}.markdup.sorted" }
            publishDir = [
                [
                    path: { "${params.outdir}/${params.aligner}/picard_metrics" },
                    mode: params.publish_dir_mode,
                    pattern: '*metrics.txt'
                ],
                [
                    path: { "${params.outdir}/${params.aligner}" },
                    mode: params.publish_dir_mode,
                    pattern: '*.bam'
                ]
            ]
        }

        withName: '.*:BAM_MARKDUPLICATES_PICARD:SAMTOOLS_INDEX' {
            ext.args   = { params.bam_csi_index ? '-c' : '' }
            ext.prefix = { "${meta.id}.markdup.sorted" }
            publishDir = [
                path: { "${params.outdir}/${params.aligner}" },
                mode: params.publish_dir_mode,
                pattern: '*.{bai,csi}'
            ]
        }

        withName: '.*:BAM_MARKDUPLICATES_PICARD:BAM_STATS_SAMTOOLS:.*' {
            ext.prefix = { "${meta.id}.markdup.sorted.bam" }
            publishDir = [
                path: { "${params.outdir}/${params.aligner}/samtools_stats" },
                mode: params.publish_dir_mode,
                pattern: '*.{stats,flagstat,idxstats}'
            ]
        }
    }
}
