if (!params.skip_qc) {
    if (params.contaminant_screening in ['kraken2', 'kraken2_bracken']) {
        process {
            withName: 'KRAKEN2' {
                // See https://doi.org/10.1080/19490976.2024.2323235 for the confidence level
                // and https://doi.org/10.1038/s41596-022-00738-y for the minimum-hit-groups
                ext.args = "--confidence 0.05 --minimum-hit-groups 3"
                publishDir = [
                    path: { "${params.outdir}/${params.aligner}/contaminants/kraken2/kraken_reports" },
                    mode: params.publish_dir_mode
                ]
            }
        }
    }
}
