if (!params.skip_alignment && !params.skip_qc) {
    if (params.kraken_db) {
        process {
            withName: 'KRAKEN2' {
                ext.args = "--confidence 0.05 --minimum-hit-groups 3"
                publishDir = [
                    path: { "${params.outdir}/kraken2/kraken_reports" },
                    mode: params.publish_dir_mode
                ]
            }
        }
    }
}