process {
    withName: 'CAT_FASTQ' {
        publishDir = [
            path: { params.save_merged_fastq ? "${params.outdir}/fastq" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename.endsWith('.fastq.gz') && params.save_merged_fastq) ? filename : null }
        ]
    }
}
