process {
    withName: '.*:FASTQ_ALIGN_HISAT2:HISAT2_ALIGN' {
        ext.args   = '--met-stderr --new-summary --dta'
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/log" },
                mode: params.publish_dir_mode,
                pattern: '*.log'
            ],
            [
                path: { params.save_align_intermeds ? "${params.outdir}/${params.aligner}" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: '*.bam',
                saveAs: { filename -> params.save_align_intermeds ? filename : null }
            ],
            [
                path: { params.save_unaligned ? "${params.outdir}/${params.aligner}/unmapped" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
                saveAs: { filename -> params.save_unaligned ? filename : null }
            ]
        ]
    }
}
