/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// TODO nf-core: Specify any additional parameters here
// Or any resources requirements
params {
    modules_testdata_base_path = 's3://ngi-igenomes/testdata/nf-core/modules/'
    pipelines_testdata_base_path = 's3://ngi-igenomes/testdata/nf-core/pipelines/rnaseq/3.15/'
    hisat2_build_memory = '3.GB'
    outdir = 'results'
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners

// Impose sensible resource limits for testing
process {
    withName: '.*' {
        cpus   = 2
        memory = 3.GB
        time   = 2.h
    }

    withName: 'FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS:FQ_LINT_AFTER_SORTMERNA' {
        ext.args = null
    }
}

// NOTE This is how pipeline users will use Sentieon in real world use
if (System.getenv('SENTIEON_LICSRVR_IP')) {
    env.SENTIEON_LICENSE = "$SENTIEON_LICSRVR_IP"
}
//NOTE This should only happen in GitHub actions or nf-core MegaTests
if (System.getenv('SENTIEON_AUTH_MECH')) {
    env.SENTIEON_AUTH_MECH = "$SENTIEON_AUTH_MECH"
}
if (secrets.SENTIEON_AUTH_DATA) {
    env.SENTIEON_AUTH_DATA = secrets.SENTIEON_AUTH_DATA
}

// NOTE This is how pipeline users will test out Sentieon with a license file
// nextflow secrets set SENTIEON_LICENSE_BASE64 \$(cat <sentieon_license_file.lic> | base64 -w 0)
