// Test config for read group assembly
// Includes the production subworkflow config so the RG closure is exercised

params {
    aligner               = 'star_salmon'
    outdir                = 'results'
    publish_dir_mode      = 'copy'
    save_unaligned        = false
    save_align_intermeds  = false
    contaminant_screening = null
    prokaryotic           = false
    extra_star_align_args = ''
    seq_center            = 'GLOBAL_CENTER'
    seq_platform          = null
}

includeConfig '../nextflow.config'

process {
    withName: 'STAR_GENOMEGENERATE.*' {
        ext.args = '--genomeSAindexNbases 9'
    }

    // Disable publishDir during tests
    withName: '.*ALIGN_STAR:STAR_ALIGN|.*ALIGN_STAR:STAR_ALIGN_IGENOMES|.*ALIGN_STAR:SENTIEON_STAR_ALIGN|.*ALIGN_STAR:PARABRICKS_RNA_FQ2BAM' {
        publishDir = []
    }
}
