process {
    withName: 'STAR_GENOMEGENERATE.*' {
        ext.args = '--genomeSAindexNbases 9'
    }

    withName: '.*STAR_ALIGN.*' {
        ext.args = '--readFilesCommand zcat --outSAMtype BAM SortedByCoordinate --outWigType bedGraph --outWigStrand Unstranded'
    }
}

env {
    // Sentieon environment configuration
    SENTIEON_LICENSE   = System.getenv('SENTIEON_LICSRVR_IP')
    SENTIEON_AUTH_MECH = System.getenv('SENTIEON_AUTH_MECH')
    SENTIEON_AUTH_DATA = secrets.SENTIEON_AUTH_DATA
}
