process {

    // Preseq may fail on BAMs without sufficient positional duplicates.
    // The yeast RNA-seq test BAM has enough reads but few duplicates.
    withName: PRESEQ_LCEXTRAP {
        errorStrategy = 'ignore'
    }

    // Configure featureCounts for the yeast GTF which uses 'exon' features
    // and gene_biotype grouping
    withName: SUBREAD_FEATURECOUNTS {
        ext.args = '-g gene_biotype -t exon'
    }

    // Name-sort BAM for qualimap
    withName: SAMTOOLS_SORT_QUALIMAP {
        ext.args = '-n'
        ext.prefix = { "${meta.id}.namesorted" }
    }

    // Tell qualimap input is name-sorted
    withName: QUALIMAP_RNASEQ {
        ext.args = '--sorted'
    }

}
