process.ext.args   = { [
    "--id_col 1",
    "--sample_suffix ''",
    "--outprefix deseq2",
    "--count_col 3",
    params.deseq2_vst ? '--vst TRUE' : ''
].join(' ').trim() }

process.publishDir = [
    path: { "${params.outdir}/${params.aligner}/deseq2_qc" },
    mode: params.publish_dir_mode,
    pattern: "*{RData,pca.vals.txt,plots.pdf,sample.dists.txt,size_factors,log}"
]