if (!params.skip_alignment && !params.skip_qc) {
    if (!params.skip_kraken2) {
        withName: 'BRACKEN' {
            ext.args = "-l ${params.bracken_precision}"
            publishDir = [
                path: { "${params.outdir}/bracken" },
                mode: params.publish_dir_mode
            ]
        }
    }
}