if (!params.skip_qc) {
    if (params.contaminant_screening == 'kraken2_bracken') {
        process {
            withName: 'BRACKEN' {
                ext.args = "-l ${params.bracken_precision}"
                publishDir = [
                    path: { "${params.outdir}/${params.aligner}/contaminants/bracken" },
                    mode: params.publish_dir_mode
                ]
            } 
        }
    }
}
