if (!params.skip_alignment && !params.skip_qc) {
    if (params.kraken_db && !params.skip_bracken) {
        process {
            withName: 'BRACKEN' {
                ext.args = "-l ${params.bracken_precision}"
                publishDir = [
                    path: { "${params.outdir}/bracken" },
                    mode: params.publish_dir_mode
                ]
            } 
        }
    }
}