process {
    withName: 'GFFREAD' {
        ext.args   = '--keep-exon-attrs -F -T'
    }

    withName: '.*RSEM_PREPAREREFERENCE_GENOME' {
        ext.args   = '--star'
    }

    withName: 'STAR_GENOMEGENERATE.*' {
        ext.args = '--genomeSAindexNbases 9'
    }

    withName: 'STAR_ALIGN.*' {
        ext.args = '--readFilesCommand zcat --outSAMtype BAM SortedByCoordinate --outWigType bedGraph --outWigStrand Unstranded'
    }

    withName: 'UNTAR_.*' {
        ext.args2 = '--no-same-owner'
    }
}

// Fix chown issue for the output star folder
docker.runOptions = '--platform=linux/amd64 -u $(id -u):$(id -g)'

// NOTE This is how pipeline users will use Sentieon in real world use
if (System.getenv('SENTIEON_LICSRVR_IP')) {
    env.SENTIEON_LICENSE = "$SENTIEON_LICSRVR_IP"
}
//NOTE This should only happen in GitHub actions or nf-core MegaTests
if (System.getenv('SENTIEON_AUTH_MECH')) {
    env.SENTIEON_AUTH_MECH = "$SENTIEON_AUTH_MECH"
}
if (secrets.SENTIEON_AUTH_DATA) {
    env.SENTIEON_AUTH_DATA = secrets.SENTIEON_AUTH_DATA
}

// NOTE This is how pipeline users will test out Sentieon with a license file
// nextflow secrets set SENTIEON_LICENSE_BASE64 \$(cat <sentieon_license_file.lic> | base64 -w 0)
