process {
    withName: 'GFFREAD' {
        ext.args   = '--keep-exon-attrs -F -T'
    }

    withName: 'RSEM_PREPAREREFERENCE_GENOME' {
        ext.args   = '--star'
    }

    withName: 'STAR_GENOMEGENERATE.*' {
        ext.args = '--genomeSAindexNbases 9'
    }

    withName: 'STAR_ALIGN.*' {
        ext.args = '--readFilesCommand zcat --outSAMtype BAM SortedByCoordinate --outWigType bedGraph --outWigStrand Unstranded'
    }

    withName: 'UNTAR_.*' {
        ext.args2 = '--no-same-owner'
    }
}

// Fix chown issue for the output star folder
docker.runOptions = '--platform=linux/amd64 -u $(id -u):$(id -g)'
