process {

    withName: UMITOOLS_EXTRACT {
        ext.args = '--bc-pattern="NNNN" --bc-pattern2="NNNN"'
    }

    withName: UMICOLLAPSE {
        ext.prefix = { "${meta.id}.dedup" }
    }

    // Make filtering more aggressive to make more reads fail
    withName: FASTP {
        ext.args = params.fastp_args
    }

}
