// IMPORTANT: Add this configuration to your modules.config

process {
    withName: '.*:QUANTIFY_RSEM:RSEM_CALCULATEEXPRESSION|.*:QUANTIFY_RSEM:SENTIEON_RSEMCALCULATEEXPRESSION' {
        ext.args   = '--estimate-rspd --seed 1'
    }

    withName: '.*:QUANTIFY_RSEM:CUSTOM_RSEMMERGECOUNTS' {
        ext.prefix = { "rsem.merged" }
    }
}
