process {

    withName: STAR_GENOMEGENERATE {
        ext.args = '--genomeSAindexNbases 9'
    }

    withName: STAR_ALIGN {
        ext.args = '--readFilesCommand zcat --outSAMtype BAM SortedByCoordinate --outWigType bedGraph --outWigStrand Unstranded'
    }

}

// Fix chown issue for the output star folder
docker.runOptions = '--platform=linux/amd64 -u $(id -u):$(id -g)'
