
withName: 'GUNZIP_.*|MAKE_TRANSCRIPTS_FASTA' {
    publishDir = [
        path: { "${params.outdir}/genome" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : params.save_reference ? filename : null }
    ]
}

withName: 'UNTAR_.*' {
    ext.args2 = '--no-same-owner'
}

withName: 'UNTAR_.*|STAR_GENOMEGENERATE|STAR_GENOMEGENERATE_IGENOMES|HISAT2_BUILD' {
    publishDir = [
        path: { "${params.outdir}/genome/index" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : params.save_reference ? filename : null }
    ]
}

withName: 'GFFREAD' {
    ext.args   = '--keep-exon-attrs -F -T'
    publishDir = [
        path: { "${params.outdir}/genome" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : params.save_reference ? filename : null }
    ]
}

withName: 'HISAT2_EXTRACTSPLICESITES' {
    publishDir = [
        path: { "${params.outdir}/genome/index" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : params.save_reference ? filename : null }
    ]
}

withName: 'SALMON_INDEX' {
    ext.args   = params.gencode ? '--gencode' : ''
    publishDir = [
        path: { "${params.outdir}/genome/index" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : params.save_reference ? filename : null }
    ]
}

withName: 'RSEM_PREPAREREFERENCE_GENOME' {
    ext.args   = '--star'
    publishDir = [
        path: { "${params.outdir}/genome/index" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : params.save_reference ? filename : null }
    ]
}

withName: 'GTF2BED' {
    publishDir = [
        path: { "${params.outdir}/genome" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : params.save_reference ? filename : null }
    ]
}

withName: 'CAT_ADDITIONAL_FASTA|PREPROCESS_TRANSCRIPTS_FASTA_GENCODE' {
    publishDir = [
        path: { "${params.outdir}/genome" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : params.save_reference ? filename : null }
    ]
}

withName: 'GTF_GENE_FILTER' {
    publishDir = [
        path: { "${params.outdir}/genome" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : params.save_reference ? filename : null }
    ]
}

withName: 'CUSTOM_GETCHROMSIZES' {
    publishDir = [
        path: { "${params.outdir}/genome" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : params.save_reference ? filename : null }
    ]
}

withName: 'BBMAP_BBSPLIT' {
    ext.args   = 'build=1'
    publishDir = [
        path: { "${params.outdir}/genome/index" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : params.save_reference ? filename : null }
    ]
}
