process {
    withName: 'UNTAR_.*' {
        ext.args2 = '--no-same-owner'
    }

    withName: 'GFFREAD' {
        ext.args   = '--keep-exon-attrs -F -T'
    }

    withName: 'SALMON_INDEX' {
        ext.args   = { [
                params.gencode ? '--gencode' : '',
                params.pseudo_aligner_kmer_size ? "-k ${params.pseudo_aligner_kmer_size}": ''
        ].join(' ').trim() }
    }

    withName: 'KALLISTO_INDEX' {
        ext.args   = params.pseudo_aligner_kmer_size ? "-k ${params.pseudo_aligner_kmer_size}" : ''
    }

    withName: 'RSEM_PREPAREREFERENCE_GENOME' {
        ext.args   = '--star'
    }

    withName: 'GTF_FILTER' {
        ext.args   = { params.skip_gtf_transcript_filter ?: '--skip_transcript_id_check' }
    }
}

if (!params.skip_bbsplit && params.bbsplit_fasta_list) {
    process {
        withName: 'PREPARE_GENOME:BBMAP_BBSPLIT' {
            ext.args   = 'build=1'
        }
    }
}
