
withName: 'GUNZIP_.*|MAKE_TRANSCRIPTS_FASTA' {
    process.publishDir = [
        path: { "${params.outdir}/genome" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : params.save_reference ? filename : null }
    ]
}

withName: 'UNTAR_.*' {
    process.publishDir = [
        path: { "${params.outdir}/genome/index" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : params.save_reference ? filename : null }
    ]
}

withName: 'RSEM_PREPAREREFERENCE_GENOME' {
    process.ext.args   = '--star'
    process.publishDir = [
        path: { "${params.outdir}/genome/index" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : params.save_reference ? filename : null }
    ]
}

withName: 'BBMAP_BBSPLIT' {
    process.ext.args   = 'build=1'
    process.publishDir = [
        path: { "${params.outdir}/genome/index" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : params.save_reference ? filename : null }
    ]
}
