/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for Amazon Tests
 * -------------------------------------------------
 * Used for testing the pipeline on AWS. Probably
 * shouldn't pay too much attention to this one.
 */
params {
  genome = 'amazon_test'
  genomes {
    'amazon_test' {
      fasta   = '/tmp/ngi-rna_test_set/genome.fa'
      gtf     = '/tmp/ngi-rna_test_set/genes.gtf'
      bed12   = '/tmp/ngi-rna_test_set/genes.bed'
      star    = '/tmp/ngi-rna_test_set/star/'
    }
  }
}

process {
  executor = 'local'
  cpus = 4
  memory = 15.GB
  time = 48.h
}

