/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for Amazon Tests
 * -------------------------------------------------
 * Used for testing the pipeline on AWS. Probably
 * shouldn't pay too much attention to this one.
 */
params {
  genome = 'amazon_test'
  genomes {
    'amazon_test' {
      fasta   = '/tmp/ngi-rna_test_set/genome.fa'
      gtf     = '/tmp/ngi-rna_test_set/genes.gtf'
      bed12   = '/tmp/ngi-rna_test_set/genes.bed'
      star    = '/tmp/ngi-rna_test_set/star/'
    }
  }
  // Need to specify this here (as well as main.nf) so that timeline and trace work below.
  outdir = './results'
}

process {
  cpus = 4
  memory = 15.GB
  time = 48.h
}

timeline {
  enabled = true
  file = "${params.outdir}/NGI-RNAseq_timeline.html"
}
trace {
  enabled = true
  file = "${params.outdir}/NGI-RNAseq_trace.txt"
}
