/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running the pipeline with ARM architecture
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines custom containers and Conda definitions required to run pipeline with ARM.

    Use as follows:
        nextflow run nf-core/rnaseq -profile <docker/singularity>,arm <OTHER_PARAMETERS>

----------------------------------------------------------------------------------------
*/

process {

    //
    // Tools that have native Conda builds for AMD and ARM
    //

    withName: 'GTF_FILTER' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/f0/f012a4fe624e7965c4c52fe1eb1b591a3d97cee5c16c5c0d654aa86ee1c0c801/data' : 'community.wave.seqera.io/library/python:3.9.5--d54415978b031ba5' }
    }

    withName: 'PREPROCESS_TRANSCRIPTS_FASTA_GENCODE' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/4a/4ad78019c37ff4ab22c0dff6ab1af655c6438562ef644d0323861a97971d7694/data' : 'community.wave.seqera.io/library/sed:4.7--978821297d2b6677' }
    }

    withName: 'DESEQ2_QC' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/70/70a3d17733d2c21cff464c31a7a57438cea528bea84c675b7c474eaa7f075f57/data' : 'community.wave.seqera.io/library/r-base_r-optparse_r-ggplot2_r-rcolorbrewer_pruned:8bd3e9db55b129d7' }
    }

    withName: 'GTF2BED' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/89/896a3e55b2f664def0f8707420e1f53b4c447adb99fd6a1432a155c3403b9199/data' : 'community.wave.seqera.io/library/perl:5.26.2--2a6adf51d600e047' }
    }

    withName: 'MULTIQC_CUSTOM_BIOTYPE' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/f0/f012a4fe624e7965c4c52fe1eb1b591a3d97cee5c16c5c0d654aa86ee1c0c801/data' : 'community.wave.seqera.io/library/python:3.9.5--d54415978b031ba5' }
    }

    withName: 'RSEM_MERGE_COUNTS' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/4a/4ad78019c37ff4ab22c0dff6ab1af655c6438562ef644d0323861a97971d7694/data' : 'community.wave.seqera.io/library/sed:4.7--978821297d2b6677' }
    }

    withName: 'UCSC_BEDCLIP' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/5f/5f559cabdfda8b2937c4213d3a53547eb882b2fc8cc36ebfeff07481fa47823a/data' : 'community.wave.seqera.io/library/ucsc-bedclip:377--489576e83f1992e0' }
    }

    withName: 'UCSC_BEDGRAPHTOBIGWIG' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/38/389312a4a6022c5f5d2510dfa9bedb0491b36c8a27e8d842c05de00bc3b5be76/data' : 'community.wave.seqera.io/library/ucsc-bedgraphtobigwig:469--1db18e1b19f8e5f1' }
    }

    withName: 'CAT_FASTQ' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/38/38d3638640600b355110f9bca56c514e3cc068bf96b8b68f98cba2a59a053505/data' : 'community.wave.seqera.io/library/coreutils:9.5--3931e2d27d9884e5' }
    }

    withName: 'RSEQC_TIN' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/63/6306dc454d7a565c726e30b9da0b9070fc67555516a660c54e7baba365070b25/data' : 'community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' }
    }

    withName: 'RSEQC_READDISTRIBUTION' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/63/6306dc454d7a565c726e30b9da0b9070fc67555516a660c54e7baba365070b25/data' : 'community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' }
    }

    withName: 'RSEQC_JUNCTIONSATURATION' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/63/6306dc454d7a565c726e30b9da0b9070fc67555516a660c54e7baba365070b25/data' : 'community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' }
    }

    withName: 'RSEQC_READDUPLICATION' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/63/6306dc454d7a565c726e30b9da0b9070fc67555516a660c54e7baba365070b25/data' : 'community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' }
    }

    withName: 'RSEQC_INFEREXPERIMENT' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/63/6306dc454d7a565c726e30b9da0b9070fc67555516a660c54e7baba365070b25/data' : 'community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' }
    }

    withName: 'RSEQC_BAMSTAT' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/63/6306dc454d7a565c726e30b9da0b9070fc67555516a660c54e7baba365070b25/data' : 'community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' }
    }

    withName: 'RSEQC_INNERDISTANCE' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/63/6306dc454d7a565c726e30b9da0b9070fc67555516a660c54e7baba365070b25/data' : 'community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' }
    }

    withName: 'RSEQC_JUNCTIONANNOTATION' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/63/6306dc454d7a565c726e30b9da0b9070fc67555516a660c54e7baba365070b25/data' : 'community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' }
    }

    withName: 'PICARD_MARKDUPLICATES' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/c0/c0d4bbb10417a70d137a28da09329d9f9fbdf964a1cfeda24b05b618cae6b16f/data' : 'community.wave.seqera.io/library/picard:3.1.1--c28da730a329ab3c' }
    }

    withName: 'QUALIMAP_RNASEQ' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7a/7aa0998788d327c6e7104c2c1e7bea2e8bb8fb7076ec5de3fdab4027e501b9a9/data' : 'community.wave.seqera.io/library/qualimap:2.3--8375b60bba97a2a6' }
    }

    withName: 'SUBREAD_FEATURECOUNTS' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/2a/2a81571bc8c4ac812adb76c51045a245041d7cc8923a2d7cc34a866588fead0c/data' : 'community.wave.seqera.io/library/subread:2.0.6--df9c6b502b57bb9c' }
    }

    withName: 'MULTIQC' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/6e/6e97dcafc5915f90f863e70153f96bbe47963ebfd08383454d8bcd7263696e4e/data' : 'community.wave.seqera.io/library/multiqc:1.25.1--4062a515975cacba' }
    }

    withName: 'STRINGTIE_STRINGTIE' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/9e/9ebc6b1a27262420a5739330d369086b0d8c941a43b81d3fd0f741045bb3d46f/data' : 'community.wave.seqera.io/library/stringtie:2.2.3--77d8df3265c94ba1' }
    }

    withName: 'UNTAR' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/4b/4bcb36d5e1fb90c8af0171a83b792ada446b04feb4ac3f26d0ce550d3c678383/data' : 'community.wave.seqera.io/library/grep_sed_tar:4b2523b1c76a5494' }
    }

    withName: 'FQ_SUBSAMPLE' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b0/b00189d4f7eed55199354a3dff8a9a535e1dfb3a2f4c97f5d0bf9e388105795e/data' : 'community.wave.seqera.io/library/fq:0.12.0--ad6857b304869ce9' }
    }

    withName: 'DUPRADAR' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/10/10141f8fd43964316d04214a5f7d99a62e11cdbab5bd2fcd4f7c3c06eca9f2f6/data' : 'community.wave.seqera.io/library/bioconductor-dupradar:1.32.0--f75495d6abf45328' }
    }

    withName: 'SUMMARIZEDEXPERIMENT_SUMMARIZEDEXPERIMENT' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a7/a7d1ef576617b9790973bc9d178c4ef136a52b6337260c536cff6cd68f103b45/data' : 'community.wave.seqera.io/library/bioconductor-summarizedexperiment:1.32.0--859858039875a2a5' }
    }

    withName: 'STAR_GENOMEGENERATE' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a2/a2d5226e4ce3dee8b29154c16a87d282d96c76e75b6678d032643902591586e2/data' : 'community.wave.seqera.io/library/htslib_samtools_star_gawk:1d1b7da208684cac' }
    }

    withName: 'STAR_ALIGN' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a2/a2d5226e4ce3dee8b29154c16a87d282d96c76e75b6678d032643902591586e2/data' : 'community.wave.seqera.io/library/htslib_samtools_star_gawk:1d1b7da208684cac' }
    }

    withName: 'TXIMETA_TXIMPORT' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/f8/f89ab1fef6e38e572ad1844d06f6d3d334d2b19a70c9e5d87bfc862b88728c23/data' : 'community.wave.seqera.io/library/bioconductor-tximeta:1.20.1--3b0ca8a1710e2b2b' }
    }

    withName: 'SORTMERNA' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/f1/f161ea3d4083b7d8fcbf8524cb5ab69f386b4e36b771bb5abf9ccf8ab29e9775/data' : 'community.wave.seqera.io/library/sortmerna:4.3.7--4cc83a7bffbaaa61' }
    }

    withName: 'PRESEQ_LCEXTRAP' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/5a/5ab535d5b4c88dc4837cab00919d4d5ea66dd4d6dc837d841886bef72145f435/data' : 'community.wave.seqera.io/library/preseq:3.2.0--80c9d2ffee38d3ac' }
    }

    withName: 'BEDTOOLS_GENOMECOV' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/51/519a920dacc643078823740486c40d30b9f555c493217d9f72db04901350e009/data' : 'community.wave.seqera.io/library/bedtools:2.31.1--efd79503b8c63422' }
    }

    withName: 'BBMAP_BBSPLIT' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/63/63ca91c8bf7285296777de219e5d5a71d2a7de47599cbc94441aced7868a4f83/data' : 'community.wave.seqera.io/library/bbmap:39.10--908996c2fb304bec' }
    }

    withName: 'FASTQC' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/fd/fd39534bf298698cbe3ee4d4a6f1e73330ec4bca44c38dd9a4d06cb5ea838017/data' : 'community.wave.seqera.io/library/fastqc:0.12.1--df99cb252670875a' }
    }

    withName: 'KALLISTO_QUANT' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/24/24655791b5db39ffdfffa8e5aeabfd11dda4553b5311ddb22e724c38b1591e8d/data' : 'community.wave.seqera.io/library/kallisto:0.51.1--58dde61fc91c371b' }
    }

    withName: 'KALLISTO_INDEX' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/24/24655791b5db39ffdfffa8e5aeabfd11dda4553b5311ddb22e724c38b1591e8d/data' : 'community.wave.seqera.io/library/kallisto:0.51.1--58dde61fc91c371b' }
    }

    withName: 'SAMTOOLS_SORT' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b9/b993d5094fcf4fe7e5016b9118363a8e9dc1a48e35964e5f15465ba4a65739e9/data' : 'community.wave.seqera.io/library/htslib_samtools:1.21--1dcf014b5ab22a61' }
    }

    withName: 'SAMTOOLS_IDXSTATS' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b9/b993d5094fcf4fe7e5016b9118363a8e9dc1a48e35964e5f15465ba4a65739e9/data' : 'community.wave.seqera.io/library/htslib_samtools:1.21--1dcf014b5ab22a61' }
    }

    withName: 'SAMTOOLS_INDEX' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b9/b993d5094fcf4fe7e5016b9118363a8e9dc1a48e35964e5f15465ba4a65739e9/data' : 'community.wave.seqera.io/library/htslib_samtools:1.21--1dcf014b5ab22a61' }
    }

    withName: 'SAMTOOLS_FLAGSTAT' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b9/b993d5094fcf4fe7e5016b9118363a8e9dc1a48e35964e5f15465ba4a65739e9/data' : 'community.wave.seqera.io/library/htslib_samtools:1.21--1dcf014b5ab22a61' }
    }

    withName: 'SAMTOOLS_STATS' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b9/b993d5094fcf4fe7e5016b9118363a8e9dc1a48e35964e5f15465ba4a65739e9/data' : 'community.wave.seqera.io/library/htslib_samtools:1.21--1dcf014b5ab22a61' }
    }

    withName: 'CUSTOM_CATADDITIONALFASTA' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/c1/c17acd739990ad12c06583f57b097014c2bde5a91d0977fd102864a82f95e136/data' : 'community.wave.seqera.io/library/python:3.12.2--0d47e6fe32e00784' }
    }

    withName: 'CUSTOM_TX2GENE' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/60/6029f43341dc0bea31d14c2ce4c779d7a48dfed6ecb29ce1630b8378c560c490/data' : 'community.wave.seqera.io/library/python:3.10.4--d0dc5eb8ea72fa82' }
    }

    withName: 'CUSTOM_GETCHROMSIZES' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b9/b993d5094fcf4fe7e5016b9118363a8e9dc1a48e35964e5f15465ba4a65739e9/data' : 'community.wave.seqera.io/library/htslib_samtools:1.21--1dcf014b5ab22a61' }
    }

    withName: 'UMITOOLS_PREPAREFORRSEM' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/ba/ba7c02244236db73a56ff1eb880b16c2dd53679834e1b72bb096e1f633e35644/data' : 'community.wave.seqera.io/library/umi_tools:1.1.5--b2721816f7a92564' }
    }

    withName: 'UMITOOLS_EXTRACT' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/ba/ba7c02244236db73a56ff1eb880b16c2dd53679834e1b72bb096e1f633e35644/data' : 'community.wave.seqera.io/library/umi_tools:1.1.5--b2721816f7a92564' }
    }

    withName: 'UMITOOLS_DEDUP' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/ba/ba7c02244236db73a56ff1eb880b16c2dd53679834e1b72bb096e1f633e35644/data' : 'community.wave.seqera.io/library/umi_tools:1.1.5--b2721816f7a92564' }
    }

    withName: 'GFFREAD' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/9e/9e6db95013607b07689e38ee37a654d029236de77fdfde97fe1866f45d01e064/data' : 'community.wave.seqera.io/library/gffread:0.12.7--1577aa7c95340d9f' }
    }

    withName: 'FASTP' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7e/7ec6234f24305b9694b89de0352fff942ce1d68f840184020b0b9135bc54bda1/data' : 'community.wave.seqera.io/library/fastp:0.23.4--c1051f83dcae53f5' }
    }

    withName: 'SALMON_QUANT' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b8/b8e3bcb1daa42497d0159cd5ae3b6d164b4470a972dd72d9d10b365fa166e5a4/data' : 'community.wave.seqera.io/library/salmon:1.10.3--dc33937abc5bffd1' }
    }

    withName: 'SALMON_INDEX' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b8/b8e3bcb1daa42497d0159cd5ae3b6d164b4470a972dd72d9d10b365fa166e5a4/data' : 'community.wave.seqera.io/library/salmon:1.10.3--dc33937abc5bffd1' }
    }

    withName: 'GUNZIP' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/4b/4bcb36d5e1fb90c8af0171a83b792ada446b04feb4ac3f26d0ce550d3c678383/data' : 'community.wave.seqera.io/library/grep_sed_tar:4b2523b1c76a5494' }
    }

    withName: 'TRIMGALORE' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/10/10e7b91ef06bdf5790120809afc8cf36aac0261b618d810c952d5afd60dd5ed2/data' : 'community.wave.seqera.io/library/cutadapt_trim-galore:2aa2fc797328573b' }
    }

    //
    // Tools that do not have native Conda builds for AMD and ARM. Required custom builds in 'seqera' Conda channel.
    //

    withName: '.*:ALIGN_STAR:STAR_ALIGN_IGENOMES' {
        conda = 'seqera::star=2.6.1d bioconda::samtools=1.21 conda-forge::gawk=5.1.0'
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/18/18b787cb710e54b55e04d8df4f5d363b3581c0f6008a908d7ab7de03275dfedb/data' : 'community.wave.seqera.io/library/star_samtools_gawk:c0246261b9d809e1' }
    }

    withName: 'STAR_GENOMEGENERATE_IGENOMES' {
        conda = 'seqera::star=2.6.1d bioconda::samtools=1.21 conda-forge::gawk=5.1.0'
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/18/18b787cb710e54b55e04d8df4f5d363b3581c0f6008a908d7ab7de03275dfedb/data' : 'community.wave.seqera.io/library/star_samtools_gawk:c0246261b9d809e1' }
    }

    withName: 'RSEM_PREPAREREFERENCE' {
        conda = 'seqera::rsem=1.3.3 seqera::star=2.7.10a'
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/eb/eb5a2993bc13825b1b2443f740248c56ce0730a29553683392ce6388b7a2afe3/data' : 'community.wave.seqera.io/library/rsem_star:0dc50db916f3de8f' }
    }

    withName: 'RSEM_CALCULATEEXPRESSION' {
        conda = 'seqera::rsem=1.3.3 seqera::star=2.7.10a'
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/eb/eb5a2993bc13825b1b2443f740248c56ce0730a29553683392ce6388b7a2afe3/data' : 'community.wave.seqera.io/library/rsem_star:0dc50db916f3de8f' }
    }

    //
    // Tools currently unsupported for ARM
    //

    //withName: 'HISAT2_ALIGN' {
    //    conda = 'bioconda::hisat2=2.2.1 bioconda::samtools=1.16.1'
    //}

    //withName: 'HISAT2_BUILD|HISAT2_EXTRACTSPLICESITES' {
    //    conda = 'bioconda::hisat2=2.2.1'
    //}

    // withName: 'KRAKEN2_KRAKEN2' {
    //    conda = 'bioconda::kraken2=2.1.3 coreutils=9.4 pigz=2.8'
    //}

    // withName: 'BRACKEN_BRACKEN' {
    //    conda = 'bioconda::bracken=2.9'
    //}
}
