/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running the pipeline with ARM architecture
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines custom containers and Conda definitions required to run pipeline with ARM.

    Use as follows:
        nextflow run nf-core/rnaseq -profile <docker/singularity>,arm <OTHER_PARAMETERS>

----------------------------------------------------------------------------------------
*/

process {

    //
    // Tools that have native Conda builds for AMD and ARM
    //

    withName: 'BBMAP_BBSPLIT' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/70/70b6bc95922dc074b97890f796011dff8b76ed30ef2d66c6864d7b55dae27376/data' : 'community.wave.seqera.io/library/bbmap_pigz:ee2e600baccb45dd' }
    }

    withName: 'BEDTOOLS_GENOMECOV' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/51/519a920dacc643078823740486c40d30b9f555c493217d9f72db04901350e009/data' : 'community.wave.seqera.io/library/bedtools:2.31.1--efd79503b8c63422' }
    }

    withName: 'BRACKEN_BRACKEN' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/64/648fd6bc2805481aa60db7ee9e37d41d7643eaaabd92f21bf1019f8b3f0879a6/data' : 'community.wave.seqera.io/library/bracken:3.1--0b6ab6dde7667f60' }
    }

    withName: 'CAT_FASTQ' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/2d/2d61820950f089a905f34756e0713b3540f615d9e566817ff050d7b824840b1c/data' : 'community.wave.seqera.io/library/coreutils_grep_gzip_lbzip2_pruned:c4619b810d01e403' }
    }

    withName: 'CUSTOM_CATADDITIONALFASTA' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/c1/c17acd739990ad12c06583f57b097014c2bde5a91d0977fd102864a82f95e136/data' : 'community.wave.seqera.io/library/python:3.12.2--0d47e6fe32e00784' }
    }

    withName: 'CUSTOM_GETCHROMSIZES' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b9/b993d5094fcf4fe7e5016b9118363a8e9dc1a48e35964e5f15465ba4a65739e9/data' : 'community.wave.seqera.io/library/htslib_samtools:1.21--1dcf014b5ab22a61' }
    }

    withName: 'CUSTOM_TX2GENE' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/60/6029f43341dc0bea31d14c2ce4c779d7a48dfed6ecb29ce1630b8378c560c490/data' : 'community.wave.seqera.io/library/python:3.10.4--d0dc5eb8ea72fa82' }
    }

    withName: 'DESEQ2_QC' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/1c/1c89b73800b8197ea465f77e93cfed215b171ae1ba88b079ebf460ee88430624/data' : 'community.wave.seqera.io/library/r-base_r-optparse_r-ggplot2_r-rcolorbrewer_pruned:8bd10fed7887003f' }
    }

    withName: 'DUPRADAR' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/10/10141f8fd43964316d04214a5f7d99a62e11cdbab5bd2fcd4f7c3c06eca9f2f6/data' : 'community.wave.seqera.io/library/bioconductor-dupradar:1.32.0--f75495d6abf45328' }
    }

    withName: 'FASTP' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/5e/5e81afc0a786ea4806add944eed450ef880073abc374eb8ea9bcc2b33f6bec15/data' : 'community.wave.seqera.io/library/fastp:0.24.0--39cd59724a206814' }
    }

    withName: 'FASTQC' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/fd/fd39534bf298698cbe3ee4d4a6f1e73330ec4bca44c38dd9a4d06cb5ea838017/data' : 'community.wave.seqera.io/library/fastqc:0.12.1--df99cb252670875a' }
    }

    withName: 'FQ_SUBSAMPLE' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/cb/cb160e49e56ddbf7d53ba1c8495d6f4880a3f811cc9993619b1e84e40f8ffb53/data' : 'community.wave.seqera.io/library/fq:0.12.0--256df3027a85ed7c' }
    }

    withName: 'FQ_LINT' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/cb/cb160e49e56ddbf7d53ba1c8495d6f4880a3f811cc9993619b1e84e40f8ffb53/data' : 'community.wave.seqera.io/library/fq:0.12.0--256df3027a85ed7c' }
    }

    withName: 'GFFREAD' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/9e/9e6db95013607b07689e38ee37a654d029236de77fdfde97fe1866f45d01e064/data' : 'community.wave.seqera.io/library/gffread:0.12.7--1577aa7c95340d9f' }
    }

    withName: 'GTF2BED' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/89/896a3e55b2f664def0f8707420e1f53b4c447adb99fd6a1432a155c3403b9199/data' : 'community.wave.seqera.io/library/perl:5.26.2--2a6adf51d600e047' }
    }

    withName: 'GTF_FILTER' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/f0/f012a4fe624e7965c4c52fe1eb1b591a3d97cee5c16c5c0d654aa86ee1c0c801/data' : 'community.wave.seqera.io/library/python:3.9.5--d54415978b031ba5' }
    }

    withName: 'GUNZIP' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/2d/2d61820950f089a905f34756e0713b3540f615d9e566817ff050d7b824840b1c/data' : 'community.wave.seqera.io/library/coreutils_grep_gzip_lbzip2_pruned:c4619b810d01e403' }
    }

    withName: 'HISAT2_ALIGN' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/95/95a04506094435ef9cbd94b479d5cd713cd1d106d5e5718bf4410686c3d19f15/data' : 'community.wave.seqera.io/library/hisat2_samtools:aaedc5f7a0ece7e8' }
    }

    withName: 'HISAT2_BUILD' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/95/95a04506094435ef9cbd94b479d5cd713cd1d106d5e5718bf4410686c3d19f15/data' : 'community.wave.seqera.io/library/hisat2_samtools:aaedc5f7a0ece7e8' }
    }

    withName: 'HISAT2_EXTRACTSPLICESITES' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/95/95a04506094435ef9cbd94b479d5cd713cd1d106d5e5718bf4410686c3d19f15/data' : 'community.wave.seqera.io/library/hisat2_samtools:aaedc5f7a0ece7e8' }
    }

    withName: 'KALLISTO_INDEX' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/24/24655791b5db39ffdfffa8e5aeabfd11dda4553b5311ddb22e724c38b1591e8d/data' : 'community.wave.seqera.io/library/kallisto:0.51.1--58dde61fc91c371b' }
    }

    withName: 'KALLISTO_QUANT' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/24/24655791b5db39ffdfffa8e5aeabfd11dda4553b5311ddb22e724c38b1591e8d/data' : 'community.wave.seqera.io/library/kallisto:0.51.1--58dde61fc91c371b' }
    }

    withName: 'KRAKEN2_KRAKEN2' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/96/962fb9c0b6262e7db9970fe683c193ce3a406092341fd3e3ff6bbf2c5521c55a/data' : 'community.wave.seqera.io/library/kraken2_coreutils_pigz:70c562cae0588454' }
    }

    withName: 'MULTIQC' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/78/78b89e91d89e9cc99ad5ade5be311f347838cb2acbfb4f13bc343b170be09ce4/data' : 'community.wave.seqera.io/library/multiqc:1.33--58d7dee710ab3aa8' }
    }

    withName: 'MULTIQC_CUSTOM_BIOTYPE' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/f0/f012a4fe624e7965c4c52fe1eb1b591a3d97cee5c16c5c0d654aa86ee1c0c801/data' : 'community.wave.seqera.io/library/python:3.9.5--d54415978b031ba5' }
    }

    withName: 'PICARD_MARKDUPLICATES' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/c0/c0d4bbb10417a70d137a28da09329d9f9fbdf964a1cfeda24b05b618cae6b16f/data' : 'community.wave.seqera.io/library/picard:3.1.1--c28da730a329ab3c' }
    }

    withName: 'PREPROCESS_TRANSCRIPTS_FASTA_GENCODE' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/4a/4ad78019c37ff4ab22c0dff6ab1af655c6438562ef644d0323861a97971d7694/data' : 'community.wave.seqera.io/library/sed:4.7--978821297d2b6677' }
    }

    withName: 'PRESEQ_LCEXTRAP' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/5a/5ab535d5b4c88dc4837cab00919d4d5ea66dd4d6dc837d841886bef72145f435/data' : 'community.wave.seqera.io/library/preseq:3.2.0--80c9d2ffee38d3ac' }
    }

    withName: 'QUALIMAP_RNASEQ' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7a/7aa0998788d327c6e7104c2c1e7bea2e8bb8fb7076ec5de3fdab4027e501b9a9/data' : 'community.wave.seqera.io/library/qualimap:2.3--8375b60bba97a2a6' }
    }

    withName: 'RSEM_CALCULATEEXPRESSION' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/eb/eb5a2993bc13825b1b2443f740248c56ce0730a29553683392ce6388b7a2afe3/data' : 'community.wave.seqera.io/library/rsem_star:0dc50db916f3de8f' }
    }

    withName: 'RSEM_MERGE_COUNTS' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/4a/4ad78019c37ff4ab22c0dff6ab1af655c6438562ef644d0323861a97971d7694/data' : 'community.wave.seqera.io/library/sed:4.7--978821297d2b6677' }
    }

    withName: 'RSEM_PREPAREREFERENCE' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/eb/eb5a2993bc13825b1b2443f740248c56ce0730a29553683392ce6388b7a2afe3/data' : 'community.wave.seqera.io/library/rsem_star:0dc50db916f3de8f' }
    }

    withName: 'RSEQC_BAMSTAT' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/63/6306dc454d7a565c726e30b9da0b9070fc67555516a660c54e7baba365070b25/data' : 'community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' }
    }

    withName: 'RSEQC_INFEREXPERIMENT' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/63/6306dc454d7a565c726e30b9da0b9070fc67555516a660c54e7baba365070b25/data' : 'community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' }
    }

    withName: 'RSEQC_INNERDISTANCE' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/63/6306dc454d7a565c726e30b9da0b9070fc67555516a660c54e7baba365070b25/data' : 'community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' }
    }

    withName: 'RSEQC_JUNCTIONANNOTATION' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/63/6306dc454d7a565c726e30b9da0b9070fc67555516a660c54e7baba365070b25/data' : 'community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' }
    }

    withName: 'RSEQC_JUNCTIONSATURATION' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/63/6306dc454d7a565c726e30b9da0b9070fc67555516a660c54e7baba365070b25/data' : 'community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' }
    }

    withName: 'RSEQC_READDISTRIBUTION' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/63/6306dc454d7a565c726e30b9da0b9070fc67555516a660c54e7baba365070b25/data' : 'community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' }
    }

    withName: 'RSEQC_READDUPLICATION' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/63/6306dc454d7a565c726e30b9da0b9070fc67555516a660c54e7baba365070b25/data' : 'community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' }
    }

    withName: 'RSEQC_TIN' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/63/6306dc454d7a565c726e30b9da0b9070fc67555516a660c54e7baba365070b25/data' : 'community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' }
    }

    withName: 'SALMON_INDEX' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b8/b8e3bcb1daa42497d0159cd5ae3b6d164b4470a972dd72d9d10b365fa166e5a4/data' : 'community.wave.seqera.io/library/salmon:1.10.3--dc33937abc5bffd1' }
    }

    withName: 'SALMON_QUANT' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b8/b8e3bcb1daa42497d0159cd5ae3b6d164b4470a972dd72d9d10b365fa166e5a4/data' : 'community.wave.seqera.io/library/salmon:1.10.3--dc33937abc5bffd1' }
    }

    withName: 'SAMTOOLS_FLAGSTAT' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b9/b993d5094fcf4fe7e5016b9118363a8e9dc1a48e35964e5f15465ba4a65739e9/data' : 'community.wave.seqera.io/library/htslib_samtools:1.21--1dcf014b5ab22a61' }
    }

    withName: 'SAMTOOLS_IDXSTATS' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b9/b993d5094fcf4fe7e5016b9118363a8e9dc1a48e35964e5f15465ba4a65739e9/data' : 'community.wave.seqera.io/library/htslib_samtools:1.21--1dcf014b5ab22a61' }
    }

    withName: 'SAMTOOLS_INDEX' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b9/b993d5094fcf4fe7e5016b9118363a8e9dc1a48e35964e5f15465ba4a65739e9/data' : 'community.wave.seqera.io/library/htslib_samtools:1.21--1dcf014b5ab22a61' }
    }

    withName: 'SAMTOOLS_SORT' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b9/b993d5094fcf4fe7e5016b9118363a8e9dc1a48e35964e5f15465ba4a65739e9/data' : 'community.wave.seqera.io/library/htslib_samtools:1.21--1dcf014b5ab22a61' }
    }

    withName: 'SAMTOOLS_STATS' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b9/b993d5094fcf4fe7e5016b9118363a8e9dc1a48e35964e5f15465ba4a65739e9/data' : 'community.wave.seqera.io/library/htslib_samtools:1.21--1dcf014b5ab22a61' }
    }

    withName: 'STAR_ALIGN' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/57/57c051c9aae20c712608b3f2229b2a21b0c2eb297102f12f04f1d8c7643d12ba/data' : 'community.wave.seqera.io/library/htslib_samtools_star_gawk:de8c848656c2c4c5' }
    }

    withName: 'STAR_GENOMEGENERATE' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/57/57c051c9aae20c712608b3f2229b2a21b0c2eb297102f12f04f1d8c7643d12ba/data' : 'community.wave.seqera.io/library/htslib_samtools_star_gawk:de8c848656c2c4c5' }
    }

    withName: 'STRINGTIE_STRINGTIE' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/9e/9ebc6b1a27262420a5739330d369086b0d8c941a43b81d3fd0f741045bb3d46f/data' : 'community.wave.seqera.io/library/stringtie:2.2.3--77d8df3265c94ba1' }
    }

    withName: 'SUBREAD_FEATURECOUNTS' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/2a/2a81571bc8c4ac812adb76c51045a245041d7cc8923a2d7cc34a866588fead0c/data' : 'community.wave.seqera.io/library/subread:2.0.6--df9c6b502b57bb9c' }
    }

    withName: 'SUMMARIZEDEXPERIMENT_SUMMARIZEDEXPERIMENT' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a7/a7d1ef576617b9790973bc9d178c4ef136a52b6337260c536cff6cd68f103b45/data' : 'community.wave.seqera.io/library/bioconductor-summarizedexperiment:1.32.0--859858039875a2a5' }
    }

    withName: 'TRIMGALORE' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a1/a11701c614c04de6ca4a386f2bb63532826aeb7d98fd0d714a07a8db31ef5359/data' : 'community.wave.seqera.io/library/cutadapt_trim-galore_pigz:d0b730b6770575ef' }
    }

    withName: 'TXIMETA_TXIMPORT' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/f8/f89ab1fef6e38e572ad1844d06f6d3d334d2b19a70c9e5d87bfc862b88728c23/data' : 'community.wave.seqera.io/library/bioconductor-tximeta:1.20.1--3b0ca8a1710e2b2b' }
    }

    withName: 'UCSC_BEDCLIP' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/5f/5f559cabdfda8b2937c4213d3a53547eb882b2fc8cc36ebfeff07481fa47823a/data' : 'community.wave.seqera.io/library/ucsc-bedclip:377--489576e83f1992e0' }
    }

    withName: 'UCSC_BEDGRAPHTOBIGWIG' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/38/389312a4a6022c5f5d2510dfa9bedb0491b36c8a27e8d842c05de00bc3b5be76/data' : 'community.wave.seqera.io/library/ucsc-bedgraphtobigwig:469--1db18e1b19f8e5f1' }
    }

    withName: 'UMICOLLAPSE' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/4c/4c8b7641b14c16d52ea08c1ced6a8be4a686c9502de648228dc406d9642a9572/data' : 'community.wave.seqera.io/library/umicollapse:1.1.0--d406900dbf84ec60' }
    }

    withName: 'UMITOOLS_DEDUP' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/54/546e768a27f61fb6f9eb4b283a18981f042dee406011c7d86173eb58186bbec4/data' : 'community.wave.seqera.io/library/umi_tools_python_matplotlib_scipy_pruned:8a60fc02f4d98e7d' }
    }

    withName: 'UMITOOLS_EXTRACT' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/54/546e768a27f61fb6f9eb4b283a18981f042dee406011c7d86173eb58186bbec4/data' : 'community.wave.seqera.io/library/umi_tools_python_matplotlib_scipy_pruned:8a60fc02f4d98e7d' }
    }

    withName: 'UMITOOLS_PREPAREFORRSEM' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/54/546e768a27f61fb6f9eb4b283a18981f042dee406011c7d86173eb58186bbec4/data' : 'community.wave.seqera.io/library/umi_tools_python_matplotlib_scipy_pruned:8a60fc02f4d98e7d' }
    }

    withName: 'UNTAR' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/2d/2d61820950f089a905f34756e0713b3540f615d9e566817ff050d7b824840b1c/data' : 'community.wave.seqera.io/library/coreutils_grep_gzip_lbzip2_pruned:c4619b810d01e403' }
    }

    // SortMeRNA does not yet have aarch64 builds conda forge. Working on it, using builds from Seqera channel for now
    // See https://github.com/conda-forge/conda-forge-pinning-feedstock/pull/7454

    withName: 'SORTMERNA' {
        conda = 'seqera::sortmerna=4.3.7'
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/f1/f161ea3d4083b7d8fcbf8524cb5ab69f386b4e36b771bb5abf9ccf8ab29e9775/data' : 'community.wave.seqera.io/library/sortmerna:4.3.7--4cc83a7bffbaaa61' }
    }

    //
    // Tools that do not have native Conda builds for AMD and ARM. Required custom builds in 'seqera' Conda channel.
    //

    withName: '.*STAR_ALIGN_IGENOMES' {
        conda = 'seqera::star=2.6.1d bioconda::samtools=1.21 conda-forge::gawk=5.1.0'
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/e4/e4651c6689ae3c8ae0b039c5b1279a7e2cb8ab8c40fc577a0370e6fd72d91d8e/data' : 'community.wave.seqera.io/library/star_samtools_gawk:01330987bbdd407c' }
    }

    withName: 'STAR_GENOMEGENERATE_IGENOMES' {
        conda = 'seqera::star=2.6.1d bioconda::samtools=1.21 conda-forge::gawk=5.1.0'
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/e4/e4651c6689ae3c8ae0b039c5b1279a7e2cb8ab8c40fc577a0370e6fd72d91d8e/data' : 'community.wave.seqera.io/library/star_samtools_gawk:01330987bbdd407c' }
    }

}
