/*
 * -------------------------------------------------
 *  Nextflow config file for Amazon Web Services
 * -------------------------------------------------
 * Imported under the 'aws' Nextflow profile in nextflow.config
 * Defines reference genomes, using iGenome paths from s3
 * Uses docker for software depedencies.
 */

docker {
  enabled = true
}

process {
  executor = 'ignite'
}

params {
  saveReference = true
  igenomes_base = 's3://ngi-igenomes/igenomes/'
  // Max resources based on a typical AWS m4.2xlarge EC2 instance
  // Customise with --max_memory, --max_cpus and --max_time (or overwrite with another config file)
  max_memory = 32.GB
  max_cpus = 8
  max_time = 240.h
}
