/*
 * -------------------------------------------------
 *  Nextflow config file for AWSBatch
 * -------------------------------------------------
 * Imported under the 'aws' Nextflow profile in nextflow.config
 * Defines reference genomes, using iGenome paths from s3
 * Uses docker for software depedencies.
 */

batch {
    workDir = params.workDir
    process.executor = 'awsbatch'
    process.queue = params.awsqueue
    aws.region = params.awsregion    
  }

executor {
  awscli = '/home/ec2-user/miniconda/bin/aws'
}
