/*
 * -------------------------------------------------
 *  Nextflow config file for AWS Batch
 * -------------------------------------------------
 * Imported under the 'awsbatch' Nextflow profile in nextflow.config
 * Uses docker for software depedencies automagically, so not specified here.
 */

aws.region = params.awsregion    
process.executor = 'awsbatch'
process.queue = params.awsqueue
executor.awscli = '/home/ec2-user/miniconda/bin/aws'
params.tracedir = './'