/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * ----------------------------------------------------------------------------
 *  Nextflow config file for use with Singularity on BINAC cluster in Tuebingen
 * ----------------------------------------------------------------------------
 * Defines basic usage limits and singularity image id.
 */

singularity {
    enabled = true
}

process {
    beforeScript = 'module load devel/singularity/2.4.1'
    executor = 'pbs'
    container = "docker://$wf_container"
    queue = 'short'
}

params {
  max_memory = 128.GB
  max_cpus = 28
  max_time = 48.h
}
