/*
 * -------------------------------------------------
 *  Nextflow config file with environment modules for RZCluster in Kiel
 * -------------------------------------------------
 */

executor {
  queueSize=100
}

process {

  // Global process config
  executor = 'slurm'
  queue = 'ikmb_a'

  clusterOptions = { "--qos=ikmb_a" }

}
  
params {
  // illumina iGenomes reference file paths on RZCluster
  igenomes_base = '/ifs/data/nfs_share/ikmb_repository/references/iGenomes/references/'
  saveReference = true
}
