/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------------------
 *  Nextflow config file for use with Singularity on CFC at QBIC
 * -------------------------------------------------------------
 * Defines basic usage limits and singularity image id.
 */

singularity {
    enabled = true
}

/*
*To be improved by process specific configuration asap, once our CFC cluster has the extra options removed - till then, task.attempt in NextFlow is not supported there.
*/

process {
    cpus = 20
    time = 48.h
    memory = 60.GB
    beforeScript = 'module load qbic/singularity/2.4.2'
    executor = 'pbs'
    queue = 'cfc'
    clusterOptions = { "-l nodes=1:ppn=${process.cpus}:cfc" }
}

params {
  max_memory = 60.GB
  max_cpus = 20
  max_time = 140.h
}
