process { withName: 'CUSTOM_GTFFILTER' { container = 'oras://community.wave.seqera.io/library/python:3.14.5--d70899bea5a8b0b3' } }
process { withName: 'FASTP' { container = 'oras://community.wave.seqera.io/library/fastp:1.3.6--469416be288311d1' } }
process { withName: 'FASTQC' { container = 'oras://community.wave.seqera.io/library/fastqc:0.12.1--127a87fc06499035' } }
process { withName: 'HISAT2_ALIGN' { container = 'oras://community.wave.seqera.io/library/hisat2_samtools:85c43579819c7f9c' } }
process { withName: 'HISAT2_BUILD' { container = 'oras://community.wave.seqera.io/library/hisat2:2.2.3--2e8243af13980ed3' } }
process { withName: 'HISAT2_EXTRACTSPLICESITES' { container = 'oras://community.wave.seqera.io/library/hisat2_samtools:85c43579819c7f9c' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.35--c0468833d65b2f81' } }
process { withName: 'PICARD_MARKDUPLICATES' { container = 'oras://community.wave.seqera.io/library/picard:3.5.0--51fe15653ca25a7c' } }
