process { withName: 'CUSTOM_GTFFILTER' { conda = 'modules/nf-core/custom/gtffilter/.conda-lock/linux_arm64-bd-bfcec33ce3c2e2f2_6.txt' } }
process { withName: 'FASTP' { conda = 'modules/nf-core/fastp/.conda-lock/linux_arm64-bd-95b49074d3fe9875_1.txt' } }
process { withName: 'FASTQC' { conda = 'modules/nf-core/fastqc/.conda-lock/linux_arm64-bd-e455e32f745abe68_1.txt' } }
process { withName: 'HISAT2_ALIGN' { conda = 'modules/nf-core/hisat2/align/.conda-lock/linux_arm64-bd-2061bdd7bd29b1cd_1.txt' } }
process { withName: 'HISAT2_EXTRACTSPLICESITES' { conda = 'modules/nf-core/hisat2/extractsplicesites/.conda-lock/linux_arm64-bd-2061bdd7bd29b1cd_1.txt' } }
process { withName: 'MULTIQC' { conda = 'modules/nf-core/multiqc/.conda-lock/linux_arm64-bd-5c84a5000a226ab5_1.txt' } }
process { withName: 'PICARD_MARKDUPLICATES' { conda = 'modules/nf-core/picard/markduplicates/.conda-lock/linux_arm64-bd-4f3ced346a5bb45f_1.txt' } }
