process { withName: 'CUSTOM_GTFFILTER' { conda = 'modules/nf-core/custom/gtffilter/.conda-lock/linux_amd64-bd-dc8358b3c5eeb927_1.txt' } }
process { withName: 'FASTP' { conda = 'modules/nf-core/fastp/.conda-lock/linux_amd64-bd-4df8d6c11b471bde_1.txt' } }
process { withName: 'FASTQC' { conda = 'modules/nf-core/fastqc/.conda-lock/linux_amd64-bd-5cb1a2fa2f18c7c2_1.txt' } }
process { withName: 'HISAT2_ALIGN' { conda = 'modules/nf-core/hisat2/align/.conda-lock/linux_amd64-bd-a0c9b8ccf8116a89_1.txt' } }
process { withName: 'HISAT2_BUILD' { conda = 'modules/nf-core/hisat2/build/.conda-lock/linux_amd64-bd-2616fa83d3b9d8f8_1.txt' } }
process { withName: 'HISAT2_EXTRACTSPLICESITES' { conda = 'modules/nf-core/hisat2/extractsplicesites/.conda-lock/linux_amd64-bd-a0c9b8ccf8116a89_1.txt' } }
process { withName: 'MULTIQC' { conda = 'modules/nf-core/multiqc/.conda-lock/linux_amd64-bd-c17fb751507e9dfc_1.txt' } }
process { withName: 'PICARD_MARKDUPLICATES' { conda = 'modules/nf-core/picard/markduplicates/.conda-lock/linux_amd64-bd-842d4c70c98af9b4_1.txt' } }
