process { withName: 'CUSTOM_GTFFILTER' { container = 'oras://community.wave.seqera.io/library/python:3.14.5--b29a2f2e65e096bd' } }
process { withName: 'FASTP' { container = 'oras://community.wave.seqera.io/library/fastp:1.3.6--63f52bbe4fa9aee1' } }
process { withName: 'FASTQC' { container = 'oras://community.wave.seqera.io/library/fastqc:0.12.1--5c4bd442468d75dd' } }
process { withName: 'HISAT2_ALIGN' { container = 'oras://community.wave.seqera.io/library/hisat2_samtools:c8aaaadb7f843dc5' } }
process { withName: 'HISAT2_BUILD' { container = 'oras://community.wave.seqera.io/library/hisat2:2.2.3--43d6b2eab6ddad26' } }
process { withName: 'HISAT2_EXTRACTSPLICESITES' { container = 'oras://community.wave.seqera.io/library/hisat2_samtools:c8aaaadb7f843dc5' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.35--c680f2aea25ccec2' } }
process { withName: 'PICARD_MARKDUPLICATES' { container = 'oras://community.wave.seqera.io/library/picard:3.5.0--89375ac386b71342' } }
process { withName: 'RUSTQC' { container = 'oras://community.wave.seqera.io/library/rustqc:0.2.1--3982097e14c103d4' } }
