process { withName: 'CUSTOM_GTFFILTER' { container = 'community.wave.seqera.io/library/python:3.14.5--bfcec33ce3c2e2f2' } }
process { withName: 'FASTP' { container = 'community.wave.seqera.io/library/fastp:1.3.6--95b49074d3fe9875' } }
process { withName: 'FASTQC' { container = 'community.wave.seqera.io/library/fastqc:0.12.1--e455e32f745abe68' } }
process { withName: 'HISAT2_ALIGN' { container = 'community.wave.seqera.io/library/hisat2_samtools:2061bdd7bd29b1cd' } }
process { withName: 'HISAT2_BUILD' { container = 'community.wave.seqera.io/library/hisat2:2.2.3--0b83b24baf5a98d0' } }
process { withName: 'HISAT2_EXTRACTSPLICESITES' { container = 'community.wave.seqera.io/library/hisat2_samtools:2061bdd7bd29b1cd' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.35--5c84a5000a226ab5' } }
process { withName: 'PICARD_MARKDUPLICATES' { container = 'community.wave.seqera.io/library/picard:3.5.0--4f3ced346a5bb45f' } }
