/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Example Nextflow config file for Travis
 * -------------------------------------------------
 */
params {
  makeSTARindex_cpus = 6
  makeSTARindex_memory = '10g'
  makeSTARindex_time = '2h'
  makeBED12_cpus = 2
  makeBED12_memory = '6g'
  makeBED12_time = '2h'
  fastqc_cpus = 2
  fastqc_memory = '6g'
  fastqc_time = '2h'
  trim_galore_cpus = 2
  trim_galore_memory = '12g'
  trim_galore_time = '2h'
  star_cpus = 6
  star_memory = '12 g'
  star_time = '2h'
  rseqc_cpus = 6
  rseqc_memory = '12 g'
  rseqc_time = '2h'
  preseq_cpus = 6
  preseq_memory = '12 g'
  preseq_time = '2h'
  markDuplicates_cpus = 6
  markDuplicates_memory = '12g'
  markDuplicates_time = '2h'
  dupradar_cpus = 6
  dupradar_memory = '12 g'
  dupradar_time = '2h'
  featureCounts_cpus = 6
  featureCounts_memory = '12g'
  featureCounts_time = '2h'
  stringtieFPKM_cpus = 6
  stringtieFPKM_memory = '12g'
  stringtieFPKM_time = '2h'
  sample_correlation_cpus = 6
  sample_correlation_memory = '12g'
  sample_correlation_time = '2h'
  multiqc_cpus = 2
  multiqc_memory = '2 g'
  multiqc_time = '2h'


  genomes {
    'docker_test' {
      fasta   = '/tmp/ngi-rna_test_set/genome.fa'
      gtf     = '/tmp/ngi-rna_test_set/genes.gtf'
      bed12   = '/tmp/ngi-rna_test_set/genes.bed'
      star    = '/tmp/ngi-rna_test_set/star/'
    }
  }
}

docker {
  enabled = true
}
process {
  container = 'scilifelab/ngi-rnaseq'
  executor = 'local'
  cpus = 2
  memory = '7g'
  time = '48h'
}
