/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for use with Docker
 * -------------------------------------------------
 * Defines basic usage limits and docker image id.
 * Imported under the default 'docker' Nextflow
 * profile in nextflow.config
 * NOTE: Not suitable for production use, assumes
 * compute limits of only 16GB memory and 1 CPU core.
 */

docker {
  enabled = true
}

process {
  container = 'scilifelab/ngi-rnaseq'
  executor = 'local'
  cpus = 1
  memory = 16.GB
  time = 48.h
}
