/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Example Nextflow config file for Travis
 * -------------------------------------------------
 */
params {
  errorStrategy = 'ignore'
  makeSTARindex_cpus = 2
  makeSTARindex_memory = '4g'
  makeSTARindex_time = '2h'
  makeBED12_cpus = 2
  makeBED12_memory = '4g'
  makeBED12_time = '2h'
  fastqc_cpus = 2
  fastqc_memory = '4g'
  fastqc_time = '2h'
  trim_galore_cpus = 2
  trim_galore_memory = '4g'
  trim_galore_time = '2h'
  star_cpus = 2
  star_memory = '7g'
  star_time = '2h'
  rseqc_cpus = 2
  rseqc_memory = '4g'
  rseqc_time = '2h'
  preseq_cpus = 2
  preseq_memory = '4g'
  preseq_time = '2h'
  markDuplicates_cpus = 2
  markDuplicates_memory = '4g'
  markDuplicates_time = '2h'
  dupradar_cpus = 2
  dupradar_memory = '4g'
  dupradar_time = '2h'
  featureCounts_cpus = 2
  featureCounts_memory = '4g'
  featureCounts_time = '2h'
  stringtieFPKM_cpus = 2
  stringtieFPKM_memory = '4g'
  stringtieFPKM_time = '2h'
  sample_correlation_cpus = 2
  sample_correlation_memory = '4g'
  sample_correlation_time = '2h'
  multiqc_cpus = 2
  multiqc_memory = '2g'
  multiqc_time = '2h'

  genomes {
    'GRCh37' {
      fasta   = '/tmp/ngi-rna_test_set/genome.fa'
      gtf     = '/tmp/ngi-rna_test_set/genes.gtf'
      bed12   = '/tmp/ngi-rna_test_set/genes.bed'
      star    = '/tmp/ngi-rna_test_set/star/'
    }
  }
}

docker {
  enabled = true
}
process {
  container = 'scilifelab/ngi-rnaseq'
  executor = 'local'
  cpus = 2
  memory = '2GB'
  time = '2h'
}
