/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Example Nextflow config file for Travis
 * -------------------------------------------------
 */
params {
  genome = 'docker_test'

  genomes {
    'docker_test' {
      fasta   = '/tmp/ngi-rna_test_set/genome.fa'
      gtf     = '/tmp/ngi-rna_test_set/genes.gtf'
      bed12   = '/tmp/ngi-rna_test_set/genes.bed'
      star    = '/tmp/ngi-rna_test_set/star/'
    }
  }
}

docker {
  enabled = true
}
process {
  container = 'scilifelab/ngi-rnaseq'
  executor = 'local'
  cpus = 2
  memory = 7.GB
  time = 48.h
}
