/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for UPPMAX (milou / irma)
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Imported under the default 'standard' Nextflow
 * profile in nextflow.config
 */

docker.enabled = true

process {
  container = 'scilifelab/ngi-rnaseq'
  executor = 'local'
  cpus = 1
  memory = '16 GB'
  time = '48h'
}

params {
  download_fasta = 'ftp://ftp.ensembl.org/pub/release-86/gtf/homo_sapiens/Homo_sapiens.GRCh37.86.gtf.gz'
  download_gtf = 'ftp://ftp.ensembl.org/pub/release-86/fasta/homo_sapiens/dna/Homo_sapiens.GRCh37.86.dna.primary_assembly.fa.gz'
}
