/*
 * -------------------------------------------------
 *  Nextflow config file for GIS (Aquila)
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Imported under the default 'standard' Nextflow
 * profile in nextflow.config
 */

process {
  executor = 'sge'
  clusterOptions = { "-l mem_free=" + task.memory.toString().replaceAll(/[\sB]/,'') }
  penv = 'OpenMP'
  maxRetries = 3
  errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' }
  // auto translate container name into conda environment name
  beforeScript = { 'source /mnt/projects/rpd/rc/init.2017-04; module load miniconda3; set +u; source activate nfcore-rnaseq-1.5dev; set -u;' }
}
params {
  saveReference = true
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
  // illumina iGenomes reference file paths on GIS Aquila
  igenomes_base = '/mnt/projects/rpd/genomes.testing/S3_igenomes/'
}

