/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Gothenburg Hebbe Cluster config file
 * -------------------------------------------------
 * http://www.c3se.chalmers.se/index.php/Hebbe
 *
 * NB: Required software must be installed manually.
 * See installation docs "Manual Installation"
 * for instructions on required setup steps to use this configuration.
 * https://github.com/SciLifeLab/NGI-RNAseq/blob/master/docs/installation.md#manual-installation
 */

process {
  executor = 'slurm'
  clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }
  cpus = 4
}

params {
  saveReference = true
  max_memory = 64.GB
  max_cpus = 20
  max_time = 240.h
}
