/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Gothenburg Hebbe Cluster config file
 * -------------------------------------------------
 * http://www.c3se.chalmers.se/index.php/Hebbe
 */


singularity {
  enabled = true
}

process {
  executor = 'slurm'
  clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }

  /* The Hebbe scheduler fails if you try to request an amount of memory for a job */
  memory = null
  $makeSTARindex.memory = null
  $makeHisatSplicesites.memory = null
  $makeHISATindex.memory = null
  $fastqc.memory = null
  $trim_galore.memory = null
  $star.memory = null
  $hisat2Align.memory = null
  $hisat2_sortOutput.memory = null
  $rseqc.memory = null
  $genebody_coverage.memory = null
  $preseq.memory = null
  $markDuplicates.memory = null
  $dupradar.memory = null
  $featureCounts.memory = null
  $merge_featureCounts.memory = null
  $stringtieFPKM.memory = null
  $sample_correlation.memory = null
  $multiqc.memory = null
}

params {
  saveReference = true
  max_memory = 64.GB
  max_cpus = 20
  max_time = 240.h
}
