/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Gothenburg Hebbe Cluster config file
 * -------------------------------------------------
 * http://www.c3se.chalmers.se/index.php/Hebbe
 *
 * NB: Required software must be installed manually.
 * See installation docs 3.2) Configuration: Other clusters
 * for instructions on required setup steps to use this configuration.
 *
 * NOTE: Config only tested with Yeast data so far. If resources are
 * inadequate, please submit an issue: https://github.com/SciLifeLab/NGI-RNAseq/issues
 */

process {
  executor = 'slurm'
  clusterOptions = { "-A $params.project " + (params.clusterOptions ?: '') }
  cpus = 4

  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

  // Environment modules and resource requirements
  $makeSTARindex.cpus = 10
  $makeHISATindex {
    cpus = 10
    time = 5.h
  }
  $fastqc.time = 8.h
  $trim_galor.time = 8.h
  $star {
    cpus = 20
    time = 8.h
  }
  $hisat2Align {
    cpus = 8
    time = 8.h
  }
  $hisat2_sortOutput {
    cpus = 4
    time = 8.h
  }
  $prese.cpus = 4
  $rseqc {
    cpus = 15
    time = 7.h
  }
  $sample_correlation {
    cpus = 15
  }
}


params {
  clusterOptions = false
  saveReference = true
}
