/*
 * Container/conda overrides for iGenomes STAR processes.
 * Pins STAR 2.6.1d for compatibility with pre-built AWS iGenomes STAR indices.
 * ARM overrides for these processes are in conf/arm.config.
 */
process {
    withName: '.*STAR_ALIGN_IGENOMES' {
        conda = 'bioconda::star=2.6.1d bioconda::samtools=1.21 conda-forge::gawk=5.1.0'
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/50/50bb64440689d5d7af4bf8ad1032f01aa4e1597e0bb1c82ee91e8cb43943283c/data' :
            'community.wave.seqera.io/library/star_samtools_gawk:79ca42311e583cdc' }
    }
    withName: 'STAR_GENOMEGENERATE_IGENOMES' {
        conda = 'bioconda::star=2.6.1d bioconda::samtools=1.21 conda-forge::gawk=5.1.0'
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/50/50bb64440689d5d7af4bf8ad1032f01aa4e1597e0bb1c82ee91e8cb43943283c/data' :
            'community.wave.seqera.io/library/star_samtools_gawk:79ca42311e583cdc' }
    }
}
