/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

params {

    //
    // Genome preparation options
    //

    prepare_genome_untar_args = '--no-same-owner'
    prepare_genome_gffread_args = '--keep-exon-attrs -F -T'
    prepare_genome_rsem_args = '--star'
    prepare_genome_bbsplit_args = 'build=1'

    //
    // Read subsampling and strand inferring options
    //

    subsample_fq_args = '--record-count 1000000 --seed 1'
    subsample_salmon_args = '--skipQuant'

    //
    // Read QC and trimming options
    //

    fastqc_args = '--quiet'

    //
    // Contaminant removal options
    //

    bbsplit_args = 'build=1 ambiguous2=all maxindel=150000'
    sortmerna_args = '--num_alignments 1 -v'

    //
    // General alignment options
    //

    picard_args = '--ASSUME_SORTED true --REMOVE_DUPLICATES false --VALIDATION_STRINGENCY LENIENT --TMP_DIR tmp'
    bedtools_args = '-split -du'

    //
    // STAR Salmon alignment options
    //

    samtools_sort_args = '-n'

    //
    // STAR RSEM alignment options
    //

    //
    // HISAT2 alignment options
    //

    //
    // Post-alignment QC options
    //

    preseq_lcextrap_args = '-verbose -bam -seed 1 -seg_len 100000000'

    //
    // Salmon pseudo-alignment options
    //

}
