// Defaults of the config params. An including pipeline includes this file for the params that
// the process config reads, since it does not load nextflow.config.
params {

    // References
    genome                     = null
    skip_gtf_transcript_filter = false
    featurecounts_feature_type = 'exon'
    featurecounts_group_type   = 'gene_biotype'
    gencode                    = false
    prokaryotic                = false
    igenomes_base              = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore            = false
    arm                        = false

    // UMI handling
    with_umi                   = false
    umitools_extract_method    = 'string'
    umitools_grouping_method   = 'directional'
    umitools_bc_pattern        = null
    umitools_bc_pattern2       = null
    umitools_umi_separator     = null

    // Linting
    extra_fqlint_args          = '--disable-validator P001'

    // Trimming
    extra_trimgalore_args      = null
    extra_fastp_args           = null

    // Ribosomal RNA removal
    use_gpu_ribodetector       = false

    // Alignment
    aligner                    = 'star_salmon'
    gpu_container_options      = null
    pseudo_aligner             = null
    pseudo_aligner_kmer_size   = 31
    seq_center                 = null
    seq_platform               = null
    bam_csi_index              = false
    salmon_quant_libtype       = null
    extra_star_align_args      = null
    extra_hisat2_align_args    = null
    extra_bowtie2_align_args   = null
    extra_salmon_index_args    = null
    extra_salmon_quant_args    = null
    extra_kallisto_quant_args  = null
    save_unaligned             = false

    // QC
    contaminant_screening      = null
    contaminant_screening_input = 'unmapped'
    bracken_precision          = "S"
    deseq2_vst                 = true

    // MultiQC options
    multiqc_title              = null
    max_multiqc_email_size     = '25.MB'

    // Boilerplate options
    publish_dir_mode             = 'copy'
    monochrome_logs              = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/7f1614baeb0ddf66e60be78c3d9fa55440465ac8/'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

    // Config options
    config_profile_name        = null
    config_profile_description = null

    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null
}
