// Defaults of the config params: the params that only affect config settings. An including pipeline
// includes this file, since it does not load nextflow.config. The pipeline params are declared, with
// their defaults, in the params block of main.nf.
params {

    // References
    igenomes_base              = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore            = false

    // Containers
    gpu_container_options      = null

    // MultiQC options
    max_multiqc_email_size     = '25.MB'

    // Boilerplate options
    publish_dir_mode             = 'copy'
    monochrome_logs              = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/7f1614baeb0ddf66e60be78c3d9fa55440465ac8/'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

    // Config options
    config_profile_name        = null
    config_profile_description = null

    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null
}
