// Process config of the pipeline's modules and subworkflows. An including pipeline includes this file,
// since it does not load nextflow.config.
// Load DSL2 module specific options

// prepare reference
includeConfig 'modules/prepare_genome.config'

// pre-processing
includeConfig 'modules/fastp.config'
includeConfig 'modules/trimgalore.config'
includeConfig 'modules/qc_trim_filter.config'
includeConfig 'modules/strandedness.config'
includeConfig 'modules/bbsplit.config'
includeConfig 'modules/sortmerna.config'

// alignment
includeConfig 'modules/align_star.config'
includeConfig 'modules/align_bowtie2.config'
includeConfig 'modules/align_hisat2.config'
includeConfig 'modules/markduplicates.config'

// quantification
includeConfig '../subworkflows/nf-core/quantify_rsem/nextflow.config'
includeConfig '../subworkflows/nf-core/quantify_pseudo_alignment/nextflow.config'
includeConfig '../subworkflows/nf-core/quant_tximport_summarizedexperiment/nextflow.config'

// QC
includeConfig 'modules/featurecounts.config'
includeConfig 'modules/stringtie.config'
includeConfig 'modules/qualimap.config'
includeConfig 'modules/preseq.config'
includeConfig 'modules/rustqc.config'
includeConfig 'modules/kraken2.config'
includeConfig 'modules/bracken.config'
includeConfig 'modules/sylph.config'
includeConfig 'modules/multiqc.config'

// Pipeline-level process overrides
// NOTE: Order matters - later configs take precedence when multiple
// withName selectors match the same process.
includeConfig 'modules/quantify_bam_salmon.config'
includeConfig 'modules/alignment.config'
includeConfig 'modules/umi_dedup.config'
includeConfig 'modules/bigwig.config'
includeConfig 'modules/deseq2_qc.config'
includeConfig 'modules/quantify_rsem.config'
includeConfig 'modules/quantify_pseudo_alignment.config'
