/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    AWS ECR Config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config to set public AWS ECR images wherever possible
    This improves speed when running on AWS infrastructure.
    Use this as an example template when using your own private registry.
----------------------------------------------------------------------------------------
*/

docker.registry = 'public.ecr.aws'
podman.registry = 'public.ecr.aws'

process {
    withName: 'CAT_ADDITIONAL_FASTA' {
        container = 'quay.io/biocontainers/python:3.9--1'
    }
    withName: 'CAT_FASTQ' {
        container = 'quay.io/nf-core/ubuntu:20.04'
    }
    withName: 'DESEQ2_QC' {
        container = 'quay.io/biocontainers/mulled-v2-8849acf39a43cdd6c839a369a74c0adc823e2f91:ab110436faf952a33575c64dd74615a84011450b-0'
    }
    withName: 'GTF2BED' {
        container = 'quay.io/biocontainers/perl:5.26.2'
    }
    withName: 'GTF_GENE_FILTER' {
        container = 'quay.io/biocontainers/python:3.9--1'
    }
    withName: 'GUNZIP' {
        container = 'quay.io/nf-core/ubuntu:20.04'
    }
    withName: 'HISAT2_ALIGN' {
        container = 'quay.io/biocontainers/mulled-v2-a97e90b3b802d1da3d6958e0867610c718cb5eb1:2cdf6bf1e92acbeb9b2834b1c58754167173a410-0'
    }
    withName: 'MULTIQC_CUSTOM_BIOTYPE' {
        container = 'quay.io/biocontainers/python:3.9--1'
    }
    withName: 'PREPROCESS_TRANSCRIPTS_FASTA_GENCODE' {
        container = 'quay.io/nf-core/ubuntu:20.04'
    }
    withName: 'RSEM_CALCULATEEXPRESSION' {
        container = 'quay.io/biocontainers/mulled-v2-cf0123ef83b3c38c13e3b0696a3f285d3f20f15b:64aad4a4e144878400649e71f42105311be7ed87-0'
    }
    withName: 'RSEM_MERGE_COUNTS' {
        container = 'quay.io/nf-core/ubuntu:20.04'
    }
    withName: 'RSEM_PREPAREREFERENCE' {
        container = 'quay.io/biocontainers/mulled-v2-cf0123ef83b3c38c13e3b0696a3f285d3f20f15b:64aad4a4e144878400649e71f42105311be7ed87-0'
    }
    withName: 'SALMON_TX2GENE' {
        container = 'quay.io/biocontainers/python:3.9--1'
    }
    withName: 'SAMPLESHEET_CHECK' {
        container = 'quay.io/biocontainers/python:3.9--1'
    }
    withName: 'STAR_ALIGN' {
        container = 'quay.io/biocontainers/mulled-v2-1fa26d1ce03c295fe2fdcf85831a92fbcbd7e8c2:1df389393721fc66f3fd8778ad938ac711951107-0'
    }
    withName: 'STAR_ALIGN_IGENOMES' {
        container = 'quay.io/biocontainers/mulled-v2-1fa26d1ce03c295fe2fdcf85831a92fbcbd7e8c2:59cdd445419f14abac76b31dd0d71217994cbcc9-0'
    }
    withName: 'STAR_GENOMEGENERATE' {
        container = 'quay.io/biocontainers/mulled-v2-1fa26d1ce03c295fe2fdcf85831a92fbcbd7e8c2:1df389393721fc66f3fd8778ad938ac711951107-0'
    }
    withName: 'STAR_GENOMEGENERATE_IGENOMES' {
        container = 'quay.io/biocontainers/mulled-v2-1fa26d1ce03c295fe2fdcf85831a92fbcbd7e8c2:59cdd445419f14abac76b31dd0d71217994cbcc9-0'
    }
    withName: 'UNTAR' {
        container = 'quay.io/nf-core/ubuntu:20.04'
    }
}
