/*
 * -------------------------------------------------
 *  Nextflow config file for bulk
 *  rnaseq.config
 * -------------------------------------------------
 //

params {
    config_profile_name = 'Si_Bulkrnaseq'
    config_profile_description = 'Bulkrnaseq'

  //

    // Input data
    params.input = '/hpfs/projects/vrd_ngs/Ravneet/LeoBulk_RNAseq/Bulk_rav_samplesheet.csv'
    params.email = 'ravneet.kaur@pfizer.com'
    params.outdir = '/hpfs/projects/vrd_ngs/Ravneet/LeoBulk_RNAseq/nextflow'

    // Reference genome
    paramas.genome = 'GRCh38'

}
