/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for use with Singularity
 * -------------------------------------------------
 * Defines basic usage limits and docker image id.
 * Imported under the default 'singularity' Nextflow
 * profile in nextflow.config
 * NOTE: Not suitable for production use, assumes
 * compute limits of only 16GB memory and 1 CPU core.
 */

singularity {
  enabled = true
}

process {
  container = { "docker://scilifelab/ngi-rnaseq:${workflow.revision ? workflow.revision : 'latest'}" }
}

params {
  igenomes_base = 's3://ngi-igenomes/igenomes/'
}
