/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * --------------------------------------------------------
 *  Nextflow config file for automated testing with Travis
 * --------------------------------------------------------
 */
params {
  // Used if indexes not specified on command line
  download_fasta = 'ftp://ftp.ensembl.org/pub/release-75/fasta/homo_sapiens/dna/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa.gz'
  download_gtf   = 'ftp://ftp.ensembl.org/pub/release-75/gtf/homo_sapiens/Homo_sapiens.GRCh37.75.gtf.gz'
}

docker {
  enabled = true
}
process {
  container = wf_container
  cpus = 2
  memory = 7.GB
  time = 48.h
  $star {
    memory = 12.GB
  }
}
