/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests using cached / offline test data
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnaseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'


    // Input data
    // params.test_data_base (default) = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq3/'
    input = "${params.test_data_base}/samplesheet/v3.10/samplesheet_test.csv"

    // Genome references
    fasta              = "${params.test_data_base}/reference/genome.fasta"
    gtf                = "${params.test_data_base}/reference/genes.gtf.gz"
    gff                = "${params.test_data_base}/reference/genes.gff.gz"
    transcript_fasta   = "${params.test_data_base}/reference/transcriptome.fasta"
    additional_fasta   = "${params.test_data_base}/reference/gfp.fa.gz"

    bbsplit_fasta_list = "${params.test_data_base}/reference/bbsplit_fasta_list.txt"
    hisat2_index       = "${params.test_data_base}/reference/hisat2.tar.gz"
    salmon_index       = "${params.test_data_base}/reference/salmon.tar.gz"
    rsem_index         = "${params.test_data_base}/reference/rsem.tar.gz"

    // Other parameters
    skip_bbsplit        = false
    pseudo_aligner      = 'salmon'
    umitools_bc_pattern = 'NNNN'
}

// When using RSEM, remove warning from STAR whilst building tiny indices
process {
    withName: 'RSEM_PREPAREREFERENCE_GENOME' {
        ext.args2 = "--genomeSAindexNbases 7"
    }
}
