/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnaseq -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    // Input data
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/samplesheet/v3.1/samplesheet_test.csv'

    // Genome references
    fasta            = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genome.fa'
    gtf              = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genes.gtf.gz'
    gff              = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genes.gff.gz'
    transcript_fasta = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/transcriptome.fasta'
    additional_fasta = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/gfp.fa.gz'

    hisat2_index     = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/hisat2.tar.gz'
    star_index       = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/star.tar.gz'
    salmon_index     = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/salmon.tar.gz'
    rsem_index       = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/rsem.tar.gz'

    // Other parameters
    pseudo_aligner      = 'salmon'
    umitools_bc_pattern = 'NNNN'

    // When using RSEM, remove warning from STAR whilst building tiny indices
    modules {
        'rsem_preparereference' {
            args2 = "--genomeSAindexNbases 7"
        }
    }
}
