/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal prokaryotic tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test
    with prokaryotic (bacterial/archaeal) RNA-seq data.

    Use as follows:
        nextflow run nf-core/rnaseq -profile test_prokaryotic,<docker/singularity> --outdir <OUTDIR>

    Note: test_prokaryotic composes on the prokaryotic profile (via nextflow.config),
    so core prokaryotic settings are inherited automatically.

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test prokaryotic profile'
    config_profile_description = 'Minimal prokaryotic test dataset to check pipeline function with bacterial/archaeal data'

    // Input data - Salmonella Typhimurium SL1344
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/samplesheet/prokaryotic/samplesheet_test.csv'

    // Genome references - Salmonella Typhimurium SL1344 (subset)
    fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/reference/prokaryotic/SL1344_sub.fasta'
    gff   = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/reference/prokaryotic/SL1344_sub.gff3'
    gtf   = null
    transcript_fasta = null
    additional_fasta = null

    // Skip steps not needed for minimal testing
    skip_bbsplit       = true
    skip_preseq        = true
    skip_biotype_qc    = true
    skip_deseq2_qc     = true
    pseudo_aligner     = null
    min_trimmed_reads  = 0
}

process {
    // Add seeds for reproducibility in alignment
    withName: '.*:BOWTIE2_ALIGN$' {
        ext.args = '--very-sensitive-local --seed 1 --reorder'
    }
    withName: '.*:BOWTIE2_ALIGN_PE$' {
        ext.args = '--very-sensitive-local --seed 1 --reorder'
    }
}
