/*
 * -------------------------------------------------
 *  Nextflow config file for running full-size tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a full size pipeline test. Use as follows:
 *   nextflow run nf-core/rnaseq -profile test_full,<docker/singularity>
 */

params {
  config_profile_name = 'Full test profile'
  config_profile_description = 'Full test dataset to check pipeline function'

  // Input data for full size test
  // TODO nf-core: Specify the paths to your full test data ( on nf-core/test-datasets or directly in repositories, e.g. SRA)
  // TODO nf-core: Give any required params for the test so that command line flags are not needed
  single_end = false
  readPaths = [
    ['Testdata', ['https://github.com/nf-core/test-datasets/raw/exoseq/testdata/Testdata_R1.tiny.fastq.gz', 'https://github.com/nf-core/test-datasets/raw/exoseq/testdata/Testdata_R2.tiny.fastq.gz']],
    ['SRR389222', ['https://github.com/nf-core/test-datasets/raw/methylseq/testdata/SRR389222_sub1.fastq.gz', 'https://github.com/nf-core/test-datasets/raw/methylseq/testdata/SRR389222_sub2.fastq.gz']]
  ]
}
