/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/rnaseq -profile test_sra,<docker/singularity>
 */

params {
  config_profile_name        = 'Public data download test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function when downloading data via the ENA'

  // Limit resources so that this can run CI
  max_cpus   = 2
  max_memory = 6.GB
  max_time   = 6.h

  // Input data
  public_data_ids = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/samplesheet/public_database_ids.txt'

}
