/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnaseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'


    // Input data
    input = "https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/samplesheet/v3.10/samplesheet_test.csv"

    // Genome references
    fasta              = "https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/reference/genome.fasta"
    gtf                = "https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/reference/genes.gtf.gz"
    gff                = "https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/reference/genes.gff.gz"
    transcript_fasta   = "https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/reference/transcriptome.fasta"
    additional_fasta   = "https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/reference/gfp.fa.gz"

    bbsplit_fasta_list = "https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/reference/bbsplit_fasta_list.txt"
    hisat2_index       = "https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/reference/hisat2.tar.gz"
    salmon_index       = "https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/reference/salmon.tar.gz"
    rsem_index         = "https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/reference/rsem.tar.gz"

    // Other parameters
    skip_bbsplit        = false
    pseudo_aligner      = 'salmon'
    umitools_bc_pattern = 'NNNN'
}

// When using RSEM, remove warning from STAR whilst building tiny indices
process {
    withName: 'RSEM_PREPAREREFERENCE_GENOME' {
        ext.args2 = "--genomeSAindexNbases 7"
    }
}
