/*
 * -------------------------------------------------
 *  University of Cape Town HEX cluster config file
 * -------------------------------------------------
 * http://hpc.uct.ac.za/index.php/hex-3/
 */

singularity {
   enabled = true
   cacheDir = "/scratch/DB/bio/singularity-containers"
}

process {
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   queue = 'UCTlong'
   clusterOptions = { "-M $params.email -m abe -l nodes=1:ppn=1:series600" }
}

executor{
   executor = 'pbs'
   jobName = { "$task.tag" }
}

params {
   igenomes_base = '/scratch/DB/bio/rna-seq/references'
}
