/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for UPPMAX (milou / irma)
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Imported under the default 'standard' Nextflow
 * profile in nextflow.config
 */

process {
  executor = 'slurm'
  queue = 'devcore'
  cpus = { 1 * task.attempt }
  memory = { 8.GB * task.attempt }
  time = 1.h
  clusterOptions = { "-A $params.project " + (params.clusterOptions ?: '') }
  
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
  
  // Environment modules and resource requirements
  $makeSTARindex {
    module = ['bioinfo-tools', 'star/2.5.1b']
    cpus = { 10 * task.attempt }
    memory = { 80.GB * task.attempt }
  }
  $makeHisatSplicesites {
    module = ['bioinfo-tools', 'HISAT2/2.0.5']
  }
  $makeHISATindex {
    module = ['bioinfo-tools', 'HISAT2/2.0.5']
    cpus = { 10 * task.attempt }
    memory = { 80.GB * task.attempt }
  }
  $fastqc {
    module = ['bioinfo-tools', 'FastQC/0.11.5']
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
  $trim_galore{
    module = ['bioinfo-tools', 'TrimGalore/0.4.1']
    cpus = { 2 * task.attempt }
    memory = { 16.GB * task.attempt }
  }
  $star {
    module = ['bioinfo-tools', 'star/2.5.1b']
    cpus = { 10 * task.attempt }
    memory = { 80.GB * task.attempt }
  }
  $hisat2Align {
    module = ['bioinfo-tools', 'samtools/1.3', 'HISAT2/2.0.5']
    cpus = { 8 * task.attempt }
    memory = { 64.GB * task.attempt }
  }
  $hisat2_sortOutput {
    module = ['bioinfo-tools', 'samtools/1.3']
    cpus = { 4 * task.attempt }
    memory = { 32.GB * task.attempt }
  }
  $rseqc {
    module = ['bioinfo-tools', 'rseqc/2.6.1', 'samtools/1.3']
    cpus = { 8 * task.attempt }
    memory = { 32.GB * task.attempt }
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
  $preseq {
    module = ['bioinfo-tools', 'preseq/0.1.0']
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
  $markDuplicates {
    module = ['bioinfo-tools', 'picard/2.0.1']
    cpus = { 2 * task.attempt }
    memory = { 16.GB * task.attempt }
  }
  $dupradar {
    module = ['bioinfo-tools', 'R/3.2.3']
    cpus = { 2 * task.attempt }
    memory = { 16.GB * task.attempt }
  }
  $featureCounts {
    module = ['bioinfo-tools', 'subread/1.5.1']
  }
  $stringtieFPKM {
    module = ['bioinfo-tools', 'StringTie/1.2.0']
  }
  $sample_correlation {
    module = ['bioinfo-tools', 'R/3.2.3']
    cpus = { 2 * task.attempt }
    memory = { 16.GB * task.attempt }
  }
  // NB: Overwrite this in your user config file (~/.nextflow/config)
  // if you have your own installation of MultiQC outside of the environment module system.
  // eg: Add the line: params.$multiqc.module = ''
  $multiqc {
    module = ['bioinfo-tools', 'MultiQC/0.8']
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
}

params {
  clusterOptions = false
  params.saveReference = true
  // illumina iGenomes reference file paths on UPPMAX
  genomes {
    'GRCh37' {
      bed12   = '/sw/data/uppnex/igenomes/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.bed'
      fasta   = '/sw/data/uppnex/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/sw/data/uppnex/igenomes/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.gtf'
      star    = '/sw/data/uppnex/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/STARIndex/'
    }
    'GRCm38' {
      bed12   = '/sw/data/uppnex/igenomes/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.bed'
      fasta   = '/sw/data/uppnex/igenomes/Mus_musculus/Ensembl/GRCm38/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/sw/data/uppnex/igenomes/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.gtf'
      star    = '/sw/data/uppnex/igenomes/Mus_musculus/Ensembl/GRCm38/Sequence/STARIndex/'
    }
    'TAIR10' {
      bed12   = '/sw/data/uppnex/igenomes/Arabidopsis_thaliana/Ensembl/TAIR10/Annotation/Genes/genes.bed'
      fasta   = '/sw/data/uppnex/igenomes/Arabidopsis_thaliana/Ensembl/TAIR10/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/sw/data/uppnex/igenomes/Arabidopsis_thaliana/Ensembl/TAIR10/Annotation/Genes/genes.gtf'
      star    = '/sw/data/uppnex/igenomes/Arabidopsis_thaliana/Ensembl/TAIR10/Sequence/STARIndex/'
    }
    'EB2' {
      bed12   = '/sw/data/uppnex/igenomes/Bacillus_subtilis_168/Ensembl/EB2/Annotation/Genes/genes.bed'
      fasta   = '/sw/data/uppnex/igenomes/Bacillus_subtilis_168/Ensembl/EB2/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/sw/data/uppnex/igenomes/Bacillus_subtilis_168/Ensembl/EB2/Annotation/Genes/genes.gtf'
      star    = '/sw/data/uppnex/igenomes/Bacillus_subtilis_168/Ensembl/EB2/Sequence/STARIndex/'
    }
    'UMD3.1' {
      bed12   = '/sw/data/uppnex/igenomes/Bos_taurus/Ensembl/UMD3.1/Annotation/Genes/genes.bed'
      fasta   = '/sw/data/uppnex/igenomes/Bos_taurus/Ensembl/UMD3.1/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/sw/data/uppnex/igenomes/Bos_taurus/Ensembl/UMD3.1/Annotation/Genes/genes.gtf'
      star    = '/sw/data/uppnex/igenomes/Bos_taurus/Ensembl/UMD3.1/Sequence/STARIndex/'
    }
    'WBcel235' {
      bed12   = '/sw/data/uppnex/igenomes/Caenorhabditis_elegans/Ensembl/WBcel235/Annotation/Genes/genes.bed'
      fasta   = '/sw/data/uppnex/igenomes/Caenorhabditis_elegans/Ensembl/WBcel235/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/sw/data/uppnex/igenomes/Caenorhabditis_elegans/Ensembl/WBcel235/Annotation/Genes/genes.gtf'
      star    = '/sw/data/uppnex/igenomes/Caenorhabditis_elegans/Ensembl/WBcel235/Sequence/STARIndex/'
    }
    'CanFam3.1' {
      bed12   = '/sw/data/uppnex/igenomes/Canis_familiaris/Ensembl/CanFam3.1/Annotation/Genes/genes.bed'
      fasta   = '/sw/data/uppnex/igenomes/Canis_familiaris/Ensembl/CanFam3.1/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/sw/data/uppnex/igenomes/Canis_familiaris/Ensembl/CanFam3.1/Annotation/Genes/genes.gtf'
      star    = '/sw/data/uppnex/igenomes/Canis_familiaris/Ensembl/CanFam3.1/Sequence/STARIndex/'
    }
    'GRCz10' {
      bed12   = '/sw/data/uppnex/igenomes/Danio_rerio/Ensembl/GRCz10/Annotation/Genes/genes.bed'
      fasta   = '/sw/data/uppnex/igenomes/Danio_rerio/Ensembl/GRCz10/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/sw/data/uppnex/igenomes/Danio_rerio/Ensembl/GRCz10/Annotation/Genes/genes.gtf'
      star    = '/sw/data/uppnex/igenomes/Danio_rerio/Ensembl/GRCz10/Sequence/STARIndex/'
    }
    'BDGP6' {
      bed12   = '/sw/data/uppnex/igenomes/Drosophila_melanogaster/Ensembl/BDGP6/Annotation/Genes/genes.bed'
      fasta   = '/sw/data/uppnex/igenomes/Drosophila_melanogaster/Ensembl/BDGP6/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/sw/data/uppnex/igenomes/Drosophila_melanogaster/Ensembl/BDGP6/Annotation/Genes/genes.gtf'
      star    = '/sw/data/uppnex/igenomes/Drosophila_melanogaster/Ensembl/BDGP6/Sequence/STARIndex/'
    }
    'EquCab2' {
      bed12   = '/sw/data/uppnex/igenomes/Equus_caballus/Ensembl/EquCab2/Annotation/Genes/genes.bed'
      fasta   = '/sw/data/uppnex/igenomes/Equus_caballus/Ensembl/EquCab2/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/sw/data/uppnex/igenomes/Equus_caballus/Ensembl/EquCab2/Annotation/Genes/genes.gtf'
      star    = '/sw/data/uppnex/igenomes/Equus_caballus/Ensembl/EquCab2/Sequence/STARIndex/'
    }
    'EB1' {
      bed12   = '/sw/data/uppnex/igenomes/Escherichia_coli_K_12_DH10B/Ensembl/EB1/Annotation/Genes/genes.bed'
      fasta   = '/sw/data/uppnex/igenomes/Escherichia_coli_K_12_DH10B/Ensembl/EB1/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/sw/data/uppnex/igenomes/Escherichia_coli_K_12_DH10B/Ensembl/EB1/Annotation/Genes/genes.gtf'
      star    = '/sw/data/uppnex/igenomes/Escherichia_coli_K_12_DH10B/Ensembl/EB1/Sequence/STARIndex/'
    }
    'Galgal4' {
      bed12   = '/sw/data/uppnex/igenomes/Gallus_gallus/Ensembl/Galgal4/Annotation/Genes/genes.bed'
      fasta   = '/sw/data/uppnex/igenomes/Gallus_gallus/Ensembl/Galgal4/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/sw/data/uppnex/igenomes/Gallus_gallus/Ensembl/Galgal4/Annotation/Genes/genes.gtf'
      star    = '/sw/data/uppnex/igenomes/Gallus_gallus/Ensembl/Galgal4/Sequence/STARIndex/'
    }
    'Gm01' {
      bed12   = '/sw/data/uppnex/igenomes/Glycine_max/Ensembl/Gm01/Annotation/Genes/genes.bed'
      fasta   = '/sw/data/uppnex/igenomes/Glycine_max/Ensembl/Gm01/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/sw/data/uppnex/igenomes/Glycine_max/Ensembl/Gm01/Annotation/Genes/genes.gtf'
      star    = '/sw/data/uppnex/igenomes/Glycine_max/Ensembl/Gm01/Sequence/STARIndex/'
    }
    'Mmul_1' {
      bed12   = '/sw/data/uppnex/igenomes/Macaca_mulatta/Ensembl/Mmul_1/Annotation/Genes/genes.bed'
      fasta   = '/sw/data/uppnex/igenomes/Macaca_mulatta/Ensembl/Mmul_1/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/sw/data/uppnex/igenomes/Macaca_mulatta/Ensembl/Mmul_1/Annotation/Genes/genes.gtf'
      star    = '/sw/data/uppnex/igenomes/Macaca_mulatta/Ensembl/Mmul_1/Sequence/STARIndex/'
    }
    'IRGSP-1.0' {
      bed12   = '/sw/data/uppnex/igenomes/Oryza_sativa_japonica/Ensembl/IRGSP-1.0/Annotation/Genes/genes.bed'
      fasta   = '/sw/data/uppnex/igenomes/Oryza_sativa_japonica/Ensembl/IRGSP-1.0/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/sw/data/uppnex/igenomes/Oryza_sativa_japonica/Ensembl/IRGSP-1.0/Annotation/Genes/genes.gtf'
      star    = '/sw/data/uppnex/igenomes/Oryza_sativa_japonica/Ensembl/IRGSP-1.0/Sequence/STARIndex/'
    }
    'CHIMP2.1.4' {
      bed12   = '/sw/data/uppnex/igenomes/Pan_troglodytes/Ensembl/CHIMP2.1.4/Annotation/Genes/genes.bed'
      fasta   = '/sw/data/uppnex/igenomes/Pan_troglodytes/Ensembl/CHIMP2.1.4/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/sw/data/uppnex/igenomes/Pan_troglodytes/Ensembl/CHIMP2.1.4/Annotation/Genes/genes.gtf'
      star    = '/sw/data/uppnex/igenomes/Pan_troglodytes/Ensembl/CHIMP2.1.4/Sequence/STARIndex/'
    }
    'Rnor_6.0' {
      bed12   = '/sw/data/uppnex/igenomes/Rattus_norvegicus/Ensembl/Rnor_6.0/Annotation/Genes/genes.bed'
      fasta   = '/sw/data/uppnex/igenomes/Rattus_norvegicus/Ensembl/Rnor_6.0/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/sw/data/uppnex/igenomes/Rattus_norvegicus/Ensembl/Rnor_6.0/Annotation/Genes/genes.gtf'
      star    = '/sw/data/uppnex/igenomes/Rattus_norvegicus/Ensembl/Rnor_6.0/Sequence/STARIndex/'
    }
    'R64-1-1' {
      bed12   = '/sw/data/uppnex/igenomes/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Annotation/Genes/genes.bed'
      fasta   = '/sw/data/uppnex/igenomes/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/sw/data/uppnex/igenomes/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Annotation/Genes/genes.gtf'
      star    = '/sw/data/uppnex/igenomes/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Sequence/STARIndex/'
    }
    'EF2' {
      bed12   = '/sw/data/uppnex/igenomes/Schizosaccharomyces_pombe/Ensembl/EF2/Annotation/Genes/genes.bed'
      fasta   = '/sw/data/uppnex/igenomes/Schizosaccharomyces_pombe/Ensembl/EF2/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/sw/data/uppnex/igenomes/Schizosaccharomyces_pombe/Ensembl/EF2/Annotation/Genes/genes.gtf'
      star    = '/sw/data/uppnex/igenomes/Schizosaccharomyces_pombe/Ensembl/EF2/Sequence/STARIndex/'
    }
    'Sbi1' {
      bed12   = '/sw/data/uppnex/igenomes/Sorghum_bicolor/Ensembl/Sbi1/Annotation/Genes/genes.bed'
      fasta   = '/sw/data/uppnex/igenomes/Sorghum_bicolor/Ensembl/Sbi1/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/sw/data/uppnex/igenomes/Sorghum_bicolor/Ensembl/Sbi1/Annotation/Genes/genes.gtf'
      star    = '/sw/data/uppnex/igenomes/Sorghum_bicolor/Ensembl/Sbi1/Sequence/STARIndex/'
    }
    'Sscrofa10.2' {
      bed12   = '/sw/data/uppnex/igenomes/Sus_scrofa/Ensembl/Sscrofa10.2/Annotation/Genes/genes.bed'
      fasta   = '/sw/data/uppnex/igenomes/Sus_scrofa/Ensembl/Sscrofa10.2/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/sw/data/uppnex/igenomes/Sus_scrofa/Ensembl/Sscrofa10.2/Annotation/Genes/genes.gtf'
      star    = '/sw/data/uppnex/igenomes/Sus_scrofa/Ensembl/Sscrofa10.2/Sequence/STARIndex/'
    }
    'AGPv3' {
      bed12   = '/sw/data/uppnex/igenomes/Zea_mays/Ensembl/AGPv3/Annotation/Genes/genes.bed'
      fasta   = '/sw/data/uppnex/igenomes/Zea_mays/Ensembl/AGPv3/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/sw/data/uppnex/igenomes/Zea_mays/Ensembl/AGPv3/Annotation/Genes/genes.gtf'
      star    = '/sw/data/uppnex/igenomes/Zea_mays/Ensembl/AGPv3/Sequence/STARIndex/'
    }
  }
}
