/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for UPPMAX (milou / irma)
 * -------------------------------------------------
 * To be applied after main UPPMAX config, overwrites config and
 * submits jobs to the `devcore` queue, which has much faster
 * queue times. All jobs are limited to 1 hour to be eligible
 * for this queue and only one job allowed at a time.
 */

executor {
  name = 'slurm'
  queueSize = 1
}
process {
  executor = 'slurm'
  queue = 'devcore'
  cpus = { 1 * task.attempt }
  memory = { 8.GB * task.attempt }
  time = 1.h
}

params {
  // Max resources to be requested by a devel job
  max_memory = 120.GB
  max_cpus = 16
  max_time = 1.h
}

