/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file with environment modules for UPPMAX (milou / irma)
 * -------------------------------------------------
 */

singularity {
  enabled = false
}

process {

  // Environment modules and resource requirements
  $makeSTARindex.module = ['bioinfo-tools', 'star/2.5.1b']
  $makeHisatSplicesites.module = ['bioinfo-tools', 'HISAT2/2.1.0']
  $makeHISATindex.module = ['bioinfo-tools', 'HISAT2/2.1.0']
  $fastqc.module = ['bioinfo-tools', 'FastQC/0.11.5']
  $trim_galore.module = ['bioinfo-tools', 'FastQC/0.11.5', 'TrimGalore/0.4.1']
  $star.module = ['bioinfo-tools', 'star/2.5.1b']
  $hisat2Align.module = ['bioinfo-tools', 'samtools/1.3', 'HISAT2/2.1.0']
  $hisat2_sortOutput.module = ['bioinfo-tools', 'samtools/1.3']
  $rseqc.module = ['bioinfo-tools', 'rseqc/2.6.1', 'samtools/1.3']
  $genebody_coverage.module = ['bioinfo-tools', 'rseqc/2.6.1', 'samtools/1.3']
  $preseq.module = ['bioinfo-tools', 'preseq/0.1.0']
  $markDuplicates.module = ['bioinfo-tools', 'samtools/1.3', 'picard/2.0.1']
  $dupradar.module = ['bioinfo-tools', 'R/3.2.3']
  $featureCounts.module = ['bioinfo-tools', 'subread/1.5.1']
  $merge_featureCounts.module = ['python/2.7.11']
  $stringtieFPKM.module = ['bioinfo-tools', 'StringTie/1.3.3']
  $sample_correlation.module = ['bioinfo-tools', 'R/3.2.3']
  // NB: Overwrite this in a config file in the working directory (nextflow.config) or with -c
  // if you have your own installation of MultiQC outside of the environment module system.
  // eg: Add the line: process.$multiqc.module = []
  $multiqc.module = ['bioinfo-tools', 'MultiQC/1.3']
}

params {
  rlocation = "$HOME/R/nxtflow_libs/"
}
