if (!params.skip_qc) {
    if (!params.skip_preseq) {
        process {
            withName: 'PRESEQ_LCEXTRAP' {
                ext.args   = '-verbose -bam -seed 1 -seg_len 100000000'
                publishDir = [
                    [
                        path: { "${params.outdir}/${params.aligner}/preseq" },
                        mode: params.publish_dir_mode,
                        pattern: "*.txt"
                    ],
                    [
                        path: { "${params.outdir}/${params.aligner}/preseq/log" },
                        mode: params.publish_dir_mode,
                        pattern: "*.log"
                    ]
                ]
            }
        }
    }
}
