process {

    withName: 'FQ_LINT' {
        ext.args   = { params.extra_fqlint_args ?: '' }
        publishDir = [
            path: { "${params.outdir}/fq_lint/raw" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FQ_LINT_AFTER_TRIMMING' {
        publishDir = [
            path: { "${params.outdir}/fq_lint/trimmed" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FQ_LINT_AFTER_BBSPLIT' {
        publishDir = [
            path: { "${params.outdir}/fq_lint/sortmerna" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FQ_LINT_AFTER_SORTMERNA' {
        publishDir = [
            path: { "${params.outdir}/fq_lint/trimmed" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
