process {

    withName: 'FQ_LINT' {
        ext.args   = { params.extra_fqlint_args ?: '' }
        publishDir = [
            path: { "${params.outdir}/fq_lint/raw" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FQ_LINT_AFTER_TRIMMING' {
        publishDir = [
            path: { "${params.outdir}/fq_lint/trimmed" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FQ_LINT_AFTER_BBSPLIT' {
        publishDir = [
            path: { "${params.outdir}/fq_lint/bbsplit" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FQ_LINT_AFTER_RIBO_REMOVAL' {
        publishDir = [
            path: { "${params.outdir}/fq_lint/${params.ribo_removal_tool ?: 'sortmerna'}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}

//
// rRNA FASTA preparation (for SortMeRNA and Bowtie2)
//

if (params.remove_ribo_rna && params.ribo_removal_tool in ['sortmerna', 'bowtie2']) {
    process {
        withName: '.*:FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS:.*:SEQKIT_REPLACE' {
            ext.args   = '--pattern "^(.+)" --replacement "{fbn}_\\$1"'
            ext.prefix = { "${meta.id}_prefixed" }
        }

        withName: '.*:FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS:.*:SEQKIT_REPLACE_U2T' {
            ext.args   = '--by-seq --pattern "[Uu]" --replacement "T"'
            ext.prefix = { "${meta.id}_converted" }
        }
    }
}

//
// Ribodetector rRNA removal options
//

if (params.remove_ribo_rna && params.ribo_removal_tool == 'ribodetector') {
    process {
        withName: '.*:FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS:.*:SEQKIT_STATS' {
            ext.args   = '--all'
            ext.prefix = { "${meta.id}.rrna_removal_stats" }
            publishDir = [
                path: { "${params.outdir}/ribodetector" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }

        withName: '.*:FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS:.*:RIBODETECTOR' {
            ext.args   = '-e rrna'
            cpus       = 1
            publishDir = [
                [
                    path: { "${params.outdir}/ribodetector" },
                    mode: params.publish_dir_mode,
                    pattern: "*.log"
                ],
                [
                    path: { params.save_non_ribo_reads ? "${params.outdir}/ribodetector" : params.outdir },
                    mode: params.publish_dir_mode,
                    pattern: "*.fastq.gz",
                    saveAs: { params.save_non_ribo_reads ? it : null }
                ]
            ]
        }
    }
}

//
// Bowtie2 rRNA removal options
//

if (params.remove_ribo_rna && params.ribo_removal_tool == 'bowtie2') {
    process {
        withName: '.*:FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS:.*:BOWTIE2_BUILD' {
            publishDir = [
                path: { "${params.outdir}/bowtie2_rrna/index" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : params.save_reference ? filename : null }
            ]
        }

        withName: '.*:FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS:.*:BOWTIE2_ALIGN$' {
            ext.args   = '--very-sensitive-local'
            ext.prefix = { "${meta.id}.bowtie2_rrna" }
            publishDir = [
                [
                    path: { "${params.outdir}/bowtie2_rrna" },
                    mode: params.publish_dir_mode,
                    pattern: "*.log"
                ],
                [
                    path: { params.save_non_ribo_reads ? "${params.outdir}/bowtie2_rrna" : params.outdir },
                    mode: params.publish_dir_mode,
                    pattern: "*.fastq.gz",
                    saveAs: { params.save_non_ribo_reads ? it : null }
                ]
            ]
        }

        withName: '.*:FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS:.*:BOWTIE2_ALIGN_PE$' {
            ext.args   = '--very-sensitive-local'
            ext.prefix = { "${meta.id}.bowtie2_rrna" }
            publishDir = [
                [
                    path: { "${params.outdir}/bowtie2_rrna" },
                    mode: params.publish_dir_mode,
                    pattern: "*.log"
                ],
                [
                    path: { params.save_non_ribo_reads ? "${params.outdir}/bowtie2_rrna" : params.outdir },
                    mode: params.publish_dir_mode,
                    pattern: "*.fastq.gz",
                    saveAs: { params.save_non_ribo_reads ? it : null }
                ]
            ]
        }

        withName: '.*:FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS:.*:SAMTOOLS_VIEW_BOWTIE2' {
            ext.prefix = { "${meta.id}.bowtie2_unmapped" }
            ext.args   = '-f 12'  // Keep only pairs where BOTH mates are unmapped
            publishDir = [
                enabled: false
            ]
        }

        withName: '.*:FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS:.*:SAMTOOLS_FASTQ_BOWTIE2' {
            ext.prefix = { "${meta.id}.bowtie2_filtered" }
            publishDir = [
                enabled: false
            ]
        }
    }
}
