process {

    withName: 'FQ_LINT' {
        ext.args   = { params.extra_fqlint_args ?: '' }
    }

    withName: 'FQ_LINT_AFTER_TRIMMING' {
        ext.prefix = { "${meta.id}.trimmed" }
    }

    withName: 'FQ_LINT_AFTER_BBMAP' {
        ext.prefix = { "${meta.id}.bbmap" }
    }

    withName: 'FQ_LINT_AFTER_SORTMERNA' {
        ext.prefix = { "${meta.id}.sortmerna" }
    }

}