
withName: 'FASTQC' {
    ext.args   = '--quiet'
}

withName: 'UMITOOLS_EXTRACT' {
    ext.args   = { [
            params.umitools_extract_method ? "--extract-method=${params.umitools_extract_method}" : '',
            params.umitools_bc_pattern     ? "--bc-pattern='${params.umitools_bc_pattern}'" : '',
            params.umitools_bc_pattern2    ? "--bc-pattern2='${params.umitools_bc_pattern2}'" : '',
            params.umitools_umi_separator  ? "--umi-separator='${params.umitools_umi_separator}'" : ''
    ].join(' ').trim() }
    publishDir = [
        [
            path: { "${params.outdir}/umitools" },
            mode: params.publish_dir_mode,
            pattern: "*.log"
        ],
        [
            path: { "${params.outdir}/umitools" },
            mode: params.publish_dir_mode,
            pattern: "*.fastq.gz",
            saveAs: { params.save_umi_intermeds ? it : null }
        ]
    ]
}

withName: 'TRIMGALORE' {
    ext.args   = {
        [
            "--fastqc_args '-t ${task.cpus}'",
            params.extra_trimgalore_args ? params.extra_trimgalore_args.split("\\s(?=--)") : ''
        ].flatten().unique(false).join(' ').trim()
    }
    publishDir = [
        [
            path: { "${params.outdir}/${params.trimmer}/fastqc" },
            mode: params.publish_dir_mode,
            pattern: "*.{html,zip}"
        ],
        [
            path: { "${params.outdir}/${params.trimmer}" },
            mode: params.publish_dir_mode,
            pattern: "*.fq.gz",
            saveAs: { params.save_trimmed ? it : null }
        ],
        [
            path: { "${params.outdir}/${params.trimmer}" },
            mode: params.publish_dir_mode,
            pattern: "*.txt"
        ]
    ]
}
