process {
    withName: '.*:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:FASTQC' {
        ext.args   = '--quiet'
        ext.prefix = { "${meta.id}_raw" }
        publishDir = [
            path: { "${params.outdir}/${task.ext.publish_prefix}fastqc/raw" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:TRIMGALORE' {
        ext.args   = {
            // Initialize the map with preconfigured values
            def preset_args_map = ["--fastqc_args": "'-t ${task.cpus}'"]

            // Parse extra args if provided
            def extra_args_map = [:]
            if (params.extra_trimgalore_args) {
                params.extra_trimgalore_args.split("\\s(?=--)").each { arg ->
                    def parts = arg.trim().split(/\s+/, 2)
                    extra_args_map[parts.first()] = parts.last()
                }
            }

            // Consolidate the arguments (extra args override preset)
            def final_args_map = preset_args_map + extra_args_map

            // Convert the map back to a single string
            final_args_map.collect { key, value -> "${key} ${value}" }.join(' ').trim()
        }
        ext.prefix = { "${meta.id}_trimmed" }
        publishDir = [
            [
                path: { "${params.outdir}/${task.ext.publish_prefix}fastqc/trim" },
                mode: params.publish_dir_mode,
                pattern: "*.{html,zip}"
            ],
            [
                path: { params.save_trimmed ? "${params.outdir}/${task.ext.publish_prefix}${params.trimmer}" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: "*.fq.gz",
                saveAs: { filename -> params.save_trimmed ? filename : null }
            ],
            [
                path: { "${params.outdir}/${task.ext.publish_prefix}${params.trimmer}" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ]
        ]
    }

    withName: '.*:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:UMITOOLS_EXTRACT' {
        ext.args   = { [
                params.umitools_extract_method ? "--extract-method=${params.umitools_extract_method}" : '',
                params.umitools_bc_pattern     ? "--bc-pattern='${params.umitools_bc_pattern}'" : '',
                params.umitools_bc_pattern2    ? "--bc-pattern2='${params.umitools_bc_pattern2}'" : '',
                params.umitools_umi_separator  ? "--umi-separator='${params.umitools_umi_separator}'" : ''
        ].join(' ').trim() }
        publishDir = [
            [
                path: { "${params.outdir}/${task.ext.publish_prefix}umitools" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ],
            [
                path: { params.save_umi_intermeds ? "${params.outdir}/${task.ext.publish_prefix}umitools" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: "*.fastq.gz",
                saveAs: { filename -> params.save_umi_intermeds ? filename : null }
            ]
        ]
    }
}
