
withName: 'SALMON_INDEX' {
    ext.args   = params.gencode ? '--gencode' : ''
    publishDir = [
        path: "${params.outdir}/genome/index",
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        enabled: params.save_reference
    ]
}

withName: 'FQ_SUBSAMPLE' {
    ext.args   = '--record-count 1000000 --seed 1'
    ext.prefix = { "${meta.id}.subsampled" }
    publishDir = [
        enabled: false
    ]
}

withName: '.*:FASTQ_SUBSAMPLE_FQ_SALMON:SALMON_QUANT' {
    ext.args   = '--skipQuant'
    publishDir = [
        enabled: false
    ]
}
