publishDir = [
    [
        path: { "${params.outdir}/${params.aligner}/rseqc/junction_annotation/pdf" },
        mode: params.publish_dir_mode,
        pattern: '*.pdf'
    ],
    [
        path: { "${params.outdir}/${params.aligner}/rseqc/junction_annotation/bed" },
        mode: params.publish_dir_mode,
        pattern: '*.bed'
    ],
    [
        path: { "${params.outdir}/${params.aligner}/rseqc/junction_annotation/xls" },
        mode: params.publish_dir_mode,
        pattern: '*.xls'
    ],
    [
        path: { "${params.outdir}/${params.aligner}/rseqc/junction_annotation/log" },
        mode: params.publish_dir_mode,
        pattern: '*.log'
    ],
    [
        path: { "${params.outdir}/${params.aligner}/rseqc/junction_annotation/rscript" },
        mode: params.publish_dir_mode,
        pattern: '*.r'
    ]
]