params {
    outdir = "output/"
    publish_dir_mode = "copy"
    enable_conda = false
    singularity_pull_docker_container = false
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h
}

process {
  cpus = 2
  memory = 6.GB
  time = 48.h
}

if ("$PROFILE" == "singularity") {
    singularity.enabled = true
    singularity.autoMounts = true
} else if ("$PROFILE" == "conda") {
    params.enable_conda = true
} else {
    docker.enabled = true
    docker.runOptions = '-u \$(id -u):\$(id -g)'
}

// Load test_data.config containing paths to test data
includeConfig 'test_data.config'

manifest {
  nextflowVersion = '!>=21.04.0-edge'
}