def test_data_dir = "${launchDir}/tests/data/"
def nf_core_modules_data = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/"
def nf_core_rnaseq_data = "https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/data/"

params {
    test_data {
        'nf-core' {
            test_paired_end_sorted_bam = "${nf_core_modules_data}/genomics/sarscov2/illumina/bam/test_paired_end.sorted.bam"
            genome_fasta               = "${nf_core_modules_data}/genomics/sarscov2/genome/genome.fasta"
            genome_sizes               = "${nf_core_modules_data}/genomics/sarscov2/genome/genome.sizes"
            'bed' {
                test_bed               = "${nf_core_modules_data}/genomics/sarscov2/genome/bed/test.bed"
                test2_bed              = "${nf_core_modules_data}/genomics/sarscov2/genome/bed/test2.bed"
            }
        }
    }
}