includeConfig "../../modules/nf-core/rustqc/nextflow.config"
includeConfig "../../modules/local/multiqc_custom_biotype/nextflow.config"
includeConfig "../../modules/nf-core/bbmap/bbsplit/nextflow.config"
includeConfig "../../modules/nf-core/cat/fastq/nextflow.config"
includeConfig "../../modules/nf-core/dupradar/nextflow.config"
includeConfig "../../modules/nf-core/multiqc/nextflow.config"
includeConfig "../../modules/nf-core/preseq/lcextrap/nextflow.config"
includeConfig "../../modules/nf-core/qualimap/rnaseq/nextflow.config"
includeConfig "../../modules/nf-core/sortmerna/nextflow.config"
includeConfig "../../modules/nf-core/stringtie/stringtie/nextflow.config"
includeConfig "../../modules/nf-core/subread/featurecounts/nextflow.config"
includeConfig "../../modules/nf-core/kraken2/kraken2/nextflow.config"
includeConfig "../../modules/nf-core/bracken/bracken/nextflow.config"
includeConfig "../../modules/nf-core/sylph/profile/nextflow.config"
includeConfig "../../modules/nf-core/sylphtax/taxprof/nextflow.config"
includeConfig "../../subworkflows/local/align_star/nextflow.config"
includeConfig "../../subworkflows/local/align_bowtie2/nextflow.config"
includeConfig "../../subworkflows/nf-core/quantify_rsem/nextflow.config"
includeConfig "../../subworkflows/nf-core/quantify_pseudo_alignment/nextflow.config"
includeConfig "../../subworkflows/nf-core/quant_tximport_summarizedexperiment/nextflow.config"
includeConfig "../../subworkflows/nf-core/bam_markduplicates_picard/nextflow.config"
includeConfig "../../subworkflows/nf-core/bam_rseqc/nextflow.config"
includeConfig "../../subworkflows/nf-core/fastq_align_hisat2/nextflow.config"
includeConfig "../../subworkflows/nf-core/fastq_fastqc_umitools_fastp/nextflow.config"
includeConfig "../../subworkflows/nf-core/fastq_fastqc_umitools_trimgalore/nextflow.config"
includeConfig "../../subworkflows/nf-core/fastq_subsample_fq_salmon/nextflow.config"
includeConfig "../../subworkflows/nf-core/fastq_qc_trim_filter_setstrandedness/nextflow.config"

//
// BAM-based Salmon quantification options (for star_salmon and bowtie2_salmon aligners)
//

process {
    withName: '.*:QUANTIFY_BAM_SALMON:SALMON_QUANT' {
        ext.args   = { params.extra_salmon_quant_args ?: '' }
        publishDir = [
            path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || filename.endsWith('_meta_info.json') || filename.endsWith('_format_counts.json') ? null : filename }
        ]
    }

    withName: '.*:QUANTIFY_BAM_SALMON:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:(CUSTOM_TX2GENE|TXIMETA_TXIMPORT)' {
        publishDir = [
            path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:QUANTIFY_BAM_SALMON:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:SE_.*' {
        publishDir = [
            path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || filename.endsWith('.log') ? null : filename }
        ]
    }

    // UMI options for star_salmon aligner

    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_DEDUP_UMI:SAMTOOLS_SORT' {
        ext.args   = '-n'
        ext.prefix = { "${meta.id}.umi_dedup.transcriptome" }
        publishDir = [
            path: { params.save_align_intermeds || params.save_umi_intermeds ? "${params.outdir}/${task.ext.publish_prefix}${params.aligner}" : params.outdir },
            mode: params.publish_dir_mode,
            pattern: '*.bam',
            saveAs: { filename -> params.save_align_intermeds || params.save_umi_intermeds ? filename : null }
        ]
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_DEDUP_UMI:UMITOOLS_PREPAREFORRSEM' {
        ext.prefix = { "${meta.id}.umi_dedup.transcriptome.filtered" }
        publishDir = [
            [
                path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}/umitools/prepare_for_quantification_log" },
                mode: params.publish_dir_mode,
                pattern: '*.log'
            ],
            [
                path: { params.save_align_intermeds || params.save_umi_intermeds ? "${params.outdir}/${task.ext.publish_prefix}${params.aligner}" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: '*.bam',
                saveAs: { filename -> params.save_align_intermeds || params.save_umi_intermeds ? filename : null }
            ]
        ]
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_DEDUP_UMI:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.transcriptome.sorted" }
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_DEDUP_UMI:BAM_SORT_STATS_SAMTOOLS:(SAMTOOLS_SORT|SAMTOOLS_INDEX)' {
        publishDir = [
            path: { params.save_align_intermeds || params.save_umi_intermeds ? "${params.outdir}/${task.ext.publish_prefix}${params.aligner}" : params.outdir },
            mode: params.publish_dir_mode,
            pattern: '*.{bam,bai}',
            saveAs: { filename -> params.save_align_intermeds || params.save_umi_intermeds ? filename : null }
        ]
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_DEDUP_UMI:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = { "${meta.id}.transcriptome.sorted.bam" }
        publishDir = [
            path: { params.save_align_intermeds || params.save_umi_intermeds ? "${params.outdir}/${task.ext.publish_prefix}${params.aligner}/samtools_stats" : params.outdir },
            mode: params.publish_dir_mode,
            pattern: '*.{stats,flagstat,idxstats}',
            saveAs: { filename -> params.save_align_intermeds || params.save_umi_intermeds ? filename : null }
        ]
    }

    // Use the same umi_dedup prefix for umitools and umicollapse

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMI(COLLAPSE|TOOLS)_TRANSCRIPTOME:UMI(COLLAPSE|TOOLS_DEDUP)' {
        ext.prefix = { "${meta.id}.umi_dedup.transcriptome.sorted" }
    }

    // Publishing logic for umitools:

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMITOOLS_TRANSCRIPTOME:UMITOOLS_DEDUP' {
        publishDir = [
            [
                path: { params.save_align_intermeds || params.save_umi_intermeds ? "${params.outdir}/${task.ext.publish_prefix}${params.aligner}" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: '*.bam',
                saveAs: { filename -> params.save_align_intermeds || params.save_umi_intermeds ? filename : null }
            ],
            [
                path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}/umitools/transcriptomic_dedup_log" },
                mode: params.publish_dir_mode,
                pattern: '*.log'
            ],
            [
                path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}/umitools" },
                mode: params.publish_dir_mode,
                pattern: '*.tsv'
            ]
        ]
    }

    // Publishing logic for umicollapse

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMICOLLAPSE_TRANSCRIPTOME:UMICOLLAPSE' {
        publishDir = [
            [
                path: { params.save_align_intermeds || params.save_umi_intermeds ? "${params.outdir}/${task.ext.publish_prefix}${params.aligner}" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: '*.bam',
                saveAs: { filename -> params.save_align_intermeds || params.save_umi_intermeds ? filename : null }
            ],
            [
                path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}/umicollapse/transcriptomic_dedup_log" },
                mode: params.publish_dir_mode,
                pattern: '*.log'
            ]
        ]
    }

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMI(COLLAPSE|TOOLS)_TRANSCRIPTOME:SAMTOOLS_INDEX' {
        publishDir = [
            path: { params.save_align_intermeds || params.save_umi_intermeds ? "${params.outdir}/${task.ext.publish_prefix}${params.aligner}" : params.outdir },
            mode: params.publish_dir_mode,
            pattern: '*.bai',
            saveAs: { filename -> params.save_align_intermeds || params.save_umi_intermeds ? filename : null }
        ]
    }

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMI(COLLAPSE|TOOLS)_TRANSCRIPTOME:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = { "${meta.id}.umi_dedup.transcriptome.sorted.bam" }
        publishDir = [
            path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}/samtools_stats" },
            mode: params.publish_dir_mode,
            pattern: '*.{stats,flagstat,idxstats}'
        ]
    }
}

//
// General alignment options
//

process {
    withName: 'NFCORE_RNASEQ:RNASEQ:.*:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = { "${meta.id}.sorted.bam" }
        publishDir = [
            path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}/samtools_stats" },
            mode: params.publish_dir_mode,
            pattern: "*.{stats,flagstat,idxstats}"
        ]
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:.*:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.sorted" }
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:.*:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_INDEX' {
        ext.args   = { params.bam_csi_index ? '-c' : '' }
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:.*:BAM_SORT_STATS_SAMTOOLS:(SAMTOOLS_SORT|SAMTOOLS_INDEX)' {
        publishDir = [
            path: { params.save_align_intermeds || params.skip_markduplicates ? "${params.outdir}/${task.ext.publish_prefix}${params.aligner}" : params.outdir },
            mode: params.publish_dir_mode,
            pattern: "*.{bam,bai,csi}",
            saveAs: { filename -> params.save_align_intermeds || params.skip_markduplicates ? filename : null }
        ]
    }

    // QUANTIFY_BAM_SALMON always uses Salmon (for star_salmon and bowtie2_salmon aligners)
    withName: '.*:QUANTIFY_BAM_SALMON:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:SE_GENE_UNIFIED' {
        ext.prefix = { "salmon.merged.gene" }
    }

    withName: '.*:QUANTIFY_BAM_SALMON:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:SE_TRANSCRIPT_UNIFIED' {
        ext.prefix = { "salmon.merged.transcript" }
    }

    // QUANTIFY_PSEUDO_ALIGNMENT uses params.pseudo_aligner (salmon or kallisto)
    withName: '.*:QUANTIFY_PSEUDO_ALIGNMENT:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:SE_GENE_UNIFIED' {
        ext.prefix = { "${params.pseudo_aligner}.merged.gene" }
    }

    withName: '.*:QUANTIFY_PSEUDO_ALIGNMENT:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:SE_TRANSCRIPT_UNIFIED' {
        ext.prefix = { "${params.pseudo_aligner}.merged.transcript" }
    }

    // QUANTIFY_RSEM tximport SummarizedExperiment objects
    withName: '.*:QUANTIFY_RSEM:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:SE_GENE_UNIFIED' {
        ext.prefix = { "rsem.merged.gene" }
    }

    withName: '.*:QUANTIFY_RSEM:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:SE_TRANSCRIPT_UNIFIED' {
        ext.prefix = { "rsem.merged.transcript" }
    }
}

//
// UMI deduplication options for star_salmon and hisat2
//

process {
    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMITOOLS_(GEN|TRANSCRIPT)OME:UMITOOLS_DEDUP' {
        ext.args = { [
            meta.single_end                 ? '' : '--unpaired-reads=discard --chimeric-pairs=discard',
            params.umitools_grouping_method ? "--method='${params.umitools_grouping_method}'" : '',
            params.umitools_umi_separator   ? "--umi-separator='${params.umitools_umi_separator}'" : ''
        ].join(' ').trim() }
    }

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMICOLLAPSE_(GEN|TRANSCRIPT)OME:UMICOLLAPSE' {
        ext.args = { [
            '--two-pass',
            meta.single_end                 ? '' : '--paired --remove-unpaired --remove-chimeric',
            params.umitools_grouping_method ? "--algo '" + ['directional':'dir','adjacency':'adj','cluster':'cc'].get(params.umitools_grouping_method, '') + "'" : '',
            params.umitools_umi_separator   ? "--umi-sep '${params.umitools_umi_separator}'" : '',
        ].join(' ').trim()}
    }

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMITOOLS_(GEN|TRANSCRIPT)OME:SAMTOOLS_VIEW_PRIMARY' {
        ext.args   = '-F 0x900 -b'
        ext.prefix = { "${meta.id}.primary" }
        publishDir = [ enabled: false ]
    }

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMITOOLS_(GEN|TRANSCRIPT)OME:SAMTOOLS_INDEX_PRIMARY' {
        ext.args   = { params.bam_csi_index ? '-c' : '' }
        publishDir = [ enabled: false ]
    }

    // Use the same umi_dedup prefix for umitools and umicollapse

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMI(COLLAPSE|TOOLS)_GENOME:UMI(COLLAPSE|TOOLS_DEDUP)' {
        ext.prefix = { "${meta.id}.umi_dedup.sorted" }
    }

    // Publishing logic for umitools:

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMITOOLS_GENOME:UMITOOLS_DEDUP' {
        publishDir = [
            [
                path: { params.save_align_intermeds || params.save_umi_intermeds ? "${params.outdir}/${task.ext.publish_prefix}${params.aligner}" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: '*.bam',
                saveAs: { filename -> params.save_align_intermeds || params.save_umi_intermeds ? filename : null }
            ],
            [
                path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}/umitools/genomic_dedup_log" },
                mode: params.publish_dir_mode,
                pattern: '*.log'
            ],
            [
                path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}/umitools" },
                mode: params.publish_dir_mode,
                pattern: '*.tsv'
            ]
        ]
    }

    // Publishing logic for umicollapse

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMICOLLAPSE_GENOME:UMICOLLAPSE' {
        publishDir = [
            [
                path: { params.save_align_intermeds || params.save_umi_intermeds ? "${params.outdir}/${task.ext.publish_prefix}${params.aligner}" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: '*.bam',
                saveAs: { filename -> params.save_align_intermeds || params.save_umi_intermeds ? filename : null }
            ],
            [
                path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}/umicollapse/genomic_dedup_log" },
                mode: params.publish_dir_mode,
                pattern: '*.log'
            ]
        ]
    }

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMI(COLLAPSE|TOOLS)_GENOME:SAMTOOLS_INDEX' {
        ext.args   = { params.bam_csi_index ? '-c' : '' }
        ext.prefix = { "${meta.id}.umi_dedup.sorted" }
        publishDir = [
            path: { params.save_align_intermeds || params.save_umi_intermeds ? "${params.outdir}/${task.ext.publish_prefix}${params.aligner}" : params.outdir },
            mode: params.publish_dir_mode,
            pattern: '*.{bai,csi}',
            saveAs: { filename -> params.save_align_intermeds || params.save_umi_intermeds ? filename : null }
        ]
    }

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMI(COLLAPSE|TOOLS)_GENOME:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = { "${meta.id}.umi_dedup.sorted.bam" }
        publishDir = [
            path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}/samtools_stats" },
            mode: params.publish_dir_mode,
            pattern: '*.{stats,flagstat,idxstats}'
        ]
    }
}

//
// bigWig coverage options
//

process {
    withName: 'BEDTOOLS_GENOMECOV_FW' {
        ext.prefix = { meta.strandedness == 'reverse' ? meta.id + '.reverse' :  meta.id + '.forward' }
        ext.args   = { meta.strandedness == 'reverse' ? '-split -du -strand - -bg' : '-split -du -strand + -bg' }
    }

    withName: 'BEDTOOLS_GENOMECOV_REV' {
        ext.prefix = { meta.strandedness == 'reverse' ? meta.id + '.forward' :  meta.id + '.reverse' }
        ext.args   = { meta.strandedness == 'reverse' ? '-split -du -strand + -bg' : '-split -du -strand - -bg' }
    }

    withName: '(BEDTOOLS_GENOMECOV_(FW|REV)|.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_(FORWARD|REVERSE):UCSC_BEDCLIP)' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_FORWARD:UCSC_BEDCLIP' {
        ext.prefix = { "${meta.id}.clip.forward" }
    }

    withName: '.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_FORWARD:UCSC_BEDGRAPHTOBIGWIG' {
        ext.prefix = { "${meta.id}.forward" }
    }

    withName: '.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_REVERSE:UCSC_BEDCLIP' {
        ext.prefix = { "${meta.id}.clip.reverse" }
    }

    withName: '.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_REVERSE:UCSC_BEDGRAPHTOBIGWIG' {
        ext.prefix = { "${meta.id}.reverse" }
    }

    withName: '.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_(FORWARD|REVERSE):UCSC_BEDGRAPHTOBIGWIG' {
        publishDir = [
            path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}/bigwig" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

//
// DESeq2 QC options
//

process {
    withName: 'DESEQ2_QC_(BAM_SALMON|RSEM)' {
        ext.args   = { [
            "--id_col 1",
            "--sample_suffix ''",
            "--count_col 3",
            params.deseq2_vst ? '--vst TRUE' : ''
        ].join(' ').trim() }
        ext.args2  = { params.aligner }
        publishDir = [
            path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}/deseq2_qc" },
            mode: params.publish_dir_mode,
            pattern: "*{RData,pca.vals.txt,plots.pdf,sample.dists.txt,size_factors,log}"
        ]
    }
}

//
// RSEM quantification options
//

process {
    withName: '.*:QUANTIFY_RSEM:RSEM_CALCULATEEXPRESSION|.*:QUANTIFY_RSEM:SENTIEON_RSEMCALCULATEEXPRESSION' {
        publishDir = [
            [
                path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}" },
                mode: params.publish_dir_mode,
                pattern: "*.{stat,results}"
            ],
            [
                path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}/log" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ]
        ]
    }

    withName: '.*:QUANTIFY_RSEM:CUSTOM_RSEMMERGECOUNTS' {
        publishDir = [
            path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}/rsem_merge_counts" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:QUANTIFY_RSEM:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:(CUSTOM_TX2GENE|TXIMETA_TXIMPORT)' {
        publishDir = [
            path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:QUANTIFY_RSEM:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:SE_.*' {
        publishDir = [
            path: { "${params.outdir}/${task.ext.publish_prefix}${params.aligner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || filename.endsWith('.log') ? null : filename }
        ]
    }
}

//
// Pseudo-alignment options
//

process {
    withName: '.*:QUANTIFY_PSEUDO_ALIGNMENT:SALMON_QUANT' {
        ext.args   = { params.extra_salmon_quant_args ?: '' }
        publishDir = [
            path: { "${params.outdir}/${task.ext.publish_prefix}${params.pseudo_aligner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || filename.endsWith('_meta_info.json') || filename.endsWith('_format_counts.json') ? null : filename }
        ]
    }

    withName: '.*:QUANTIFY_PSEUDO_ALIGNMENT:KALLISTO_QUANT' {
        ext.args = params.extra_kallisto_quant_args ?: ''
        publishDir = [
            path: { "${params.outdir}/${task.ext.publish_prefix}${params.pseudo_aligner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || filename.endsWith('.run_info.json') || filename.endsWith('.log') ? null : filename }
        ]
    }

    withName: '.*:QUANTIFY_PSEUDO_ALIGNMENT:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:(CUSTOM_TX2GENE|TXIMETA_TXIMPORT)' {
        publishDir = [
            path: { "${params.outdir}/${task.ext.publish_prefix}${params.pseudo_aligner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:QUANTIFY_PSEUDO_ALIGNMENT:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:SE_.*' {
        publishDir = [
            path: { "${params.outdir}/${task.ext.publish_prefix}${params.pseudo_aligner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || filename.endsWith('.log') ? null : filename }
        ]
    }

    withName: 'DESEQ2_QC_PSEUDO' {
        ext.args   = { [
            "--id_col 1",
            "--sample_suffix ''",
            "--count_col 3",
            params.deseq2_vst ? '--vst TRUE' : ''
        ].join(' ').trim() }
        ext.args2  = { params.pseudo_aligner }
        publishDir = [
            path: { "${params.outdir}/${task.ext.publish_prefix}${params.pseudo_aligner}/deseq2_qc" },
            mode: params.publish_dir_mode,
            pattern: "*{RData,pca.vals.txt,plots.pdf,sample.dists.txt,size_factors,log}"
        ]
    }
}
