
//
// General alignment options
//

withName: 'BAM_DEDUP_STATS_SAMTOOLS_UMITOOLS_GENOME:UMITOOLS_DEDUP' {
    process.ext.args   = { [
        meta.single_end                 ? '' : '--unpaired-reads=discard --chimeric-pairs=discard',
        params.umitools_grouping_method ? "--method='${params.umitools_grouping_method}'" : '',
        params.umitools_umi_separator   ? "--umi-separator='${params.umitools_umi_separator}'" : ''
    ].join(' ').trim() }
    ext.prefix = { "${meta.id}.umi_dedup.sorted" }
    process.publishDir = [
        [
            path: { "${params.outdir}/${params.aligner}/umitools" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv'
        ],
        [
            path: { "${params.outdir}/${params.aligner}" },
            mode: params.publish_dir_mode,
            pattern: '*.bam',
            saveAs: { params.save_align_intermeds || params.with_umi || params.save_umi_intermeds ? it : null }
        ]
    ]
}

withName: 'BAM_DEDUP_STATS_SAMTOOLS_UMITOOLS_GENOME:SAMTOOLS_INDEX' {
    process.ext.args   = { params.bam_csi_index ? '-c' : '' }
    ext.prefix = { "${meta.id}.umi_dedup.sorted" }
    process.publishDir = [
        path: { "${params.outdir}/${params.aligner}" },
        mode: params.publish_dir_mode,
        pattern: '*.{bai,csi}',
        saveAs: { params.save_align_intermeds || params.with_umi || params.save_umi_intermeds ? it : null }
    ]
}

withName: 'BAM_DEDUP_STATS_SAMTOOLS_UMITOOLS_GENOME:BAM_STATS_SAMTOOLS:.*' {
    ext.prefix = { "${meta.id}.umi_dedup.sorted.bam" }
    process.publishDir = [
        path: { "${params.outdir}/${params.aligner}/samtools_stats" },
        mode: params.publish_dir_mode,
        pattern: '*.{stats,flagstat,idxstats}'
    ]
}

withName: 'BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_FORWARD:UCSC_BEDCLIP' {
    ext.prefix = { "${meta.id}.clip.forward" }
}

withName: 'BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_FORWARD:UCSC_BEDGRAPHTOBIGWIG' {
    ext.prefix = { "${meta.id}.forward" }

}

withName: 'BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_REVERSE:UCSC_BEDCLIP' {
    ext.prefix = { "${meta.id}.clip.reverse" }
}

withName: 'BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_REVERSE:UCSC_BEDGRAPHTOBIGWIG' {
    ext.prefix = { "${meta.id}.reverse" }
}

//
// STAR Salmon alignment options
//

withName: 'QUANTIFY_STAR_SALMON:SALMON_QUANT' {
    process.ext.args   = { params.extra_salmon_quant_args ?: '' }
    process.publishDir = [
        path: { "${params.outdir}/${params.aligner}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') || filename.endsWith('_meta_info.json') ? null : filename }
    ]
}

withName: 'QUANTIFY_STAR_SALMON:SALMON_TX2GENE' {
    process.publishDir = [
        path: { "${params.outdir}/${params.aligner}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

withName: 'QUANTIFY_STAR_SALMON:SALMON_TXIMPORT' {
    process.publishDir = [
        path: { "${params.outdir}/${params.aligner}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

withName: 'QUANTIFY_STAR_SALMON:SALMON_SE_.*' {
    process.publishDir = [
        path: { "${params.outdir}/${params.aligner}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

withName: 'RNASEQ:SAMTOOLS_SORT' {
    process.ext.args   = '-n'
    ext.prefix = { "${meta.id}.umi_dedup.transcriptome" }
    process.publishDir = [
        path: { "${params.outdir}/${params.aligner}" },
        mode: params.publish_dir_mode,
        pattern: '*.bam',
        saveAs: { params.save_align_intermeds || params.save_umi_intermeds ? it : null }
    ]
}

withName: 'RNASEQ:UMITOOLS_PREPAREFORSALMON' {
    ext.prefix = { "${meta.id}.umi_dedup.transcriptome.filtered" }
    process.publishDir = [
        [
            path: { "${params.outdir}/${params.aligner}/umitools/log" },
            mode: params.publish_dir_mode,
            pattern: '*.log'
        ],
        [
            path: { "${params.outdir}/${params.aligner}" },
            mode: params.publish_dir_mode,
            pattern: '*.bam',
            saveAs: { params.save_align_intermeds || params.save_umi_intermeds ? it : null }
        ]
    ]
}

withName: 'RNASEQ:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_SORT' {
    ext.prefix = { "${meta.id}.transcriptome.sorted" }
    process.publishDir = [
        path: { "${params.outdir}/${params.aligner}" },
        mode: params.publish_dir_mode,
        pattern: '*.bam',
        saveAs: { params.save_align_intermeds || params.save_umi_intermeds ? it : null }
    ]
}

withName: 'RNASEQ:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_INDEX' {
    process.publishDir = [
        path: { "${params.outdir}/${params.aligner}" },
        mode: params.publish_dir_mode,
        pattern: '*.bai',
        saveAs: { params.save_align_intermeds || params.save_umi_intermeds ? it : null }
    ]
}

withName: 'RNASEQ:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:.*' {
    ext.prefix = { "${meta.id}.transcriptome.sorted.bam" }
    process.publishDir = [
        path: { "${params.outdir}/${params.aligner}/samtools_stats" },
        mode: params.publish_dir_mode,
        pattern: '*.{stats,flagstat,idxstats}',
        saveAs: { params.save_align_intermeds || params.save_umi_intermeds ? it : null }
    ]
}

withName: 'BAM_DEDUP_STATS_SAMTOOLS_UMITOOLS_TRANSCRIPTOME:UMITOOLS_DEDUP' {
    process.ext.args   = { [
        meta.single_end                 ? '' : '--unpaired-reads=discard --chimeric-pairs=discard',
        params.umitools_grouping_method ? "--method='${params.umitools_grouping_method}'" : '',
        params.umitools_umi_separator   ? "--umi-separator='${params.umitools_umi_separator}'" : ''
    ].join(' ').trim() }
    ext.prefix = { "${meta.id}.umi_dedup.transcriptome.sorted" }
    process.publishDir = [
        [
            path: { "${params.outdir}/${params.aligner}/umitools" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv'
        ],
        [
            path: { "${params.outdir}/${params.aligner}" },
            mode: params.publish_dir_mode,
            pattern: '*.bam',
            saveAs: { params.save_align_intermeds || params.save_umi_intermeds ? it : null }
        ]
    ]
}

withName: 'BAM_DEDUP_STATS_SAMTOOLS_UMITOOLS_TRANSCRIPTOME:SAMTOOLS_INDEX' {
    process.publishDir = [
        path: { "${params.outdir}/${params.aligner}" },
        mode: params.publish_dir_mode,
        pattern: '*.bai',
        saveAs: { params.save_align_intermeds || params.save_umi_intermeds ? it : null }
    ]
}

withName: 'BAM_DEDUP_STATS_SAMTOOLS_UMITOOLS_TRANSCRIPTOME:BAM_STATS_SAMTOOLS:.*' {
    ext.prefix = { "${meta.id}.umi_dedup.transcriptome.sorted.bam" }
    process.publishDir = [
        path: { "${params.outdir}/${params.aligner}/samtools_stats" },
        mode: params.publish_dir_mode,
        pattern: '*.{stats,flagstat,idxstats}'
    ]
}

withName: 'DESEQ2_QC_STAR_SALMON' {
    process.ext.args2  = 'star_salmon'
}

withName: 'DESEQ2_QC_RSEM' {
    process.ext.args2  = 'star_rsem'
}

withName: 'DESEQ2_QC_SALMON' {
    process.ext.args2  = 'salmon'
    process.publishDir = [
        path: { "${params.outdir}/${params.pseudo_aligner}/deseq2_qc" },
        mode: params.publish_dir_mode,
        pattern: "*{RData,pca.vals.txt,plots.pdf,sample.dists.txt,size_factors,log}"
    ]
}
