process {

    // Bowtie2 alignment configuration
    // Bowtie2 is a splice-unaware aligner suitable for prokaryotic RNA-seq

    withName: '.*:ALIGN_BOWTIE2:BOWTIE2_ALIGN' {
        ext.args = {
            def args = [
                '--very-sensitive',
                '--no-discordant'
            ]

            if (params.extra_bowtie2_align_args) {
                args += [params.extra_bowtie2_align_args]
            }

            args.join(' ')
        }
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/log" },
                mode: params.publish_dir_mode,
                pattern: '*.log'
            ],
            [
                path: { params.save_align_intermeds ? "${params.outdir}/${params.aligner}" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: '*.bam',
                saveAs: { filename -> params.save_align_intermeds ? filename : null }
            ],
            [
                path: { params.save_unaligned ? "${params.outdir}/${params.aligner}/unmapped" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
                saveAs: { filename -> params.save_unaligned ? filename : null }
            ]
        ]
    }
}
