process {
    withName: 'RUSTQC' {
        ext.args = {
            def biotype_attr = params.gencode ? "gene_type" : (params.featurecounts_group_type ?: '')
            [
                biotype_attr ? "--biotype-attribute ${biotype_attr}" : '',
                '--preseq-seed 1 --preseq-seg-len 100000000',
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/rustqc" },
            mode: params.publish_dir_mode,
        ]
    }
}
