process {
    withName: 'RUSTQC' {
        publishDir = [
            // dupRadar plots
            [
                path: { "${params.outdir}/${params.aligner}/rustqc/dupradar" },
                mode: params.publish_dir_mode,
                pattern: "*_{duprateExpDens,duprateExpBoxplot,expressionHist}.png"
            ],
            // dupRadar matrix/stats
            [
                path: { "${params.outdir}/${params.aligner}/rustqc/dupradar" },
                mode: params.publish_dir_mode,
                pattern: "*_{dupMatrix,intercept_slope}.txt"
            ],
            // featureCounts
            [
                path: { "${params.outdir}/${params.aligner}/rustqc/featurecounts" },
                mode: params.publish_dir_mode,
                pattern: "*.featureCounts.tsv{,.summary}"
            ],
            // Biotype counts
            [
                path: { "${params.outdir}/${params.aligner}/rustqc/featurecounts" },
                mode: params.publish_dir_mode,
                pattern: "*.biotype_counts{,_mqc,_rrna_mqc}.tsv"
            ],
            // RSeQC: bam_stat
            [
                path: { "${params.outdir}/${params.aligner}/rustqc/rseqc/bam_stat" },
                mode: params.publish_dir_mode,
                pattern: "*.bam_stat.txt"
            ],
            // RSeQC: infer_experiment
            [
                path: { "${params.outdir}/${params.aligner}/rustqc/rseqc/infer_experiment" },
                mode: params.publish_dir_mode,
                pattern: "*.infer_experiment.txt"
            ],
            // RSeQC: read_duplication
            [
                path: { "${params.outdir}/${params.aligner}/rustqc/rseqc/read_duplication" },
                mode: params.publish_dir_mode,
                pattern: "*.{pos,seq}.DupRate.xls"
            ],
            // RSeQC: read_distribution
            [
                path: { "${params.outdir}/${params.aligner}/rustqc/rseqc/read_distribution" },
                mode: params.publish_dir_mode,
                pattern: "*.read_distribution.txt"
            ],
            // RSeQC: junction_annotation
            [
                path: { "${params.outdir}/${params.aligner}/rustqc/rseqc/junction_annotation" },
                mode: params.publish_dir_mode,
                pattern: "*.junction{.xls,.bed,_plot.r,_annotation.txt}"
            ],
            // RSeQC: junction_saturation
            [
                path: { "${params.outdir}/${params.aligner}/rustqc/rseqc/junction_saturation" },
                mode: params.publish_dir_mode,
                pattern: "*.junctionSaturation_plot.r"
            ],
            // RSeQC: inner_distance
            [
                path: { "${params.outdir}/${params.aligner}/rustqc/rseqc/inner_distance" },
                mode: params.publish_dir_mode,
                pattern: "*.inner_distance{.txt,_freq.txt}"
            ]
        ]
    }
}
