process {
    withName: '.*:FASTQ_FASTQC_UMITOOLS_FASTP:FASTQC_RAW' {
        ext.args   = '--quiet'
        ext.prefix = { "${meta.id}_raw" }
        publishDir = [
            path: { "${params.outdir}/${task.ext.publish_prefix}fastqc/raw" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FASTQ_FASTQC_UMITOOLS_FASTP:FASTQC_TRIM' {
        ext.args   = '--quiet'
        ext.prefix = { "${meta.id}_trimmed" }
        publishDir = [
            path: { "${params.outdir}/${task.ext.publish_prefix}fastqc/trim" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FASTQ_FASTQC_UMITOOLS_FASTP:FASTP' {
        ext.args   = { params.extra_fastp_args ?: '' }
        publishDir = [
            [
                path: { "${params.outdir}/${task.ext.publish_prefix}${params.trimmer}" },
                mode: params.publish_dir_mode,
                pattern: "*.{json,html}"
            ],
            [
                path: { "${params.outdir}/${task.ext.publish_prefix}${params.trimmer}/log" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ],
            [
                path: { params.save_trimmed ? "${params.outdir}/${task.ext.publish_prefix}${params.trimmer}" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: "*.fastq.gz",
                saveAs: { filename -> params.save_trimmed ? filename : null }
            ]
        ]
    }

    withName: '.*:FASTQ_FASTQC_UMITOOLS_FASTP:UMITOOLS_EXTRACT' {
        ext.args   = { [
                params.umitools_extract_method ? "--extract-method=${params.umitools_extract_method}" : '',
                params.umitools_bc_pattern     ? "--bc-pattern='${params.umitools_bc_pattern}'" : '',
                params.umitools_bc_pattern2    ? "--bc-pattern2='${params.umitools_bc_pattern2}'" : '',
                params.umitools_umi_separator  ? "--umi-separator='${params.umitools_umi_separator}'" : ''
        ].join(' ').trim() }
        publishDir = [
            [
                path: { "${params.outdir}/${task.ext.publish_prefix}umitools" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ],
            [
                path: { params.save_umi_intermeds ? "${params.outdir}/${task.ext.publish_prefix}umitools" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: "*.fastq.gz",
                saveAs: { filename -> params.save_umi_intermeds ? filename : null }
            ]
        ]
    }
}
