
withName: 'SAMTOOLS_SORT' {
    ext.prefix = { "${meta.id}.sorted" }
    publishDir = [
        path: { "${params.outdir}/${params.aligner}" },
        mode: params.publish_dir_mode,
        pattern: "*.bam",
        saveAs: { ( ['star_salmon','hisat2'].contains(params.aligner) &&
                ( params.save_align_intermeds || ( !params.with_umi && params.skip_markduplicates ) )
            ) || params.save_align_intermeds || params.skip_markduplicates ? it : null }
    ]
}

withName: 'SAMTOOLS_INDEX' {
    ext.args   = { params.bam_csi_index ? '-c' : '' }
    publishDir = [
        path: { "${params.outdir}/${params.aligner}" },
        mode: params.publish_dir_mode,
        pattern: "*.{bai,csi}",
        saveAs: { ( ['star_salmon','hisat2'].contains(params.aligner) &&
                ( params.save_align_intermeds || ( !params.with_umi && params.skip_markduplicates ) )
            ) || params.save_align_intermeds || params.skip_markduplicates ? it : null }
    ]
}

withName: 'BAM_STATS_SAMTOOLS:.*' {
    ext.prefix = { "${meta.id}.sorted.bam" }
    publishDir = [
        path: { "${params.outdir}/${params.aligner}/samtools_stats" },
        mode: params.publish_dir_mode,
        pattern: "*.{stats,flagstat,idxstats}"
    ]
}
