// IMPORTANT: Add this configuration to your modules.config

process {
    withName: '.*:QUANTIFY_PSEUDO_ALIGNMENT:SALMON_QUANT' {
        ext.args   = { params.extra_salmon_quant_args ?: '' }
    }

    withName: '.*:QUANTIFY_PSEUDO_ALIGNMENT:KALLISTO_QUANT' {
        ext.args = params.extra_kallisto_quant_args ?: ''
    }
}
