process { withName: 'BBMAP_BBSPLIT' { container = 'docker://community.wave.seqera.io/library/bbmap:39.10--908996c2fb304bec' } }
process { withName: 'BEDTOOLS_GENOMECOV' { container = 'docker://community.wave.seqera.io/library/bedtools:2.31.1--efd79503b8c63422' } }
process { withName: 'BRACKEN_BRACKEN' { container = 'docker://community.wave.seqera.io/library/bracken:2.9--e06b532ae215c74d' } }
process { withName: 'CAT_FASTQ' { container = 'docker://community.wave.seqera.io/library/coreutils:9.5--3931e2d27d9884e5' } }
process { withName: 'CUSTOM_CATADDITIONALFASTA' { container = 'docker://community.wave.seqera.io/library/python:3.12.2--0d47e6fe32e00784' } }
process { withName: 'CUSTOM_GETCHROMSIZES' { container = 'docker://community.wave.seqera.io/library/htslib_samtools:1.21--1dcf014b5ab22a61' } }
process { withName: 'CUSTOM_TX2GENE' { container = 'docker://community.wave.seqera.io/library/python:3.10.4--d0dc5eb8ea72fa82' } }
process { withName: 'DESEQ2_QC' { container = 'docker://community.wave.seqera.io/library/r-base_r-optparse_r-ggplot2_r-rcolorbrewer_pruned:8bd3e9db55b129d7' } }
process { withName: 'DUPRADAR' { container = 'docker://community.wave.seqera.io/library/bioconductor-dupradar:1.32.0--f75495d6abf45328' } }
process { withName: 'FASTP' { container = 'docker://community.wave.seqera.io/library/fastp:0.23.4--c1051f83dcae53f5' } }
process { withName: 'FASTQC' { container = 'docker://community.wave.seqera.io/library/fastqc:0.12.1--df99cb252670875a' } }
process { withName: 'FQ_LINT' { container = 'docker://community.wave.seqera.io/library/fq:0.12.0--ad6857b304869ce9' } }
process { withName: 'FQ_SUBSAMPLE' { container = 'docker://community.wave.seqera.io/library/fq:0.12.0--ad6857b304869ce9' } }
process { withName: 'GFFREAD' { container = 'docker://community.wave.seqera.io/library/gffread:0.12.7--1577aa7c95340d9f' } }
process { withName: 'GTF2BED' { container = 'docker://community.wave.seqera.io/library/perl:5.26.2--2a6adf51d600e047' } }
process { withName: 'GTF_FILTER' { container = 'docker://community.wave.seqera.io/library/python:3.9.5--d54415978b031ba5' } }
process { withName: 'GUNZIP' { container = 'docker://community.wave.seqera.io/library/grep_sed_tar:4b2523b1c76a5494' } }
process { withName: 'HISAT2_ALIGN' { container = 'docker://community.wave.seqera.io/library/hisat2_samtools:16f4ce5d5c83f6ec' } }
process { withName: 'HISAT2_BUILD' { container = 'docker://community.wave.seqera.io/library/hisat2:2.2.1--722945b3f185af3d' } }
process { withName: 'HISAT2_EXTRACTSPLICESITES' { container = 'docker://community.wave.seqera.io/library/hisat2:2.2.1--722945b3f185af3d' } }
process { withName: 'KALLISTO_INDEX' { container = 'docker://community.wave.seqera.io/library/kallisto:0.51.1--58dde61fc91c371b' } }
process { withName: 'KALLISTO_QUANT' { container = 'docker://community.wave.seqera.io/library/kallisto:0.51.1--58dde61fc91c371b' } }
process { withName: 'KRAKEN2_KRAKEN2' { container = 'docker://community.wave.seqera.io/library/kraken2_coreutils_pigz:efede2ece83f7a32' } }
process { withName: 'MULTIQC' { container = 'docker://community.wave.seqera.io/library/multiqc:1.27--7cf5785022026d98' } }
process { withName: 'MULTIQC_CUSTOM_BIOTYPE' { container = 'docker://community.wave.seqera.io/library/python:3.9.5--d54415978b031ba5' } }
process { withName: 'PICARD_MARKDUPLICATES' { container = 'docker://community.wave.seqera.io/library/picard:3.1.1--c28da730a329ab3c' } }
process { withName: 'PREPROCESS_TRANSCRIPTS_FASTA_GENCODE' { container = 'docker://community.wave.seqera.io/library/sed:4.7--978821297d2b6677' } }
process { withName: 'PRESEQ_LCEXTRAP' { container = 'docker://community.wave.seqera.io/library/preseq:3.2.0--80c9d2ffee38d3ac' } }
process { withName: 'QUALIMAP_RNASEQ' { container = 'docker://community.wave.seqera.io/library/qualimap:2.3--8375b60bba97a2a6' } }
process { withName: 'RSEM_CALCULATEEXPRESSION' { container = 'docker://community.wave.seqera.io/library/rsem_star:871666abaeb8fb01' } }
process { withName: 'RSEM_MERGE_COUNTS' { container = 'docker://community.wave.seqera.io/library/sed:4.7--978821297d2b6677' } }
process { withName: 'RSEM_PREPAREREFERENCE' { container = 'docker://community.wave.seqera.io/library/rsem_star:871666abaeb8fb01' } }
process { withName: 'RSEQC_BAMSTAT' { container = 'docker://community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' } }
process { withName: 'RSEQC_INFEREXPERIMENT' { container = 'docker://community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' } }
process { withName: 'RSEQC_INNERDISTANCE' { container = 'docker://community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' } }
process { withName: 'RSEQC_JUNCTIONANNOTATION' { container = 'docker://community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' } }
process { withName: 'RSEQC_JUNCTIONSATURATION' { container = 'docker://community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' } }
process { withName: 'RSEQC_READDISTRIBUTION' { container = 'docker://community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' } }
process { withName: 'RSEQC_READDUPLICATION' { container = 'docker://community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' } }
process { withName: 'RSEQC_TIN' { container = 'docker://community.wave.seqera.io/library/rseqc_r-base:092fef07cff0abfa' } }
process { withName: 'SALMON_INDEX' { container = 'docker://community.wave.seqera.io/library/salmon:1.10.3--dc33937abc5bffd1' } }
process { withName: 'SALMON_QUANT' { container = 'docker://community.wave.seqera.io/library/salmon:1.10.3--dc33937abc5bffd1' } }
process { withName: 'SAMTOOLS_FLAGSTAT' { container = 'docker://community.wave.seqera.io/library/htslib_samtools:1.21--1dcf014b5ab22a61' } }
process { withName: 'SAMTOOLS_IDXSTATS' { container = 'docker://community.wave.seqera.io/library/htslib_samtools:1.21--1dcf014b5ab22a61' } }
process { withName: 'SAMTOOLS_INDEX' { container = 'docker://community.wave.seqera.io/library/htslib_samtools:1.21--1dcf014b5ab22a61' } }
process { withName: 'SAMTOOLS_SORT' { container = 'docker://community.wave.seqera.io/library/htslib_samtools:1.21--1dcf014b5ab22a61' } }
process { withName: 'SAMTOOLS_STATS' { container = 'docker://community.wave.seqera.io/library/htslib_samtools:1.21--1dcf014b5ab22a61' } }
process { withName: 'SORTMERNA' { container = 'docker://community.wave.seqera.io/library/sortmerna:4.3.7--4cc83a7bffbaaa61' } }
process { withName: 'STAR_ALIGN' { container = 'docker://community.wave.seqera.io/library/htslib_samtools_star_gawk:de8c848656c2c4c5' } }
process { withName: 'STAR_ALIGN_IGENOMES' { container = 'docker://community.wave.seqera.io/library/star_samtools_gawk:6ae64d775f2cb855' } }
process { withName: 'STAR_GENOMEGENERATE' { container = 'docker://community.wave.seqera.io/library/htslib_samtools_star_gawk:de8c848656c2c4c5' } }
process { withName: 'STAR_GENOMEGENERATE_IGENOMES' { container = 'docker://community.wave.seqera.io/library/star_samtools_gawk:6ae64d775f2cb855' } }
process { withName: 'STRINGTIE_STRINGTIE' { container = 'docker://community.wave.seqera.io/library/stringtie:2.2.3--77d8df3265c94ba1' } }
process { withName: 'SUBREAD_FEATURECOUNTS' { container = 'docker://community.wave.seqera.io/library/subread:2.0.6--df9c6b502b57bb9c' } }
process { withName: 'SUMMARIZEDEXPERIMENT_SUMMARIZEDEXPERIMENT' { container = 'docker://community.wave.seqera.io/library/bioconductor-summarizedexperiment:1.32.0--859858039875a2a5' } }
process { withName: 'TRIMGALORE' { container = 'docker://community.wave.seqera.io/library/cutadapt_trim-galore_pigz:d0b730b6770575ef' } }
process { withName: 'TXIMETA_TXIMPORT' { container = 'docker://community.wave.seqera.io/library/bioconductor-tximeta:1.20.1--3b0ca8a1710e2b2b' } }
process { withName: 'UCSC_BEDCLIP' { container = 'docker://community.wave.seqera.io/library/ucsc-bedclip:377--489576e83f1992e0' } }
process { withName: 'UCSC_BEDGRAPHTOBIGWIG' { container = 'docker://community.wave.seqera.io/library/ucsc-bedgraphtobigwig:469--1db18e1b19f8e5f1' } }
process { withName: 'UMICOLLAPSE' { container = 'docker://community.wave.seqera.io/library/umicollapse:1.1.0--d406900dbf84ec60' } }
process { withName: 'UMITOOLS_DEDUP' { container = 'docker://community.wave.seqera.io/library/umi_tools:1.1.5--b2721816f7a92564' } }
process { withName: 'UMITOOLS_EXTRACT' { container = 'docker://community.wave.seqera.io/library/umi_tools:1.1.5--b2721816f7a92564' } }
process { withName: 'UMITOOLS_PREPAREFORRSEM' { container = 'docker://community.wave.seqera.io/library/umi_tools:1.1.5--b2721816f7a92564' } }
process { withName: 'UNTAR' { container = 'docker://community.wave.seqera.io/library/grep_sed_tar:4b2523b1c76a5494' } }
