process { withName: 'BBMAP_BBSPLIT' { container = 'community.wave.seqera.io/library/bbmap:39.10--168578230ff6490a' } }
process { withName: 'BEDTOOLS_GENOMECOV' { container = 'community.wave.seqera.io/library/bedtools:2.31.1--7c4ce4cb07c09ee4' } }
process { withName: 'BRACKEN_BRACKEN' { container = 'community.wave.seqera.io/library/bracken:2.9--3d5af74ed6966fc1' } }
process { withName: 'CAT_FASTQ' { container = 'community.wave.seqera.io/library/coreutils:9.5--ae99c88a9b28c264' } }
process { withName: 'CUSTOM_CATADDITIONALFASTA' { container = 'community.wave.seqera.io/library/python:3.12.2--8aba3d9ac529ff19' } }
process { withName: 'CUSTOM_GETCHROMSIZES' { container = 'community.wave.seqera.io/library/htslib_samtools:1.21--6cb89bfd40cbaabf' } }
process { withName: 'CUSTOM_TX2GENE' { container = 'community.wave.seqera.io/library/python:3.10.4--a643e28963f01eef' } }
process { withName: 'DESEQ2_QC' { container = 'community.wave.seqera.io/library/r-base_r-optparse_r-ggplot2_r-rcolorbrewer_pruned:d06fadc02f8422a2' } }
process { withName: 'DUPRADAR' { container = 'community.wave.seqera.io/library/bioconductor-dupradar:1.32.0--dcb3a3be56be6612' } }
process { withName: 'FASTP' { container = 'community.wave.seqera.io/library/fastp:0.23.4--f8cefc1e5f7a782e' } }
process { withName: 'FASTQC' { container = 'community.wave.seqera.io/library/fastqc:0.12.1--af7a5314d5015c29' } }
process { withName: 'FQ_LINT' { container = 'community.wave.seqera.io/library/fq:0.12.0--45ea0ea1c4d20daa' } }
process { withName: 'FQ_SUBSAMPLE' { container = 'community.wave.seqera.io/library/fq:0.12.0--45ea0ea1c4d20daa' } }
process { withName: 'GFFREAD' { container = 'community.wave.seqera.io/library/gffread:0.12.7--33b95f1cfcc0e572' } }
process { withName: 'GTF2BED' { container = 'community.wave.seqera.io/library/perl:5.26.2--e6570c5f08d3e12c' } }
process { withName: 'GTF_FILTER' { container = 'community.wave.seqera.io/library/python:3.9.5--0ee01a3faebf676a' } }
process { withName: 'GUNZIP' { container = 'community.wave.seqera.io/library/grep_sed_tar:4f61255d5eff93dc' } }
process { withName: 'HISAT2_ALIGN' { container = 'community.wave.seqera.io/library/hisat2_samtools:9ef5e68250d2aa60' } }
process { withName: 'HISAT2_BUILD' { container = 'community.wave.seqera.io/library/hisat2:2.2.1--df34d2bb25ac6de5' } }
process { withName: 'HISAT2_EXTRACTSPLICESITES' { container = 'community.wave.seqera.io/library/hisat2:2.2.1--df34d2bb25ac6de5' } }
process { withName: 'KALLISTO_INDEX' { container = 'community.wave.seqera.io/library/kallisto:0.51.1--b63691b6841c7a52' } }
process { withName: 'KALLISTO_QUANT' { container = 'community.wave.seqera.io/library/kallisto:0.51.1--b63691b6841c7a52' } }
process { withName: 'KRAKEN2_KRAKEN2' { container = 'community.wave.seqera.io/library/kraken2_coreutils_pigz:0892e153c7954635' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.27--b0d1ffb40dfd9e97' } }
process { withName: 'MULTIQC_CUSTOM_BIOTYPE' { container = 'community.wave.seqera.io/library/python:3.9.5--0ee01a3faebf676a' } }
process { withName: 'PICARD_MARKDUPLICATES' { container = 'community.wave.seqera.io/library/picard:3.1.1--bae6cd265e6bf3d3' } }
process { withName: 'PREPROCESS_TRANSCRIPTS_FASTA_GENCODE' { container = 'community.wave.seqera.io/library/sed:4.7--c9d1b71422302845' } }
process { withName: 'PRESEQ_LCEXTRAP' { container = 'community.wave.seqera.io/library/preseq:3.2.0--2789d8b704b33613' } }
process { withName: 'QUALIMAP_RNASEQ' { container = 'community.wave.seqera.io/library/qualimap:2.3--c1797c2253925b3a' } }
process { withName: 'RSEM_CALCULATEEXPRESSION' { container = 'community.wave.seqera.io/library/rsem_star:5acb4e8c03239c32' } }
process { withName: 'RSEM_MERGE_COUNTS' { container = 'community.wave.seqera.io/library/sed:4.7--c9d1b71422302845' } }
process { withName: 'RSEM_PREPAREREFERENCE' { container = 'community.wave.seqera.io/library/rsem_star:5acb4e8c03239c32' } }
process { withName: 'RSEQC_BAMSTAT' { container = 'community.wave.seqera.io/library/rseqc_r-base:2c6374f25c7b060e' } }
process { withName: 'RSEQC_INFEREXPERIMENT' { container = 'community.wave.seqera.io/library/rseqc_r-base:2c6374f25c7b060e' } }
process { withName: 'RSEQC_INNERDISTANCE' { container = 'community.wave.seqera.io/library/rseqc_r-base:2c6374f25c7b060e' } }
process { withName: 'RSEQC_JUNCTIONANNOTATION' { container = 'community.wave.seqera.io/library/rseqc_r-base:2c6374f25c7b060e' } }
process { withName: 'RSEQC_JUNCTIONSATURATION' { container = 'community.wave.seqera.io/library/rseqc_r-base:2c6374f25c7b060e' } }
process { withName: 'RSEQC_READDISTRIBUTION' { container = 'community.wave.seqera.io/library/rseqc_r-base:2c6374f25c7b060e' } }
process { withName: 'RSEQC_READDUPLICATION' { container = 'community.wave.seqera.io/library/rseqc_r-base:2c6374f25c7b060e' } }
process { withName: 'RSEQC_TIN' { container = 'community.wave.seqera.io/library/rseqc_r-base:2c6374f25c7b060e' } }
process { withName: 'SALMON_INDEX' { container = 'community.wave.seqera.io/library/salmon:1.10.3--fcd0755dd8abb423' } }
process { withName: 'SALMON_QUANT' { container = 'community.wave.seqera.io/library/salmon:1.10.3--fcd0755dd8abb423' } }
process { withName: 'SAMTOOLS_FLAGSTAT' { container = 'community.wave.seqera.io/library/htslib_samtools:1.21--6cb89bfd40cbaabf' } }
process { withName: 'SAMTOOLS_IDXSTATS' { container = 'community.wave.seqera.io/library/htslib_samtools:1.21--6cb89bfd40cbaabf' } }
process { withName: 'SAMTOOLS_INDEX' { container = 'community.wave.seqera.io/library/htslib_samtools:1.21--6cb89bfd40cbaabf' } }
process { withName: 'SAMTOOLS_SORT' { container = 'community.wave.seqera.io/library/htslib_samtools:1.21--6cb89bfd40cbaabf' } }
process { withName: 'SAMTOOLS_STATS' { container = 'community.wave.seqera.io/library/htslib_samtools:1.21--6cb89bfd40cbaabf' } }
process { withName: 'SORTMERNA' { container = 'community.wave.seqera.io/library/sortmerna:4.3.7--6502243397c065ba' } }
process { withName: 'STAR_ALIGN' { container = 'community.wave.seqera.io/library/htslib_samtools_star_gawk:311d422a50e6d829' } }
process { withName: 'STAR_ALIGN_IGENOMES' { container = 'community.wave.seqera.io/library/star_samtools_gawk:bef5708b1c54889a' } }
process { withName: 'STAR_GENOMEGENERATE' { container = 'community.wave.seqera.io/library/htslib_samtools_star_gawk:311d422a50e6d829' } }
process { withName: 'STAR_GENOMEGENERATE_IGENOMES' { container = 'community.wave.seqera.io/library/star_samtools_gawk:bef5708b1c54889a' } }
process { withName: 'STRINGTIE_STRINGTIE' { container = 'community.wave.seqera.io/library/stringtie:2.2.3--3c30041821e5a79a' } }
process { withName: 'SUBREAD_FEATURECOUNTS' { container = 'community.wave.seqera.io/library/subread:2.0.6--1968a7457b0ed34e' } }
process { withName: 'SUMMARIZEDEXPERIMENT_SUMMARIZEDEXPERIMENT' { container = 'community.wave.seqera.io/library/bioconductor-summarizedexperiment:1.32.0--13051b66560c2065' } }
process { withName: 'TRIMGALORE' { container = 'community.wave.seqera.io/library/cutadapt_trim-galore_pigz:a98edd405b34582d' } }
process { withName: 'TXIMETA_TXIMPORT' { container = 'community.wave.seqera.io/library/bioconductor-tximeta:1.20.1--cd025af46d4ef23a' } }
process { withName: 'UCSC_BEDCLIP' { container = 'community.wave.seqera.io/library/ucsc-bedclip:377--41de764ea1c26af4' } }
process { withName: 'UCSC_BEDGRAPHTOBIGWIG' { container = 'community.wave.seqera.io/library/ucsc-bedgraphtobigwig:469--f66c00635e28f216' } }
process { withName: 'UMICOLLAPSE' { container = 'community.wave.seqera.io/library/umicollapse:1.1.0--74864b350c72f3a0' } }
process { withName: 'UMITOOLS_DEDUP' { container = 'community.wave.seqera.io/library/umi_tools:1.1.5--a4e9770134f31e60' } }
process { withName: 'UMITOOLS_EXTRACT' { container = 'community.wave.seqera.io/library/umi_tools:1.1.5--a4e9770134f31e60' } }
process { withName: 'UMITOOLS_PREPAREFORRSEM' { container = 'community.wave.seqera.io/library/umi_tools:1.1.5--a4e9770134f31e60' } }
process { withName: 'UNTAR' { container = 'community.wave.seqera.io/library/grep_sed_tar:4f61255d5eff93dc' } }
