ext.args   = { params.extra_fastp_args ?: '' }
publishDir = [
    [
        path: { "${params.outdir}/${params.trimmer}" },
        mode: params.publish_dir_mode,
        pattern: "*.{json,html}"
    ],
    [
        path: { "${params.outdir}/${params.trimmer}/log" },
        mode: params.publish_dir_mode,
        pattern: "*.log"
    ],
    [
        path: { "${params.outdir}/${params.trimmer}" },
        mode: params.publish_dir_mode,
        pattern: "*.fastq.gz",
        saveAs: { params.save_trimmed ? it : null }
    ]
]