ext.args   = {
    [
        "--fastqc_args '-t ${task.cpus}'",
        params.extra_trimgalore_args ? params.extra_trimgalore_args.split("\\s(?=--)") : ''
    ].flatten().unique(false).join(' ').trim()
}
publishDir = [
    [
        path: { "${params.outdir}/${params.trimmer}/fastqc" },
        mode: params.publish_dir_mode,
        pattern: "*.{html,zip}"
    ],
    [
        path: { "${params.outdir}/${params.trimmer}" },
        mode: params.publish_dir_mode,
        pattern: "*.fq.gz",
        saveAs: { params.save_trimmed ? it : null }
    ],
    [
        path: { "${params.outdir}/${params.trimmer}" },
        mode: params.publish_dir_mode,
        pattern: "*.txt"
    ]
]