if (!params.skip_qc) {
    if (params.contaminant_screening in ['sylph']) {
        process {
            withName: 'SYLPHTAX_TAXPROF' {
                publishDir = [
                    path: { "${params.outdir}/${params.aligner}/contaminants/sylph" },
                    mode: params.publish_dir_mode
                ]
            }
        }
    }
}