if (!params.skip_alignment && !params.skip_bigwig) {
    
    process {
        withName: 'BEDTOOLS_GENOMECOV_FW' {
            ext.prefix = meta.strandedness == 'reverse' ? meta.id + '.reverse' :  meta.id + '.forward' 
            ext.args   = '-split -du -strand + -bg'
            publishDir = [
                enabled: false
            ]
        }
        withName: 'BEDTOOLS_GENOMECOV_REV' {
            ext.prefix = meta.strandedness == 'reverse' ? meta.id + '.forward' :  meta.id + '.reverse' 
            ext.args   = '-split -du -strand - -bg'
            publishDir = [
                enabled: false
            ]
        }
        withName: 'BEDTOOLS_SORT_FW|BEDTOOLS_SORT_REV' {
            publishDir = [
                enabled: false
            ]
        }
    }
}
