if (!params.skip_linting) {
    process {
        withName: 'FQ_LINT' {
            ext.args = "--lint-mode panic"
            publishDir = [
                path: { params.save_linting_log ? "${params.outdir}/fastq_lint" : params.outdir },
                path: { params.save_linting_log ? "${params.outdir}/fq_lint" : params.outdir },
                mode: params.publish_dir_mode,
                saveAs: { filename -> (filename.endsWith('.fq_lint.txt') && params.save_linting_log) ? filename : null }
            ]
        }
    }
}