process {
    // Parabricks rnafq2bam requires more memory
    withName: 'PARABRICKS_RNAFQ2BAM' {
        ext.args = params.module_args
        accelerator.request = 1
        memory = 30.GB
    }

    // Parabricks requires STAR version 2.7.2a
    withName: 'STAR_GENOMEGENERATE' {
        conda = 'bioconda::htslib=1.21 bioconda::samtools=1.21 bioconda::star=2.7.2a conda-forge::gawk=5.1.0'
        container = {
            (workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container)
            ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/90/90e5dfb6f785d74101a62b11668bb53a7020647ddda2df959c7c18023ee5c591/data'
            : 'community.wave.seqera.io/library/htslib_samtools_star_gawk:4de2f983041d42e6'
        }
    }
}
