// IMPORTANT: Add this configuration to your modules.config

process {
    withName: ".*BAM_NGSCHECKMATE:BCFTOOLS_MPILEUP" {
        ext.args2 = '--no-version --ploidy 1 -c'
        ext.args3 = '--no-version'
    }

    withName: ".*BAM_NGSCHECKMATE:NGSCHECKMATE_NCM" {
        ext.args = '-V'
    }

}
