process.ext.args   = '--num_alignments 1 -v'
process.publishDir = [
    [
        path: "${params.outdir}/sortmerna",
        mode: params.publish_dir_mode,
        pattern: "*.log"
    ],
    [
        path: "${params.outdir}/sortmerna",
        mode: params.publish_dir_mode,
        pattern: "*.fastq.gz",
        saveAs: { params.save_non_ribo_reads ? it : null }
    ]
]
