process.ext.args   = [
    '--star',
    '--star-output-genome-bam',
    '--star-gzipped-read-file',
    '--estimate-rspd',
    '--seed 1'
].join(' ').trim()

process.publishDir = [
    [
        path: { "${params.outdir}/${params.aligner}" },
        mode: params.publish_dir_mode,
        pattern: "*.{stat,results}"
    ],
    [
        path: { "${params.outdir}/${params.aligner}" },
        mode: params.publish_dir_mode,
        pattern: "*.bam",
        saveAs: { params.save_align_intermeds ? it : null }
    ],
    [
        path: { "${params.outdir}/${params.aligner}/log" },
        mode: params.publish_dir_mode,
        pattern: "*.log"
    ]
]