if (!params.skip_stringtie) {
    process {
        withName: 'STRINGTIE_STRINGTIE' {
            ext.args   = { [
                '-v',
                params.stringtie_ignore_gtf ? '' : '-e'
            ].join(' ').trim() }
            publishDir = [
                path: { "${params.outdir}/${params.aligner}/stringtie" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
}
