publishDir = [
    [
        path: { "${params.outdir}/${params.aligner}/rseqc/junction_saturation/pdf" },
        mode: params.publish_dir_mode,
        pattern: '*.pdf'
    ],
    [
        path: { "${params.outdir}/${params.aligner}/rseqc/junction_saturation/rscript" },
        mode: params.publish_dir_mode,
        pattern: '*.r'
    ]
]