publishDir = [
    [
        path: { "${params.outdir}/${params.aligner}/rseqc/inner_distance/txt" },
        mode: params.publish_dir_mode,
        pattern: '*.txt',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ],
    [
        path: { "${params.outdir}/${params.aligner}/rseqc/inner_distance/pdf" },
        mode: params.publish_dir_mode,
        pattern: '*.pdf'
    ],
    [
        path: { "${params.outdir}/${params.aligner}/rseqc/inner_distance/rscript" },
        mode: params.publish_dir_mode,
        pattern: '*.r'
    ]
]