process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: SENTIEON_RSEMPREPAREREFERENCE {
        ext.args = '--star'
    }

    withName: SENTIEON_RSEMCALCULATEEXPRESSION {
        ext.args = '--star --star-gzipped-read-file'
    }

}

env {
    // NOTE This is how pipeline users will use Sentieon in real world use
    SENTIEON_LICENSE = "$SENTIEON_LICSRVR_IP"
    // NOTE This should only happen in GitHub actions or nf-core MegaTests
    SENTIEON_AUTH_MECH = "$SENTIEON_AUTH_MECH"
    SENTIEON_AUTH_DATA = secrets.SENTIEON_AUTH_DATA
    // NOTE This is how pipeline users will test out Sentieon with a license file
    // nextflow secrets set SENTIEON_LICENSE_BASE64 \$(cat <sentieon_license_file.lic> | base64 -w 0)
}
