process {

    withName: STAR_GENOMEGENERATE_IGENOMES {
        ext.args = '--genomeSAindexNbases 9'
    }

    withName: STAR_ALIGN_IGENOMES {
        ext.args = '--readFilesCommand zcat --outSAMtype BAM Unsorted --outSAMunmapped Within --outBAMcompression 0 --outFilterMultimapNmax 50 --peOverlapNbasesMin 10 --alignSplicedMateMapLminOverLmate 0.5 --alignSJstitchMismatchNmax 5 -1 5 5 --chimSegmentMin 10 WithinBAM HardClip --chimJunctionOverhangMin 10 --chimScoreDropMax 30 --chimScoreJunctionNonGTAG 0 --chimScoreSeparation 1 --chimSegmentReadGapMax 3 --chimMultimapNmax 50 --chimOutType Junctions'
    }

}

// Fix chown issue for the output star folder
docker.runOptions = '--platform=linux/amd64 -u $(id -u):$(id -g)'
