process {
    withName: 'QUANTIFY_PSEUDO_ALIGNMENT:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:CUSTOM_TX2GENE' {
        ext.prefix = { "${quant_type}.merged" }
    }

    withName: 'QUANTIFY_PSEUDO_ALIGNMENT:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:TXIMETA_TXIMPORT' {
        ext.prefix = { "${quant_type}.merged" }
    }

    withName: 'QUANTIFY_PSEUDO_ALIGNMENT:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:SE_GENE_UNIFIED' {
        ext.prefix = { "${meta.id}_gene" }
        ext.args = '--assay_names counts,counts_length_scaled,counts_scaled,lengths,tpm'
    }

    withName: 'QUANTIFY_PSEUDO_ALIGNMENT:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:SE_TRANSCRIPT_UNIFIED' {
        ext.prefix = { "${meta.id}_transcript" }
        ext.args = '--assay_names counts,lengths,tpm'
    }
}
