ext.args   = 'build=1 ambiguous2=all maxindel=150000'
publishDir = [
    [
        path: { "${params.outdir}/bbsplit" },
        mode: params.publish_dir_mode,
        pattern: '*.txt'
    ],
    [
        path: { "${params.outdir}/bbsplit" },
        mode: params.publish_dir_mode,
        pattern: '*.fastq.gz',
        saveAs: { params.save_bbsplit_reads ? it : null }
    ]
]