process {
    withName: 'RSEM_PREPAREREFERENCE' {
        ext.args = '--star'
    }

    withName: 'QUANTIFY_RSEM:RSEM_CALCULATEEXPRESSION' {
        ext.args = '--star --star-gzipped-read-file'
    }

    withName: 'QUANTIFY_RSEM:CUSTOM_RSEMMERGECOUNTS' {
        ext.prefix = { "rsem.merged" }
    }

    withName: 'QUANTIFY_RSEM:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:CUSTOM_TX2GENE' {
        ext.prefix = { "rsem.merged" }
    }

    withName: 'QUANTIFY_RSEM:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:TXIMETA_TXIMPORT' {
        ext.prefix = { "rsem.merged" }
    }

    withName: 'QUANTIFY_RSEM:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:SE_GENE_UNIFIED' {
        ext.prefix = { "${meta.id}_gene" }
        ext.args = '--assay_names counts,counts_length_scaled,counts_scaled,lengths,tpm'
    }

    withName: 'QUANTIFY_RSEM:QUANT_TXIMPORT_SUMMARIZEDEXPERIMENT:SE_TRANSCRIPT_UNIFIED' {
        ext.prefix = { "${meta.id}_transcript" }
        ext.args = '--assay_names counts,lengths,tpm'
    }
}
