name: nf-core CI
# This workflow is triggered on pushes and PRs to the repository.
# It runs the pipeline with the minimal test dataset to check that it completes without any syntax errors
on: [push, pull_request]

jobs:

  setup:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Has Docker / Conda changed?
      uses: technote-space/get-diff-action@v1
      with:
        PREFIX_FILTER: |
          Dockerfile
          environment.yml

    - name: Build new docker image
      if: env.GIT_DIFF
      run: docker build . -t nfcore/rnaseq:dev

    - name: Pull docker image
      if: ! env.GIT_DIFF
      run: |
        docker pull nfcore/rnaseq:dev
        docker tag nfcore/rnaseq:dev nfcore/rnaseq:dev

  test:
    needs: setup
    runs-on: ubuntu-latest
    strategy:
      matrix:
        nxf_ver: ['19.10.0', '']
        aligner: ["--aligner 'hisat2'", "--aligner 'star'", "--pseudo_aligner 'salmon'"]
        options: ['--skipQC', '--remove_rRNA', '--saveUnaligned', '--skipTrimming', '--star_index false']
    steps:

      - name: Install Nextflow
        run: |
          export NXF_VER=${{ matrix.nxf_ver }}
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/

      - name: Basic workflow tests
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,docker ${{ matrix.aligner }} ${{ matrix.options }}

      - name: Basic workflow, gzipped input
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test_gz,docker ${{ matrix.aligner }} ${{ matrix.options }}
