if (!params.skip_qc) {
    if (!params.skip_qualimap) {
        process {
            withName: 'SAMTOOLS_SORT_QUALIMAP' {
                ext.args = '-n'
                ext.prefix = { "${meta.id}.namesorted" }
                publishDir = [
                    enabled: false
                ]
            }

            withName: 'QUALIMAP_RNASEQ' {
                ext.args = '--sorted'
                publishDir = [
                    path: { "${params.outdir}/${params.aligner}/qualimap" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }
    }
}
